/**
 * peak_lightning - Generates the assets used for Peak Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-button + .slds-button {
  margin-left: 0;
}
.THIS .slds-is-open {
  background-color: #efefef;
}