.THIS .slds-page-header{
	background:white;
	border-radius: 5px;
}

.THIS .section{
	background:white;
	border: 1px solid black;
    border-radius:15px;											   
}

.THIS .button{
	display:inline-block;
}

.THIS .section {    
    border: 1px solid black;
    border-radius:15px;
    
}