<template>
    <lightning-card >
            <h3 slot="title">
                    <lightning-icon icon-name="custom:custom63" size="small" class="slds-m-right_x-small"></lightning-icon>
                    <b>Customer Service Notes</b>
                </h3>
        <div class="slds-m-around_medium">
            
    
    <p><b>{name} </b></p> 
    <template if:true={updateVisibility}>
        <lightning-record-edit-form   record-id={recordData} object-api-name="ServiceNotes__c" onsuccess={handleSucess}>
            <lightning-messages>
            </lightning-messages>
            <lightning-input-field field-name="NotificationMessage__c">
            </lightning-input-field>
                <lightning-button
                    class="slds-m-top_small"
                    type="submit"
                    label="Update" 
                    >
                </lightning-button>
        </lightning-record-edit-form>
    </template>
    
        
         
    
        </div>
    </lightning-card>
</template>