<template>
    <div style="height: 1300px;">
        <lightning-card title="Service Territories" icon-name="standard:service_territory_member">
            <lightning-datatable
                    key-field="id"
                    data={service.data}
                    columns={columns1}
                    min-column-width="100"
                    max-column-width="250" 
                    hide-checkbox-column = "true"
                        >
            </lightning-datatable>
        </lightning-card>   
        <lightning-card title="Skills" icon-name="standard:skill">
            <lightning-datatable
                    key-field="id"
                    data={data.data}
                    columns={columns}
                    min-column-width="100"
                    max-column-width="250" 
                    hide-checkbox-column = "true"
                        >
            </lightning-datatable>
        </lightning-card>      
    </div>   
</template>