<template>
    <lightning-button label="Add Daylight Product" onclick={handleCopyToClickboardEvent}></lightning-button>
    <div if:true={showIframe}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeIframe}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Configurator Data</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2" >
                    <!-- <div style="margin-bottom: 10px;">
                        <lightning-progress-indicator current-step={currentPathStep} type="path" variant="base">
                            <lightning-progress-step label="Configure" value="1" onclick={stepNavigate}></lightning-progress-step>
                            <lightning-progress-step label="Price" value="2" onclick={stepNavigate}></lightning-progress-step>
                            <lightning-progress-step label="Quote" value="3" onclick={stepNavigate}></lightning-progress-step>
                        </lightning-progress-indicator>
                    </div> -->
                    <div if:false={showSplitLines}>
                        <!-- <div if:false={openConfigData}>  -->
                            <c-cpq-iframe daylight-response={daylightResponse}></c-cpq-iframe>
                        <!-- </div> -->
                        <div if:true={openConfigData} style="margin-top: 30px">
                            <c-config-summary if:true={returnedConfigData} returned-config-data={returnedConfigData}></c-config-summary>
                        </div>
                    </div>
                    <div if:true={showSplitLines}>
                        <div class="slds-align_absolute-center splitLineHeader">SPLIT LINES</div>
                        <div for:each={splitLines} for:item="split" key={split}>
                            <c-split-line-parent split-parent={split}></c-split-line-parent>
                        </div>
                    </div>
                </div>
            
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeIframe} title="Return to Order">Return to Order</button>
                    <!-- <button class="slds-button slds-button_neutral" onclick={viewSummary} title="View Configuration Summary" disabled={disableConfigViewButton}>View Configuration Summary</button>
                    <button class="slds-button slds-button_neutral" onclick={getSplitLines} title="View Split Lines" >View Split Lines</button> -->
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>