<!--
  @Component Name     : errorPanel.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 3/6/2019, 6:22:10 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    2/13/2019, 12:41:55 PM   Demand Chain (James Loghry)     Initial Version
-->
<template>
    <template if:true={messages}>
        <lightning:card>
            <div class="slds-p-around_medium error">
                <lightning-icon icon-name="utility:error"></lightning-icon>
                <template for:each={messages} for:item="message">
                    <p key={message}>{message}</p>
                </template>
            </div>
        </lightning:card>
    </template>
</template>