<!-- <template>
    <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium"> -->

<!-- first column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.widthInches}>
                <lightning-input name="Width_Inches__c" class='Width_Inches__c' type="number" step="1" onchange={haandlehange} label="Width Inches">
                </lightning-input>
            </div>
        </lightning-layout-item> -->

<!-- second column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.widthFractions}>
                <lightning-combobox name="Width_Fraction__c" class='Width_Fraction__c' label="Width Fraction" onfocus={handleFocus} onchange={haandlehange}
                dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionlist}></lightning-combobox>
            </div>
        </lightning-layout-item> -->

<!-- third column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.heightInches}>
                <lightning-input name="Height_Inches__c" class='Height_Inches__c' type="number" step="1" onchange={haandlehange} label="Height Inches"></lightning-input>
            </div>
        </lightning-layout-item> -->
<!-- fourth column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.heightFractions}>
                <lightning-combobox name="Height_Fraction__c" class='Height_Fraction__c' label="Height Fraction" onfocus={handleFocus} onchange={haandlehange}
                dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionlist}></lightning-combobox>
            </div>
        </lightning-layout-item>  -->

<!-- first column 2nd row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.leftLegInches}>
                <lightning-input name="Left_Leg_Inches__c" class='Left_Leg_Inches__c' type="number" step="1" onchange={haandlehange}
                    label="Left Leg Inches"></lightning-input>
            </div>
        </lightning-layout-item> -->

<!-- second column 2nd row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.leftLegFractions}>
                <lightning-combobox name="Left_Leg_Fraction__c" class='Left_Leg_Fraction__c' label="Left Leg Fraction" onfocus={handleFocus} onchange={haandlehange}  
                dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionlist}>
                </lightning-combobox>
            </div>
        </lightning-layout-item> -->

<!-- third column 2nd row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.rightLegInches}>
                <lightning-input name="Right_Leg_Inches__c" class='Right_Leg_Inches__c' type="number" step="1" onchange={haandlehange}
                    label="Right Leg Inches"></lightning-input>
            </div>
        </lightning-layout-item> -->

<!-- fourth column 2nd row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.rightLegFractions}>
                <lightning-combobox name="Right_Leg_Fraction__c" class='Right_Leg_Fraction__c' label="Right Leg Fraction" onfocus={handleFocus} onchange={haandlehange}
                dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionlist}>
                </lightning-combobox>
            </div>
        </lightning-layout-item>

    </lightning-layout>
    <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">

        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
           
        </lightning-layout-item> -->
<!-- first column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.midPointInches}>
                <lightning-input name="Mid_Point_Height_Inches__c" class='Mid_Point_Height_Inches__c' type="number"  step="1" onchange={haandlehange} label="Mid Point  Inches">
                </lightning-input>
            </div>
        </lightning-layout-item> -->

<!-- second column 1st row-->
<!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
            <div if:true={shape.midPointFractions}>
                <lightning-combobox name="Mid_Point_Height_Fractions__c" class='Mid_Point_Height_Fractions__c'   label="Mid Point  Fractions" onfocus={handleFocus} onchange={haandlehange}
                dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionlist}></lightning-combobox>
            </div>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
           
        </lightning-layout-item>
        </lightning-layout> -->
<!-- </template> -->
<template>
<!-- <div data-my-id='custId1' class='specdum'> -->
  <lightning-layout
    horizontal-align="spread"
    multiple-rows="true"
    pull-to-boundary="medium"
  >
    <!-- first column 1st row-->
    <lightning-layout-item
      flexibility="auto"
      padding="horizontal-medium"
      size="3"
    >
      <div if:true={productfieldcontrol.Width_Inches__c}>
        <lightning-input data-id="Width_Inches__c"
        
          name="Width_Inches__c"
          class="Width_Inches__c"
          type="number"
          step="1"
          onchange={haandlehange}
          label="Width Inches"
        >
        </lightning-input>
      </div>
    </lightning-layout-item>

    <!-- second column 1st row-->
    <lightning-layout-item
      flexibility="auto"
      padding="horizontal-medium"
      size="3"
    >
      <!-- <div if:true={productfieldcontrol.Width_Fraction__c}> -->
        <lightning-combobox
        if:true={productfieldcontrol.Width_Fraction__c}
          name="Width_Fraction__c"
          id="Width_Fraction__c"
          title="Width_Fraction__c"
          class="Width_Fraction__c"
          label="Width Fraction"
          onfocus={handleFocus}
          onchange={haandlehange}
          dropdown-alignment="auto"
          placeholder="--Select--"
          value={value}
          options={fractionlist}
        ></lightning-combobox>
      <!-- </div> -->
    </lightning-layout-item>

    <!-- third column 1st row-->
    <lightning-layout-item
      flexibility="auto"
      padding="horizontal-medium"
      size="3"
    >
      <div if:true={productfieldcontrol.Height_Inches__c}>
        <lightning-input
          name="Height_Inches__c"
          id="Height_Inches__c"
          title="Height_Inches__c"
          class="Height_Inches__c"
          type="number"
          step="1"
          onchange={haandlehange}
          label="Height Inches"
        ></lightning-input>
      </div>
    </lightning-layout-item>
    <!-- fourth column 1st row-->
    <lightning-layout-item
      flexibility="auto"
      padding="horizontal-medium"
      size="3"
    >
      <div if:true={productfieldcontrol.Height_Fraction__c}>
        <lightning-combobox
          name="Height_Fraction__c"
          class="Height_Fraction__c"
          label="Height Fraction"
          onfocus={handleFocus}
          onchange={haandlehange}
          dropdown-alignment="auto"
          placeholder="--Select--"
          value={value}
          options={fractionlist}
        ></lightning-combobox>
      </div>
    </lightning-layout-item>

    <!-- first column 2nd row-->
      <lightning-layout-item
      if:false={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Left_Leg_Inches__c}>
          <lightning-input
            name="Left_Leg_Inches__c"
            class="Left_Leg_Inches__c"
            type="number"
            step="1"
            onchange={haandlehange}
            label="Left Leg Inches"
          ></lightning-input>
        </div>
      </lightning-layout-item>

      <!-- second column 2nd row-->
      <lightning-layout-item
      if:false={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Left_Leg_Fraction__c}>
          <lightning-combobox
            name="Left_Leg_Fraction__c"
            class="Left_Leg_Fraction__c"
            label="Left Leg Fraction"
            onfocus={handleFocus}
            onchange={haandlehange}
            dropdown-alignment="auto"
            placeholder="--Select--"
            value={value}
            options={fractionlist}
          >
          </lightning-combobox>
        </div>
      </lightning-layout-item>

      <!-- third column 2nd row-->
      <lightning-layout-item
      if:false={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Right_Leg_Inches__c}>
          <lightning-input
            name="Right_Leg_Inches__c"
            class="Right_Leg_Inches__c"
            type="number"
            step="1"
            onchange={haandlehange}
            label="Right Leg Inches"
          ></lightning-input>
        </div>
      </lightning-layout-item>

      <!-- fourth column 2nd row-->
      <lightning-layout-item
      if:false={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Right_Leg_Fraction__c}>
          <lightning-combobox
            name="Right_Leg_Fraction__c"
            class="Right_Leg_Fraction__c"
            label="Right Leg Fraction"
            onfocus={handleFocus}
            onchange={haandlehange}
            dropdown-alignment="auto"
            placeholder="--Select--"
            value={value}
            options={fractionlist}
          >
          </lightning-combobox>
        </div>
      </lightning-layout-item>
      <lightning-layout-item
      if:true={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Right_Leg_Inches__c}>
          <lightning-input
            name="Right_Leg_Inches__c"
            class="Right_Leg_Inches__c"
            type="number"
            step="1"
            onchange={haandlehange}
            label="Leg Inches"
          ></lightning-input>
        </div>
      </lightning-layout-item>
      <lightning-layout-item
      if:true={isRightTriangle}
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Right_Leg_Fraction__c}>
          <lightning-combobox
            name="Right_Leg_Fraction__c"
            class="Right_Leg_Fraction__c"
            onchange={haandlehange}
            label="Leg Fraction"
            dropdown-alignment="auto"
            placeholder="--Select--"
            value={value}
            options={fractionlist}
          >
          </lightning-combobox>
        </div>
      </lightning-layout-item>
    <!-- Vertical Column Layout  -->
  </lightning-layout>
  <lightning-layout
      horizontal-align="spread"
      multiple-rows="true"
      pull-to-boundary="medium"
    >
      <lightning-layout-item
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
      </lightning-layout-item>
      <!-- first column 1st row -->
      <lightning-layout-item
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Mid_Point_Height_Inches__c}>
          <lightning-input
            name="Mid_Point_Height_Inches__c"
            class="Mid_Point_Height_Inches__c"
            type="number"
            disabled
            step="1"
            onchange={haandlehange}
            label="Mid Point  Inches"
          >
          </lightning-input>
        </div>
      </lightning-layout-item>

      <!-- second column 1st row -->
      <lightning-layout-item
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
        <div if:true={productfieldcontrol.Mid_Point_Height_Fractions__c}>
          <lightning-combobox
            name="Mid_Point_Height_Fractions__c"
            class="Mid_Point_Height_Fractions__c"
            disabled
            label="Mid Point  Fractions"
            onfocus={handleFocus}
            onchange={haandlehange}
            dropdown-alignment="auto"
            placeholder="--Select--"
            value={value}
            options={fractionlist}
          ></lightning-combobox>
        </div>
      </lightning-layout-item>
      <lightning-layout-item
        flexibility="auto"
        padding="horizontal-medium"
        size="3"
      >
      </lightning-layout-item>
    </lightning-layout>
<!-- </div> -->
</template>