<template>
        
    <c-navigation-component 
    record-name = {typeAttributes.field1}
    record-id = {typeAttributes.field2}
    record-url = {typeAttributes.field3}
    >

    </c-navigation-component>
    
</template>