.THIS .pricing-text{
     background-color: white;
    padding-top: 5px;
    /*font-family: "Proxima Nova";*/
    font-size: 16px;
}
.THIS .paymentMsg{
    padding-top: 5px;
    width: 100%;
}

.THIS .seperator{
    height: 12px;
    border-bottom: 1px solid token(colorBorder);
}

.THIS.container {
    background-color: #E6E6E6; 
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.THIS .payment-summary {	
    color:token(colorTextLabel);	
    /*font-family: "Proxima Nova";*/
    font-weight: strong;
    font-size: 18px;	
    line-height: 1.25;
    font-weight: bold;
    text-align: center;
}
.THIS .section-header{
    /*font-family:inherit !important ;*/
    margin-bottom:8px;
}
.THIS.payment-summary11 {	
    height: 14px;	
    width: 176px;	
    color: token(colorTextLabel);	
    /*font-family: "Proxima Nova";*/	
    font-size: 18px;	
    font-weight: bold;	
   line-height: 1.25;		
    text-align: center;
}
.THIS .sec-border{
    border: 1px solid token(colorBorder);
    background:#fff;
}
.THIS .saving-text {
    color: token(colorTextLink);
    text-transform: uppercase;
   	font-size: 18px;
}
.THIS .line11{
  	     color: token(colorTextLabel); 
}
.THIS .line{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: .025em;
  border-style: inset;
  border-width: 1px;
    background-color: white;
}
.THIS .PaymentSec{
    padding-top: 5px;
    font-size: 16px;
}
.THIS .section-border{
    border-radius:6px !important;
}
.THIS .color{
   /*height: 14px;	*/
   background-color: white;
    color:token(colorTextBrand);	
    /*font-family: "Proxima Nova";	*/
    font-size: 18px;	
    font-weight: bold;	
   
}