<template>
    <div class="slds-align_absolute-center" style="font-size:20px">SPLIT LINES</div>
    <div if:true={splitLines} for:each={splitLines} for:item="split" key={split}>
        <c-split-line-parent split-parent={split}></c-split-line-parent>
    </div>
</template>