<template>
   <div if:true={att} class="attributeStyling">
       <div if:true={att.Name} style="margin-right: 10px;">{att.Name}: </div>
       <div if:true={att.Value} style="margin-right: 10px;"><strong>{att.Value}</strong></div>
   </div> 
   <div for:each={att.Attributes} for:item="attribute" key={attribute} style="margin-left: 30px;">
      <c-split-line-attributes att={attribute}></c-split-line-attributes>
   </div>
</template>