<!--
  @Component Name     : modal.html
  @Description        : 
  @Author             : phUser@phDomain.com
  @Group              : 
  @Last Modified By   : Demand Chain (James Loghry)
  @Last Modified On   : 2/6/2019, 10:24:42 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/9/2019, 5:13:27 PM   phUser@phDomain.com     Initial Version
-->
<template>
    <template if:true={visible}>
        <div>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open {modalSizeCSS}">
                <div class="slds-modal__container">
                    <template if:true={showHeader}>
                        <header class="slds-modal__header">
                            <lightning-button-icon variant="bare-inverse" class="slds-modal__close" icon-name="utility:close" onclick={close}></lightning-button-icon>
                            <h2 class="slds-text-heading_medium slds-hyphenate">
                                <slot name="header"></slot>
                            </h2>
                        </header>
                    </template>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <slot name="content"></slot>
                    </div>
                    <footer class="slds-modal__footer">
                        <slot name="footer"></slot>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>