<template>
  <div
    if:true={serviceProduct}
    class="slds-grid slds-grid_vertical-align-center slds-gutters"
    style="width: 100%"
    key={serviceProduct.product.Service_Product__r.Name}
  >
    <div
      class="slds-col slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 5%"
    >
      <label class="slds-form-element__label"></label>
      <lightning-input
        type="checkbox"
        value={isSelected}
        name={serviceProduct.rowIdentifier}
        onchange={setSelectedValue}
        checked={isSelected}
      >
      </lightning-input>
    </div>
    <div
      class="slds-col slds-size_2-of-12 slds-var-m-bottom_medium"
      style="width: 15%"
    >
      <label class="slds-form-element__label"></label>
      <div>{serviceProduct.product.Service_Product__r.Name}</div>
    </div>
    <div
      class="slds-col slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 15%"
    >
      <div class="slds-grid">
        <div if:true={isSelected}>
          <lightning-combobox
            name={serviceProduct.rowIdentifier}
            value={serviceProduct.mtoSourceCode}
            placeholder="Select MTO Source Code"
            options={mtoDoorOptions}
            onchange={handleMTOChange}
            if:true={asset.isDoor}
            dropdown-alignment="auto"
          >
          </lightning-combobox>
          <lightning-combobox
            name={serviceProduct.rowIdentifier}
            value={serviceProduct.mtoSourceCode}
            placeholder="Select MTO Source Code"
            options={mtoWindowOptions}
            onchange={handleMTOChange}
            if:false={asset.isDoor}
            dropdown-alignment="auto"
          >
          </lightning-combobox>
        </div>
      </div>
    </div>
    <div
      class="slds-col slds-size_2-of-12 slds-var-m-bottom_medium"
      style="width: 13%"
    >
      <lightning-combobox
        name={serviceProduct.rowIdentifier}
        value={responsibilitySelected}
        placeholder="Select Responsibilty"
        options={options}
        onchange={handleResponsibilityChange}
        if:true={isSelected}
        dropdown-alignment="auto"
      >
      </lightning-combobox>
    </div>

    <div
      class="slds-col slds-size_2-of-12 slds-var-m-bottom_medium"
      style="width: 15%"
    >
      <lightning-combobox
        name={serviceProduct.rowIdentifier}
        value={chargeToSelectedId}
        placeholder="Select Defect Code"
        options={defectCodeOption}
        onchange={setChargeCostTo}
        if:true={isSelected}
        dropdown-alignment="auto"
      >
      </lightning-combobox>
    </div>
    <div
      class="slds-col slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 11%"
    >
      <!-- <label class="slds-form-element__label" ></label> -->
      <lightning-combobox
        name={serviceProduct.rowIdentifier}
        value={categorySelected}
        placeholder="Select Source of Defect"
        options={categoryOptions}
        onchange={setCategory}
        if:true={categoryOptions}
        dropdown-alignment="auto"
      >
      </lightning-combobox>
    </div>
    <div
      class="slds-col slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 10%"
    >
     
      <lightning-combobox
        name={serviceProduct.rowIdentifier}
        value={defectDetails}
        placeholder="Select Details"
        options={whatWhereOptions}
        onchange={setWhatWhere}
        if:true={whatWhereOptions}
        dropdown-alignment="auto"
        disabled={dropdownNOTActive}
      >
      </lightning-combobox>
    </div>
    <div
      class="slds-col slds-align-bottom slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 8%"
    >
      <template if:true={serviceProduct.notes}>
        <lightning-button
          class="button-class"
          label="View"
          name={serviceProduct.rowIdentifier}
          onclick={handleAddNotesClick}
          if:true={isSelected}
        >
        </lightning-button>
      </template>
      <template if:false={serviceProduct.notes}>
        <lightning-button
          class="button-class"
          label="Add"
          name={serviceProduct.rowIdentifier}
          onclick={handleAddNotesClick}
          if:true={isSelected}
        >
        </lightning-button>
      </template>
    </div>
    <div
      class="slds-col slds-size_1-of-12 slds-var-m-bottom_medium"
      style="width: 8%"
    >
      <label class="slds-form-element__label"></label>
      <lightning-input
        type="checkbox"
        name={serviceProduct.rowIdentifier}
        onchange={applyToAllProducts}
        if:true={serviceProduct.showApplyall}
      >
      </lightning-input>
    </div>
  </div>
</template>