.THIS .slds-button--neutral{
    background-color:#DB622C;
    border-color:#DB622C;
    font-family:token(fontFamily);
    width:100%;
    height:60px;
    color:white;
}

.THIS .slds-button--neutral:hover{
    background-color:#F9772C;
    border-color:#F9772C;
    font-family:token(fontFamily);
    width:100%;
    color:white;
    height:60px;
}