.THIS .orange-link{ 
    color:var(--lwc-colorTextLink,#F26924); 
    font-size: 30px; 
    line-height: 28px;
}

.THIS .orange{
    color:var(--lwc-colorTextLink,#F26924);
}

.THIS .text-style-one{
    margin-left:1.3em; 
    color:token(colorTextDefault);
}

.THIS .text-style-two{
    color: token(colorTextDefault); 
    line-height: 43px;  
    font-size: 16px;
}

.THIS .text-style-three{
    margin-left:1.3em; 
    color: token(colorTextDefault); 
    line-height: 58px;
}

.THIS .text-style-four{
    margin-left:1.35em; 
    color: token(colorTextDefault); 
    font-size: 16px;
}