.THIS .title-text{
    font-weight: bold; 
    color: token(colorTextDefault); 
    font-size: 1.2rem;
}
.THIS .section {    
      border: 1px token(colorBorder);
      
      height:800px;
}
.THIS .gray-background{
    background: token(colorBorder);
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
}
.THIS .Sec{
    margin: 5px;
	padding: 10px;
}
.THIS .test{
    height:300px;
    width:581px;
}
.THIS .Topmargin{
    padding-top: 7.5rem;
    
}
.THIS .padd-left{
    padding-left: 250px;
}
.THIS .primaryButton{
    background-color:var(--lwc-colorTextLink,#F26924);
    border-color:var(--lwc-colorTextLink,#F26924) !important;
    padding-top:15px;
    padding-bottom:15px;
    color: #FFFFFF;
}
.THIS .leftMargin{
    margin-left: 14px;
}
.THIS .lfMargin{
    margin-left: 210px;
}
.THIS .Size{
    margin: 5px;
	padding: 10px;
}

.THIS .Phonenumber{
    
    color:var(--lwc-colorTextLink,#F26924);	
    font-size: 25px;
    font-weight: bold;
}

.THIS .Phonenumber1{
    
    color: var(--lwc-colorTextLink,#F26924);	
    font-size: 25px;
    font-weight: bold;
}


.THIS .slds-p-horizontal_x-large {
    padding-left: 2rem;
    padding-right: 2.5rem;
}


@media (min-width: 48em){
.THIS .slds-medium-size_3-of-5 {
    width: 57.5%;
    }
}

@media (min-width: 30em) {
.THIS .slds-order_1 { 
        order: 1;
    }

}