.center{
    text-align: center;
}

.teamMemberCard{
    margin: 1px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.defaultAvatar{
    border-color: black;
}

.avatarImage{
    height: 75px;
    width: 75px;
    padding: 2px;
    border-radius: 50%;
    border: 3px solid #f47a3f;
}

.circle button{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.circle{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.layoutitemcontainer{
    height: 75px;
}

.bottom{
    display: table-cell;
    vertical-align: bottom;
}

.iconbuttoncontainer{
    background-color: white;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #f47a3f;
    padding: 2px;
}

.iconbutton{
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background-color: #f47a3f;
    border-radius: 50%;
}

.iconcontainer{
    position: relative;
    height: 75px;
    width: 100%
}

.iconleft{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
}

.iconcenter{
    bottom: 0px;
    margin: 0px auto;
}

.iconright{
    position: absolute;
    top: 0px;
    right: 0px;
}