<!--
  @Component Name     : mySalesTeam.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 20/9/2019, 9:03:32 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/23/2019, 5:51:08 PM   Demand Chain (James Loghry)     Initial Version
-->
<template>
    <template if:true={mySalesTeam}>
        <lightning-layout multiple-rows>
            <template for:each={mySalesTeam} for:item="rep">
                <lightning-layout-item size="3" key={rep.Id} padding="around-small">
                    <div class="teamMemberCard">
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="12" padding="around-small" class="center">
                                <img src={rep.SmallPhotoUrl} class="defaultAvatar avatarImage"></img>
                            </lightning-layout-item>
                            <lightning-layout-item size="12" padding="around-small">
                                <lightning-tile>
                                    <a href="javascript:void(0)" class="slds-text-link_reset">{rep.Name}</a>
                                    <dl class="slds-dl_horizontal">
                                        <dt class="slds-dl_horizontal__label">
                                            <p class="slds-truncate" title="E-mail">Email:</p>
                                        </dt>
                                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                            <template if:true={rep.Contact}>
                                            <p class="slds-truncate" title={rep.Contact.Email}>{rep.Contact.Email}</p> 
                                            </template>
                                        </dd>
                                        <dt class="slds-dl_horizontal__label">
                                                <p class="slds-truncate" title="E-mail">2nd Email:</p>
                                            </dt>
                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <template if:true={rep.Contact}>
                                                <p class="slds-truncate" title={rep.Contact.Secondary_Email__c}>{rep.Contact.Secondary_Email__c}</p> 
                                                </template>
                                            </dd>
                                        <dt class="slds-dl_horizontal__label">
                                            <p class="slds-truncate" title="Phone">Phone:</p>
                                        </dt>
                                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                            <template if:true={rep.Contact}>
                                            <p class="slds-truncate" title={rep.Contact.Phone}>{rep.Contact.Phone}</p>
                                            </template>
                                        </dd>
                                        <dt class="slds-dl_horizontal__label">
                                            <p class="slds-truncate" title="Mobile">Mobile:</p>
                                        </dt>
                                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                            <template if:true={rep.Contact}>
                                            <p class="slds-truncate" title={rep.Contact.MobilePhone}>{rep.Contact.MobilePhone}</p>
                                            </template>
                                        </dd>
                                        <dt class="slds-dl_horizontal__label">
                                                <p class="slds-truncate" title="Mobile">Address:</p>
                                            </dt>
                                            <dd class="slds-dl_horizontal__detail slds-tile__meta">
                                                <template if:true={rep.Contact}>
                                                <template if:true={rep.Contact.MailingStreet}>
                                                        <p class="slds-truncate" title={rep.Address}>{rep.Contact.MailingStreet}</p>
                                                </template>
                                                <p class="slds-truncate" title={rep.Address}>
                                                    <span>{rep.Contact.MailingCity}, {rep.Contact.MailingState} {rep.Contact.MailingPostalCode}</span>
                                                </p>
                                                </template>
                                            </dd>
                                    </dl>
                                </lightning-tile>
                            </lightning-layout-item>
                            <lightning-layout-item size="12"><!--  -->
                                <lightning-layout vertical-align="stretch" horizontal-align="center" > <!--   vertical-align="stretch" horizontal-align="center" -->
                                    <!--<lightning-layout-item padding="around-small" class="center">
                                        <div class="layoutitemcontainer">
                                            <div class="iconbuttoncontainer">
                                                <div class="iconbutton">
                                                    <lightning-icon icon-name="utility:dayview" variant="inverse" size="medium"></lightning-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </lightning-layout-item>-->
                                    <lightning-layout-item padding="around-small" class="center"><!--  padding="around-small" class="center" -->
                                        <div class="layoutitemcontainer">
                                            <div class="iconbuttoncontainer">
                                                <div class="iconbutton">
                                                    <c-link domain="/rForceARO/apex/SalesSchedRepCalendar?id=" parameters={rep.Id}>
                                                        <lightning-icon icon-name="utility:resource_capacity" variant="inverse" size="medium"></lightning-icon>
                                                    </c-link>
                                                </div>
                                            </div>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item padding="around-small" class="center"><!--  padding="around-small" class="center" -->
                                        <div class="layoutitemcontainer">
                                            <div class="iconbuttoncontainer">
                                                <div class="iconbutton">
                                                    <template if:true={rep.Contact}>
                                                    <template if:true={rep.Contact.MobilePhone}>
                                                        <c-link protocol='tel:' domain={rep.Contact.MobilePhone} params=""><lightning-icon icon-name="utility:call" alternative-text="Connected" variant="inverse" size="medium"></lightning-icon></c-link>
                                                    </template>
                                                    <template if:false={rep.Contact.MobilePhone}>
                                                        <template if:true={rep.Contact.Phone}>
                                                            <c-link protocol='tel:' domain={rep.Contact.Phone}><lightning-icon icon-name="utility:call" alternative-text="Connected" variant="inverse" size="medium"></lightning-icon></c-link>
                                                        </template>
                                                    </template>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </template>
</template>