.THIS .order-picker{
    font-size: 18px;
    color: grey;
}
.THIS .changeBGColor
{
    background:var(--lwc-brandNavigationBackgroundColor,rgb(208, 209, 219));
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
    /*width:200px;*/
}