<template>
    <template if:true={showSpinner}>
        <lightning-spinner></lightning-spinner>
    </template>
    <template if:true={serviceAppointment.data}>
        <div class="slds-grid slds-grid_align-spread slds-m-bottom_large">
            <div class="slds-text-heading_large slds-col">{serviceAppointment.data.fields.FSL__GanttLabel__c.value} ({serviceAppointment.data.fields.AppointmentNumber.value})</div>
            <template if:true={isWithinForecastWindow}>
                <div class="slds-col slds-p-right_medium">
                    <lightning-button variant="brand" label="Check Forecast" onclick={refreshForecast}></lightning-button>
                </div>
            </template>
        </div>
        <div class="slds-m-bottom_large">

        </div>
        <div> 
            <template if:true={serviceAppointment.data.fields.Weather_Timestamp__c.value}>
                <div class="slds-m-top_small slds-text-heading_small">Weather Forecast Warnings</div>
                <p class="slds-m-top_small">Forecast last updated at:
                    <lightning-formatted-date-time class="slds-m-left_xx-small"
                    value={serviceAppointment.data.fields.Weather_Timestamp__c.value}
                    year="numeric"
                    month="numeric"
                    day="numeric"
                    hour="2-digit"
                    minute="2-digit"
                    time-zone-name="short"></lightning-formatted-date-time>
                </p>
                <template if:true={serviceAppointment.data.fields.Weather_Forecast_Error__c.value}>
                        <p class="slds-m-top_small"><i>Note: Last attempt to retrieve and process forecast data was unsuccessful.</i></p>
                </template>
                <template if:false={serviceAppointment.data.fields.Weather_Forecast_Warnings__c.value}>
                    <p class="slds-m-top_small">Forecasted weather does not violate any weather forecast thresholds configured on this service territory.</p> 
                </template>
                <template if:true={serviceAppointment.data.fields.Weather_Forecast_Warnings__c.value}>
                    <!-- <div class="slds-m-top_small slds-text-heading_medium">Weather Warnings</div> -->
                    <div>
                        <lightning-datatable
                            key-field="descriptionNumber"
                            data={warnings}
                            columns={columns}
                            hide-checkbox-column>
                        </lightning-datatable>
                    </div>
                    
                    <!-- <div class="slds-m-top_small" title="Column 1">Warning Description:</div> -->
                    <!-- <div class="slds-m-top_xx-small">{serviceAppointment.data.fields.Weather_Forecast_Warnings__c.value}</div> -->
                </template>
            </template>
        </div>
    </template>
    <template if:true={serviceAppointment.error}>
        <p>there were errors</p>
    </template>
</template>