.rto {
    padding-top: 10px;
    float: left;
    width: 49.6%;
}


.po {
    float: right;
    width: 49.6%;
    padding-bottom: 40%;
    padding-top: 10px;
}

.or {
    float: left;
    width: 49.6%;
}