<template>

    <div class="slds-box border" style="background:white">

        <lightning-tabset>

            <lightning-tab label="My Support Cases">
                <div>
                    <lightning-button class="slds-var-m-left_x-small"
                                      label="Go to My Support Cases"
                                      title="Cases Owned By You"
                                      onclick={navigateToMyOpenCasesListView}>
                    </lightning-button>
                </div>
            </lightning-tab>

            <lightning-tab label="Release Notes">
                <div class="slds-card slds-card_boundary">
                    <div class="slds-media slds-p-around_small slds-media_center slds-media_small slds-border_bottom">
                        <div class="slds-media__figure"></div>
                        <div class="slds-media__body">
                            <div class="slds-m-bottom_none slds-p-around_none slds-p-top_none slds-p-right_none slds-p-bottom_none slds-p-left_none slds-text-align_left slds-text-heading_medium">rForce Release Notes</div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                    <div class="slds-media slds-m-around_x-small slds-m-top_x-small slds-m-right_x-small slds-m-bottom_x-small slds-m-left_small slds-media_center">
                        <div class="slds-media__figure"></div>
                        <lightning-datatable key-field="ReleaseDocID"
                                             data={listReleaseDocNames}
                                             columns={columns}
                                             hide-checkbox-column="true">

                            <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>

                        </lightning-datatable>
                    </div>
                    <div class="slds-border_top">
                        <lightning-layout class="slds-p-around_small slds-p-top_small slds-p-right_small slds-p-bottom_small slds-p-left_small" horizontal-align="spread">
                            <lightning-layout vertical-align="center">
                                <lightning-icon class="slds-m-right_small" icon-name="utility:list" size="x-small" variant="default"></lightning-icon>
                                <div class="slds-text-title_caps slds-text-color_default">See all release notes..</div>
                            </lightning-layout>
                        </lightning-layout>
                    </div>
                </div>
            </lightning-tab>

            <lightning-tab label="RenewU">
                <div>
                    <lightning-button class="slds-var-m-left_x-small"
                                      variant="success"
                                      label="Go to RenewU"
                                      title="Click to go RenewU"
                                      onclick={navigateToRenewU}>
                    </lightning-button>
                </div>
            </lightning-tab>

        </lightning-tabset>

    </div>

</template>