.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS .login-button {
    width: 100%;
    color: #fff;
}

.THIS  input {
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 16px;
    margin-bottom: 0px;
    background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));
    color: var(--lwc-colorTextDefault,rgb(0, 23, 34));
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(208, 209, 219));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    width: 100%;
    transition: border var(--lwc-durationQuickly,0.1s) linear,background-color var(--lwc-durationQuickly,0.1s) linear;
    display: inline-block;
    padding: 0 var(--lwc-spacingMedium,1rem) 0 var(--lwc-spacingSmall,0.75rem);
    line-height: var(--lwc-lineHeightButton,1.875rem);
    min-height: calc(2.125rem + 2px);
}


.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}
.THIS .startFromRight
{
    text-align: right;
}
.THIS .align-center
{
    text-align: center;
}