<template>
<!--
    <lightning-card >
        <div> 
			<c-service-request-buttons accid={recordId}
									   storeid ={storeId}
									   errormessage={errorMessage}
									   assetcount={assetExist}
									   account-balance={accountBalance}>
			</c-service-request-buttons>  
        </div> 
		<div class="slds-var-p-around_medium lgc-bg" style="height: 300px;"> 
			<lightning-datatable key-field="Id"
								 data={listServReqs}
								 columns={columns}
								 sorted-direction={sortedDirection}
								 sorted-by={sortedBy}
								 onsort={updateColumnSorting}
								 hide-checkbox-column = "true">
            </lightning-datatable>
		</div>
	</lightning-card>
-->

    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-var-m-right_small" icon-name="custom:custom44" size="small"></lightning-icon>
    <!--
                                        <a onclick={handleViewAllClick} class="slds-card__header-link slds-truncate slds-m-left_small" title="Service Requests">
                                            {title}
                                        </a>
    -->
                                        {title}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
							<lightning-button-group>
								<c-service-request-buttons accid={recordId}
														   storeid ={storeId}
														   errormessage={errorMessage}
														   assetcount={assetExist}
														   account-balance={accountBalance}
                                                           record-page-url={recordPageUrl}
                                                           >
								</c-service-request-buttons>
							</lightning-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>

			<div style="height: 300px;">

				<lightning-datatable key-field="Id"
									 data={listServReqs}
									 columns={columns}
									 sorted-direction={sortedDirection}
									 sorted-by={sortedBy}
									 onsort={updateColumnSorting}
									 hide-checkbox-column = "true">
				</lightning-datatable>

			</div>
<!--
            <div class="slds-var-m-around_small slds-align--absolute-center">
                <a onclick={handleViewAllClick}>View All</a>
            </div>
-->
        </template>
    
    </div>

</template>