.THIS .workerInfo {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    background-color: white;
}
.THIS .section{background:#fff!important;}										  

.THIS .workerIcon {
    width:150px; 
    height:150px;
	border-radius: 5%;
    border:2px solid token(colorBrand);					
}

.THIS .workerName {
    width:150px;
    margin-top:10px;
	font-size:18px;
    font-weight:bold;
}
.THIS .workerDesg {
    font-size:16px;			   		   
}

.THIS .workerPhone {
    width:150px;
    margin-top:4px;
}
.THIS .emailIcon, .THIS .phoneIcon{cursor:pointer;}