<!--
  @Component Name     : orderProductList.html
  @Description        : 
  @Author             : mark.rothermal@andersencorp.com
  @Group              : 
  @Last Modified By   : jason.flippen@andersencorp.com
  @Last Modified On   : 2/9/2021, 8:15 AM
  @Modification Log   : 
  ====================================================================================================
  Ver	Date					Author      		      			Modification
  ====================================================================================================
  1.0 	6/6/2019, 3:02 PM		mark.rothermal@andersencorp.com     Initial Version
  2.0	2/9/2021, 8:15 AM		jason.flippen@andersencorp.com		Added Styling
-->
<template>

<!-- 2/9/2021 - Jason Flippen - Commented out what was previously live and merged it into the Styling below.
	<div if:true={showComponent}>

		<div if:true={showButton}>
			<c-add-new-order-product-button orderid={recordId} inrop={inRop} editbaseurl={editBaseUrl}></c-add-new-order-product-button>
		</div>

		<template if:false={inRop}>
			<div>
				<lightning-tree-grid key-field="id" data={data} columns={columns} hide-checkbox-column=true
					onrowaction={handleRowAction}>
				</lightning-tree-grid>
			</div>
		</template>

		<template if:true={inRop}>
			<div>
				<lightning-tree-grid 
				key-field="id" 
				data={data} 
				columns={ropColumns} 
				hide-checkbox-column=true
				onrowaction={handleRowAction}>
				</lightning-tree-grid>
			</div>
		</template>


		// cancel model
		<template if:true={openCancelModel}>
			<div class="demo-only" style="height: 140px;">
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container">
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
							<center>
								<c-cancel-product-card row-id={rowId} misc-items={childData} has-error={hasCancelError}
									error-message={cancelErrorMessage} oncancelreasonselect={handleCancelReasonSelect}>
								</c-cancel-product-card>
							</center>
						</div>
						<footer class="slds-modal__footer">
							<lightning-layout horizontal-align="space">
								<lightning-layout-item>
									<p class="slds-text-heading_small">Are you sure you want to cancel?</p>
								</lightning-layout-item>
								<lightning-layout-item>
									<template if:true={disableSave}>
										<lightning-button disabled label="Yes" variant="brand" onclick={saveMethod}></lightning-button>
									</template>
									<template if:false={disableSave}>
										<lightning-button label="Yes" variant="brand" onclick={saveMethod}></lightning-button>
									</template>
									<lightning-button label="No" variant="neutral" onclick={closeCancelModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
								</lightning-layout-item>
							</lightning-layout>
						</footer>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</div>
		</template>
	</div>
-->

	<template if:true={showComponent}>
		
		<div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
			<div class="slds-page-header slds-page-header_related-list">
				<div class="slds-page-header__row">
					<div class="slds-page-header__col-title">
						<div class="slds-media">
							<div class="slds-media__body">
								<div class="slds-page-header__name">
									<div class="slds-page-header__name-title">
										<h2 class="slds-card__header-title slds-card__header-link slds-truncate">
											<lightning-icon class="slds-var-m-right_small" icon-name="standard:orders" size="small"></lightning-icon>
											{title}
										</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slds-page-header__col-actions">
						<div class="slds-page-header__controls">
							<div class="slds-page-header__control">
								<template if:true={showButton}>
									<lightning-button-group>
										<c-add-day-light-product-button if:true={isLightning} configid={recordId} in-rop={inRop} editbaseurl={editBaseUrl}></c-add-day-light-product-button>
										<lightning-button if:false={isLightning} label="Add Daylight Product" title="FVPage" onclick={navigateToVF} class="slds-m-left_x-small"></lightning-button>
										<c-add-new-order-product-button orderid={recordId} inrop={inRop} editbaseurl={editBaseUrl}></c-add-new-order-product-button>
									</lightning-button-group>
								</template>
							</div>
						</div>
					</div>
				</div>
			</div>

			<template if:true={showData}>

				<template if:false={inRop}>
					<div>
						<lightning-tree-grid key-field="id"
											 data={data}
											 columns={columns}
											 hide-checkbox-column=true
											 onrowaction={handleRowAction}>
						</lightning-tree-grid>
					</div>
				</template>

				<template if:true={inRop}>
					<div>
						<lightning-tree-grid key-field="id"
											 data={data}
											 columns={ropColumns}
											 hide-checkbox-column=true
											 onrowaction={handleRowAction}>
						</lightning-tree-grid>
					</div>
				</template>

			</template>

		</div>

		<template if:true={showSpinner}>
			<div class="spinnerStyle">
				<lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
			</div>
		</template>

		<template if:true={openCancelModel}>
			<div class="demo-only" style="height: 140px;">
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container">
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
							<center>
								<c-cancel-product-card row-id={rowId}
													misc-items={childData}
													has-error={hasCancelError}
													error-message={cancelErrorMessage}
													oncancelreasonselect={handleCancelReasonSelect}>
								</c-cancel-product-card>
							</center>
						</div>
						<footer class="slds-modal__footer">
							<lightning-layout horizontal-align="space">
								<lightning-layout-item>
									<p class="slds-text-heading_small">Are you sure you want to cancel?</p>
								</lightning-layout-item>
								<lightning-layout-item>
									<template if:true={disableSave}>
										<lightning-button disabled label="Yes" variant="brand" onclick={saveMethod}></lightning-button>
									</template>
									<template if:false={disableSave}>
										<lightning-button label="Yes" variant="brand" onclick={saveMethod}></lightning-button>
									</template>
									<lightning-button label="No" variant="neutral" onclick={closeCancelModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
								</lightning-layout-item>
							</lightning-layout>
						</footer>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</div>
		</template>

		<template if:true={openIframe}> 
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container" >
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header" style="width: 150%; margin-left:-25%">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeIframe}>
							<lightning-icon icon-name="utility:close"
								alternative-text="close"
								variant="inverse"
								size="small" ></lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 if:false={openReconfiguration} id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Configurator Data</h2>
						<h2 if:true={openReconfiguration} id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Reconfigurator Data</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2" style="width: 150%; margin-left:-25%">
						<template if:true={openConfigSummary}>
							<c-config-summary record-id={rowId} ></c-config-summary>
						</template>
						<template if:true={openSplitLineSummary}> 
							<c-split-line-head record-id={rowId}></c-split-line-head>
						</template>
						<template if:true={openReconfiguration}>
							<c-reconfiguration-i-frame record-id={rowId} redirect-url={redirectUrl}></c-reconfiguration-i-frame>
							<!-- <c-config-summary record-id={rowId}></c-config-summary> -->
						</template>
					</div>
				
					<!-- Modal/Popup Box LWC footer starts here -->
					<footer class="slds-modal__footer" style="width: 150%; margin-left:-25%">
						<button if:true={inRop} class="slds-button slds-button_neutral" onclick={closeIframe} title="Return to Order">Return to Order</button>
						<!-- <button class="slds-button slds-button_neutral" onclick={viewSummary} title="View Configuration Summary" disabled={disableConfigViewButton}>View Configuration Summary</button>
						<button class="slds-button slds-button_neutral" onclick={getSplitLines} title="View Split Lines" >View Split Lines</button> -->
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</div>
		</template>
	</template>

</template>