<template>

    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-m-right_small" icon-name="standard:service_crew_member" size="small"></lightning-icon>
                                        {recordCount}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <lightning-button-group>
                                <lightning-button label="New"
                                                  title="New"
                                                  onclick={handleAddChangeOrderClicked}>
                                </lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>
            <lightning-datatable class="data-table"
                                 key-field="id"
                                 data={listChangeOrder}
                                 columns={changeOrderColumns}
                                 hide-checkbox-column=true
                                 onrowaction={handleRowAction}>
        </lightning-datatable>

        </template>

    </div>

    <template if:true={showNewCOModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                           title="Close"
                                           icon-name="utility:close"
                                           icon-class="slds-button_icon-inverse"
                                           onclick={handleCancelCOClick}
                                           disabled={disableCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create New Change Order</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium slds-is-relative" id="modal-content-id-1">
                <div class="slds-align_absolute-center">{confirmationMessage}</div>

                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      title="Cancel"
                                      onclick={handleCancelCOClick}
                                      disabled={disableCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Yes"
                                      title="Yes"
                                      onclick={handleSaveCOClick}
                                      disabled={disableSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>



    
</template>