<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-2 ">
            <div class="slds-m-left_x-small slds-m-right_x-small ">
                <lightning-input type="date" name="requestedShipDate" label="Requested Ship Date" value={requestedShipDate} onchange={newRequestedShipDate} disabled={disableRequestShipDateEdit}></lightning-input>
            </div>
            <div class="slds-m-left_x-small slds-m-right_x-small ">
                <lightning-input type="date" name="estimatedShipDate" label="Estimated Ship Date" value={estimatedShipDate} onchange={newEstimatedShipDate} required={isEstShipDateRequired}></lightning-input>
            </div>
            <div class="slds-m-left_x-small slds-m-right_x-small ">
                <lightning-input type="text" name="confirmationNumber" label="Confirmation Number" value={confirmationNumber} onchange={newConfirmationNumber} ></lightning-input>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <div class="slds-m-left_x-small slds-m-right_x-small ">
                <lightning-input type="text" name="invoiceNumber" label="Invoice Number" value={invoiceNumber} onchange={newInvoiceNumber} ></lightning-input>
            </div>
            <div class="slds-m-left_x-small slds-m-right_x-small ">
                <lightning-input type="number" name="tax" label="Tax" value={tax} onchange={newTax} formatter="currency" step="0.01"></lightning-input>
            </div>
            <div class="slds-m-left_x-small slds-m-right_x-small slds-m-top_large ">
                <!-- <lightning-input type="checkbox" label="Multiple Remakes" name="Multiple Remakes"></lightning-input> -->
                <lightning-input type="checkbox" label="Expedite Shipping" name="Expedite Shipping" checked={isExpediteShipping} onchange={handleExpediteCheck}></lightning-input>
            </div>
        </div>
        <div class="slds-col slds-size_2-of-2 slds-m-left_x-small slds-m-right_x-small ">
            <lightning-textarea name="Comments" label="PO Comments" value={currentComments} onchange={newComments} style="width:600px;"></lightning-textarea>
        </div>
    </div>
    <div style="margin-top: 10px;margin-left: 87%;">
        <lightning-button variant="brand" label="Update" title="Update Comments" onclick={saveNewComments} class=""></lightning-button>
    </div>
</template>