<template>

    <div class="slds-text-body_regular slds-var-m-around_small">

        <template if:true={isEligible}>

            <lightning-input class="slds-size_1-of-3 slds-var-m-bottom_small"
                             type="date"
                             date-style="short"
                             name="estimatedShipDate"
                             label="Estimated Ship Date"
                             value={purchaseOrder.estimatedShipDate}
                             placeholder="Select a Date"
                             onchange={handleEstimatedShipDateChange}>
            </lightning-input>

            <lightning-input class="slds-size_1-of-3 slds-var-m-bottom_small"
                             type="string"
                             date-style="short"
                             name="ConfirmationNumber"
                             label="Confirmation Number"
                             value={purchaseOrder.confirmationNumber}
                             onchange={handleConfirmationNumber}>
            </lightning-input>

            <div style="height: 300px;">

                <lightning-datatable class="data-table"
                                     key-field="id"
                                     data={purchaseOrder.productList}
                                     columns={productColumnList}
                                     oncellchange={handleProductValueChange}
                                     hide-checkbox-column
                                     suppress-bottom-bar>
                </lightning-datatable>

            </div>

        </template>

        <template if:false={isEligible}>
            <div class="slds-align_absolute-center" style="height: 50px">
                {displayText}
            </div>
        </template>

    </div>
    
</template>