<template>
    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-var-m-right_small" icon-name="doctype:image" size="small"></lightning-icon>
    <!--
                                        <a onclick={handleViewAllClick} class="slds-card__header-link slds-truncate slds-m-left_small" title="Order Products">
                                            {title}
                                        </a>
    -->
                                        {recordCount}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <lightning-button-group>
                                <lightning-button label="Add Product"
                                                  title="Add Product"
                                                  onclick={handleAddProductClick}>
                                </lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>

            <lightning-datatable class="data-table"
                                 key-field="id"
                                 data={productData}
                                 columns={columns}
                                 hide-checkbox-column=true
                                 onrowaction={handleRowAction}>
            </lightning-datatable>
<!--
            <div class="slds-var-m-around_small slds-align--absolute-center">
                <a onclick={handleViewAllClick}>View All</a>
            </div>
-->
        </template>
    
    </div>
    
    <template if:true={showEditNotesModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelEditNotesClick}
                                            disabled={disableEditNotesCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">View/Edit Notes</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-1">
                    <lightning-card>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-1">
                                <lightning-textarea label="Notes"
                                                    value={notes}
                                                    max-length="4196"
                                                    onchange={handleNotesChange}>
                                </lightning-textarea>
                            </div>
                        </div>
                    </lightning-card>
                
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      onclick={handleCancelEditNotesClick}
                                      disabled={disableEditNotesCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      onclick={handleSaveNotesClick}
                                      disabled={disableEditNotesSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

<!--
    <template if:true={showEditVariantModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelEditVariantClick}
                                            disabled={disableEditVariantCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Edit Variant Number</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-2">
                    <lightning-card>

                        <lightning-record-edit-form class="slds-size_2-of-3"
                                                    object-api-name="Asset"
                                                    record-id={soldOrderProductAssetId}
                                                    density="comfy">

                            <div class="slds-grid">

                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Variant_Number__c"
                                                           value={variantNumber}
                                                           max-length="255"
                                                           onchange={handleVariantNumberChange}>
                                    </lightning-input-field>
                                </div>

                            </div>

                        </lightning-record-edit-form>

                    </lightning-card>
                
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      onclick={handleCancelEditVariantClick}
                                      disabled={disableEditVariantCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      onclick={handleSaveVariantClick}
                                      disabled={disableEditVariantSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
-->

    <template if:true={showEditProductModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelEditProductClick}
                                            disabled={disableEditProductCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Edit Product</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-2">
                    <lightning-card>
                        <lightning-record-edit-form object-api-name="OrderItem"
                                                    record-id={updatedOrderProduct.Id}>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Do_Not_Print_Service_Product_on_Quote__c"
                                                           value={updatedOrderProduct.Do_Not_Print_Service_Product_on_Quote__c}
                                                           onchange={handleDoNotPrintServiceProductOnQuoteChange}>
                                    </lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Quote_Accepted__c"
                                                           value={updatedOrderProduct.Quote_Accepted__c}
                                                           onchange={handleQuoteAcceptedChange}>
                                    </lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Do_Not_Print_Service_Product_on_Invoice__c"
                                                           value={updatedOrderProduct.Do_Not_Print_Service_Product_on_Invoice__c}
                                                           onchange={handleDoNotPrintServiceProductOnInvoiceChange}>
                                    </lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Customer_Pickup__c"
                                                           value={updatedOrderProduct.Customer_Pickup__c}
                                                           onchange={handleCustomerPickupChange}>
                                    </lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Quote_Amount__c"
                                                           value={updatedOrderProduct.Quote_Amount__c}
                                                           onchange={handleQuoteAmountChange}>
                                    </lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Billable_Amount__c"
                                                           value={updatedOrderProduct.Billable_Amount__c}
                                                           onchange={handleBillableAmountChange}>
                                    </lightning-input-field>
                                </div>
                            </div>
                        </lightning-record-edit-form>
                    </lightning-card>
                
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      onclick={handleCancelEditProductClick}
                                      disabled={disableEditProductCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      onclick={handleSaveEditProductClick}
                                      disabled={disableEditProductSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showCancelProductModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-3">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelCancelProductClick}
                                            disabled={disableCancelProductCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-03" class="slds-modal__title slds-hyphenate">Cancel Product</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-3">
                    <lightning-card>

                        <div class="slds-text-align_center slds-text-body_regular">
                            Are you sure you want to cancel this Product?
                        </div>                    
                    
                    </lightning-card>
                
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      onclick={handleCancelCancelProductClick}
                                      disabled={disableCancelProductCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      onclick={handleSaveCancelProductClick}
                                      disabled={disableCancelProductSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={showUpdateProductModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                            title="Close"
                                            icon-name="utility:close"
                                            icon-class="slds-button_icon-inverse"
                                            onclick={handleCancelUpdateProductClick}
                                            disabled={disableEditProductCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-04" class="slds-modal__title slds-hyphenate">Edit Product</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-static" id="modal-content-id-4" style="overflow:visible">
                    <lightning-card>
                        <div if:true={ResponsibilityOptions} >
                            <lightning-combobox
                                name="Responsibility"
                                label="Responsibility"
                                value={value}
                                placeholder="Select Responsibility Code"
                                options={ResponsibilityOptions}
                                onchange={handleResponsibilityChange} 
                            ></lightning-combobox>
                        </div>
                        <div if:false={ResponsibilityOptions} ></div>
                        <div if:true={showMTOOptions}>
                            <lightning-combobox
                                name="MTOCode"
                                label="MTO Source Codes"
                                value={value}
                                placeholder="Select MTO Code"
                                options={MTOcodeOptions}
                                onchange={handleMTOChange} 
                            ></lightning-combobox>
                        </div>
                        <div if:false={showMTOOptions}></div>
                        <div if:true={showDefectOptions}>
                            <lightning-combobox
                                name="DefectCode"
                                label="Defect Codes"
                                value={value}
                                placeholder="Select Defect Code"
                                options={DefectCodeOptions}
                                onchange={handleDefectChange} 
                            ></lightning-combobox>
                        </div>
                        <div if:false={showDefectOptions}></div>
                        <template if:true={showSpinner}>
                            <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                        </template>
                    </lightning-card>
                    
                </div>
                <footer class="slds-modal__footer" style="z-index: -1;">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      onclick={handleCancelUpdateProductClick}
                                      disabled={disableEditProductCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      onclick={handleSaveEditProductResponsibility}
                                      disabled={hideSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:false={showUpdateProductModal}></template>
</template>