h3 {
    font-weight: bold;
    font-size: large;
}

.service-border {
    border-top: 3px solid gray;
    border-right: thin solid #F7F1F1; 
    border-left: thin solid #F7F1F1; 
    border-bottom: thin solid #F7F1F1;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.title-border {
    padding-left: 12px;
    padding-top:5px;
    padding-bottom: 15px;
    width: 80%;
}

.button-border {
    float: right;
    padding-top: 15px;
    padding-right: 12px;
}

.THIS .slds-modal__content{
    overflow: auto;
    z-index: 9002;
}