<!--
  @Component Name     : orderItemSelector.html
  @Description        : 
  @Author             : bill.hodena@andersencorp.com
  @Group              : 
  @Last Modified By   : bill.hodena@andersencorp.com
  @Last Modified On   : 4/16/2019, 2:04:46 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    4/14/2019, 2:30 PM   bill.hodena@andersencorp.com     Initial Version
-->
<template>
    <lightning-input type="search" onchange={searchChangeHandler} class="slds-m-bottom_small"
        label="Product"  placeholder="Search Products" name="search" id="search" value={searchTerm} aria-autocomplete="list" autocomplete="off" data-id="productsearch"></lightning-input>
    <template if:true={searching}>
        <ul>
            <template for:each={products.data} for:item="product">
                <div class="result" key={product.Id}>
                    <li class="slds-listbox__item">
                        <span
                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta">
                            <span class="slds-media__figure">
                                <lightning-icon icon-name="custom:custom57" alternative-text="Description"
                                    size="xx-small"></lightning-icon>
                            </span>
                            <span class="slds-media__body">
                                <lightning-button variant="base" label={product.Name_Part_Number__c}
                                    title={product.Name_Part_Number__c} onclick={clickHandler}
                                    class="slds-m-left_x-small" value={product.Id} data-id={product.ProductCode}></lightning-button>
                            </span>
                        </span>
                    </li>
                </div>
            </template>
        </ul>
    </template>
    <template if:true={products.error}>
        {products.error.message}
    </template>
</template>