<template>
    <div style="height: 1300px;">
        <lightning-card title="Work Order Line Items " icon-name="standard:work_order_item">
            <lightning-datatable
                    key-field="id"
                    data={data.data}
                    columns={columns}
                    min-column-width="100"
                    max-column-width="250" 
                    hide-checkbox-column = "true"
                        >
            </lightning-datatable>
        </lightning-card>
        <lightning-card title="Files" icon-name="standard:file">
            <lightning-datatable
            key-field="id"
            data={data1.data}
            columns={columns1}
            min-column-width="100"
            max-column-width="500" 
            hide-checkbox-column = "true"
                >
    </lightning-datatable>
        </lightning-card>
            
    </div>   
</template>