<template>
    <!-- <p> Previous record : {previousId} Current Record : {orderItemId}  Next record: {nextId}</p> -->
    
    <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle}
        active-section-name={activeSections} class='rba-accordian'>
        <lightning-accordion-section name="Product" label="Product Info">
            <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="8">

                <lightning-record-view-form record-id={productRecordId} object-api-name="Product2" density="comfy">
                    <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                                <lightning-output-field field-name="Name" class='Name'></lightning-output-field>
                        </lightning-layout-item>
                        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                            <div if:true={hasProductDescription}>
                                <lightning-output-field field-name="Description" class='Description'></lightning-output-field>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-record-view-form>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                    <lightning-record-view-form record-id={orderItemId} object-api-name="OrderItem" density="comfy">
                        <div if:true={productFieldControl.Specialty_Shape__c}>
                            <lightning-output-field field-name="Specialty_Shape__c" class='Specialty_Shape__c'></lightning-output-field>
                        </div>
                    </lightning-record-view-form>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-accordion-section>
    </lightning-accordion>

    <lightning-record-view-form record-id={orderItemId}  object-api-name="OrderItem" density="comfy">
    <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle}
    active-section-name={activeSections} class='rba-accordian'>
    <lightning-accordion-section name="Main" label="Main Section">
        
        <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
            <!-- first column 1st row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <!-- <div if:true={productFieldControl.Product2Id}>
                        <lightning-output-field field-name="Product2Id" class='Product2Id' ></lightning-output-field>
                </div> -->
            </lightning-layout-item>

            <!-- second column 1st row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">

            </lightning-layout-item>
            <!-- third column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <!-- <div if:true={productFieldControl.Specialty_Shape__c}>
                    <lightning-output-field field-name="Specialty_Shape__c" class='Specialty_Shape__c'></lightning-output-field>
                </div>         -->
            </lightning-layout-item>

            <!-- first column 2nd row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Frame_Type__c}>
                    <lightning-output-field field-name="Frame_Type__c" class='Frame_Type__c' ></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- second column 2nd row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Quantity}>
                    <lightning-output-field field-name="Quantity" class='Quantity' ></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- third column 2nd row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Unit_Id__c}>
                    <lightning-output-field field-name="Unit_Id__c" class='Unit_Id__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- first column 3rd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.PG_50__c}>
                    <lightning-output-field field-name="PG_50__c" class='PG_50__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Performance_Category__c}>
                    <lightning-output-field field-name="Performance_Category__c" class='Performance_Category__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- second column 3rd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.EJ_Frame__c}>
                    <lightning-output-field field-name="EJ_Frame__c" class='EJ_Frame__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- third column 3rd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Pocket_Notch__c}>
                    <lightning-output-field field-name="Pocket_Notch__c" class='Pocket_Notch__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- first column 4th row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Positive_Force__c}>
                    <lightning-output-field field-name="Positive_Force__c" class='Positive_Force__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- second column 4th row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                <div if:true={productFieldControl.Negative_Force__c}>
                    <lightning-output-field field-name="Negative_Force__c" class='Negative_Force__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- second column 4th row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4"></lightning-layout-item>
            </lightning-layout>
    </lightning-accordion-section>

    <!-- ********************************************************************************************************************************************* -->

    <lightning-accordion-section name="Window-Configuration" label="Window Configuration">
        <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">

            <!-- first column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Width_Inches__c}>
                    <lightning-output-field field-name="Width_Inches__c" class='Width_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- second column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Width_Fraction__c}>
                    <lightning-output-field field-name="Width_Fraction__c" class='Width_Fraction__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- third column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Height_Inches__c}>
                    <lightning-output-field field-name="Height_Inches__c" class='Height_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- fourth column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Height_Fraction__c}>
                    <lightning-output-field field-name="Height_Fraction__c" class='Height_Fraction__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- first column 2nd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Left_Leg_Inches__c}>
                    <lightning-output-field field-name="Left_Leg_Inches__c" class='Left_Leg_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- second column 2nd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Left_Leg_Fraction__c}>
                    <lightning-output-field field-name="Left_Leg_Fraction__c" class='Left_Leg_Fraction__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- third column 2nd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Right_Leg_Inches__c}>
                    <lightning-output-field field-name="Right_Leg_Inches__c" class='Right_Leg_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- fourth column 2nd row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Right_Leg_Fraction__c}>
                    <lightning-output-field field-name="Right_Leg_Fraction__c" class='Right_Leg_Fraction__c'></lightning-output-field>
                </div>
            </lightning-layout-item>

        </lightning-layout>
        <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">

            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                
            </lightning-layout-item>
            <!-- first column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Mid_Point_Height_Inches__c}>
                    <lightning-output-field field-name="Mid_Point_Height_Inches__c" class='Mid_Point_Height_Inches__c'  >
                    </lightning-output-field>
                </div>
            </lightning-layout-item>

            <!-- second column 1st row-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                <div if:true={productFieldControl.Mid_Point_Height_Fractions__c}>
                    <lightning-output-field field-name="Mid_Point_Height_Fractions__c" class='Mid_Point_Height_Fractions__c'   
                        ></lightning-output-field>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                
            </lightning-layout-item>
            </lightning-layout>
        <!-- Vertical Column Layout -->
        <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

            <!-- first column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Exterior_Trim__c}>
                    <lightning-output-field field-name="Exterior_Trim__c" class='Exterior_Trim__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Checkrail_Style__c}>
                    <lightning-output-field field-name="Checkrail_Style__c" class='Checkrail_Style__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Sill_Angle__c}>
                    <lightning-output-field field-name="Sill_Angle__c" class='Sill_Angle__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Sash_Ratio__c}>
                    <lightning-output-field field-name="Sash_Ratio__c" class='Sash_Ratio__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Mfg_Mull_Sequence__c}>
                    <lightning-output-field field-name="Mfg_Mull_Sequence__c" class='Mfg_Mull_Sequence__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Mull_Sequence_Mullion__c}>
                    <lightning-output-field field-name="Mull_Sequence_Mullion__c" class='Mull_Sequence_Mullion__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Exterior_Color__c}>
                    <lightning-output-field field-name="Exterior_Color__c" class='Exterior_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Interior_Color__c}>
                    <lightning-output-field field-name="Interior_Color__c" class='Interior_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glazing_S1__c}>
                    <lightning-output-field field-name="Glazing_S1__c" class='Glazing_S1__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glass_Pattern_S1__c}>
                    <lightning-output-field field-name="Glass_Pattern_S1__c" class='Glass_Pattern_S1__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Tempered_S1__c}>
                    <lightning-output-field field-name="Tempered_S1__c" class='Tempered_S1__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glazing_S2__c}>
                    <lightning-output-field field-name="Glazing_S2__c" class='Glazing_S2__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glass_Pattern_S2__c}>
                    <lightning-output-field field-name="Glass_Pattern_S2__c" class='Glass_Pattern_S2__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Tempered_S2__c}>
                    <lightning-output-field field-name="Tempered_S2__c" class='Tempered_S2__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Breather_Tubes__c}>
                    <lightning-output-field field-name="Breather_Tubes__c" class='Breather_Tubes__c'></lightning-output-field>
                </div>
        </lightning-layout-item>
        <!-- white space column -->
        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'>

           
        </lightning-layout-item>
        <!-- 2nd column -->
        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Lifts_Pulls__c}>
                    <lightning-output-field field-name="Lifts_Pulls__c" class='Lifts_Pulls__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Locks_Sash__c}>
                    <lightning-output-field field-name="Locks_Sash__c" class='Locks_Sash__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Sash_Operation__c}>
                    <lightning-output-field field-name="Sash_Operation__c" class='Sash_Operation__c'></lightning-output-field>
                </div>
                <!-- added default value of standard 3/29/19 mtr -->
                <div if:true={productFieldControl.Hardware_Style__c}>
                    <lightning-output-field field-name="Hardware_Style__c" class='Hardware_Style__c'></lightning-output-field>                            
                </div>
                <div if:true={productFieldControl.Hardware_Finish__c}>
                    <lightning-output-field field-name="Hardware_Finish__c" class='Hardware_Finish__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Hardware_Option__c}>
                    <lightning-output-field field-name="Hardware_Option__c" class='Hardware_Option__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Corrosion_Resistant_Hardware__c}>
                    <lightning-output-field field-name="Corrosion_Resistant_Hardware__c" class='Corrosion_Resistant_Hardware__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Screen_Type__c}>
                    <lightning-output-field field-name="Screen_Type__c" class='Screen_Type__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Screen_Size__c}>
                    <lightning-output-field field-name="Screen_Size__c" class='Screen_Size__c' ></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Grille_Pattern__c}>
                    <lightning-output-field field-name="Grille_Pattern__c" class='Grille_Pattern__c' ></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Grille_Style__c}>
                    <lightning-output-field field-name="Grille_Style__c" class='Grille_Style__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Wide_Bar__c}>
                    <lightning-output-field field-name="Wide_Bar__c" class='Wide_Bar__c' ></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Applied_Grilles__c}>
                    <lightning-output-field field-name="Applied_Grilles__c" class='Applied_Grilles__c' ></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Grille_Alignment__c}>
                    <lightning-output-field field-name="Grille_Alignment__c" class='Grille_Alignment__c' ></lightning-output-field>
                </div>
        </lightning-layout-item>
        </lightning-layout>

    </lightning-accordion-section>

    <!-- ********************************************************************************************************************************* -->
    <lightning-accordion-section name="Grille-Options" label="Grille Options">
        <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

            <!-- first column-->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Lites_Wide_S1__c}>
                    <lightning-output-field field-name="Lites_Wide_S1__c" class='Lites_Wide_S1__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Lites_High_S1__c}>
                    <lightning-output-field field-name="Lites_High_S1__c" class='Lites_High_S1__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Hubs__c}>
                    <lightning-output-field field-name="Hubs__c" class='Hubs__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- end first column -->

            <!-- white space column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>

            <!-- second column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Lites_Wide_S2__c}>
                    <lightning-output-field field-name="Lites_Wide_S2__c" class='Lites_Wide_S2__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Lites_High_S2__c}>
                    <lightning-output-field field-name="Lites_High_S2__c" class='Lites_High_S2__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Spokes__c}>
                    <lightning-output-field field-name="Spokes__c" class='Spokes__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- end second column -->
        </lightning-layout>
        <!-- begin second row -->
        <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium" >
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='4'>
                <div if:true={productFieldControl.Custom_Grille_Details_S1__c}>
                    <lightning-output-field field-name="Custom_Grille_Details_S1__c" class='Custom_Grille_Details_S1__c'></lightning-output-field>
                </div>
                <!-- <lightning-output-field name="Custom_Grille_Details_S3__c" label="Custom Grille Details S3" onchange={handleChange}></lightning-output-field> -->
                <!-- <lightning-output-field name="Custom_Grille_Details_S2__c" label="Custom Grille Details S2" onchange={handleChange}></lightning-output-field> -->
            </lightning-layout-item>
        </lightning-layout>
    </lightning-accordion-section>

    <!-- ************************************************************************************************************************** -->
    <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
            <div if:true={productFieldControl.Special_Options__c}>
                <lightning-output-field field-name="Special_Options__c" class='Special_Options__c'></lightning-output-field>
            </div>
        </lightning-layout-item>
    </lightning-layout>

    <lightning-accordion-section name="Special-Options" label="Special Options">
        <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

            <!-- first column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Screen_Color__c}>
                    <lightning-output-field field-name="Screen_Color__c" class='Screen_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Hardware_Color__c}>
                    <lightning-output-field field-name="Hardware_Color__c" class='Hardware_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Exterior_Grille_Color__c}>
                    <lightning-output-field field-name="Exterior_Grille_Color__c" class='Exterior_Grille_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Interior_Grille_Color__c}>
                    <lightning-output-field field-name="Interior_Grille_Color__c" class='Interior_Grille_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Exterior_Trim_Color__c}>
                    <lightning-output-field field-name="Exterior_Trim_Color__c" class='Exterior_Trim_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glazing_S3__c}>
                    <lightning-output-field field-name="Glazing_S3__c" class='Glazing_S3__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Glass_Pattern_S3__c}>
                        <lightning-output-field field-name="Glass_Pattern_S3__c" class='Glass_Pattern_S3__c'></lightning-output-field>
                  
                </div>
                <div if:true={productFieldControl.Tempered_S3__c}>
                        <lightning-output-field field-name="Tempered_S3__c" class='Tempered_S3__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!--end first column  -->
            <!-- white space column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
            <!-- second column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Jamb_Liner_Color__c}>
                    <lightning-output-field field-name="Jamb_Liner_Color__c" class='Jamb_Liner_Color__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Interior_Sash_Color__c}>
                    <lightning-output-field field-name="Interior_Sash_Color__c" class="Interior_Sash_Color__c"></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Astragal__c}>
                    <lightning-output-field field-name="Astragal__c" class='Astragal__c'></lightning-output-field>
                        <!-- removed this html tag label="Astragal" placeholder="--Select--" value={value} options={astragalColorList}   onchange={handleChange} -->
                </div>
                <div if:true={productFieldControl.Install_Holes_Location__c}>
                    <lightning-output-field field-name="Install_Holes_Location__c" class='Install_Holes_Location__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Install_Track_Location__c}>
                    <lightning-output-field field-name="Install_Track_Location__c" class='Install_Track_Location__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!--end second column -->


        </lightning-layout>
    </lightning-accordion-section>

    <!-- ***************************************************************************************************************** -->
    <lightning-accordion-section name="Specialty-Window-Options" label="Specialty Window Options">
        <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

            <!-- first column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Interior_Trim__c}>
                    <lightning-output-field field-name="Interior_Trim__c" class='Interior_Trim__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.EJ_Thickness__c}>
                    <lightning-output-field field-name="EJ_Thickness__c" class='EJ_Thickness__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.EJ_Wall_Depth__c}>
                    <lightning-output-field field-name="EJ_Wall_Depth__c" class='EJ_Wall_Depth__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.EJ_Species__c}>
                    <lightning-output-field field-name="EJ_Species__c" class='EJ_Species__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.EJ_Color__c}>
                    <lightning-output-field field-name="EJ_Color__c" class='EJ_Color__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!--end first column -->
            <!-- white space column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
            <!-- second column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Casing_Profile__c}>
                    <lightning-output-field field-name="Casing_Profile__c" class='Casing_Profile__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Casing_Species__c}>
                    <lightning-output-field field-name="Casing_Species__c" class='Casing_Species__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Casing_Location__c}>
                    <lightning-output-field field-name="Casing_Location__c" class='Casing_Location__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Brickmould_Applied__c}>
                    <lightning-output-field field-name="Brickmould_Applied__c" class='Brickmould_Applied__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Brickmould_Location__c}>
                    <lightning-output-field field-name="Brickmould_Location__c" class='Brickmould_Location__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Drip_Cap_Pieces__c}>
                    <lightning-output-field field-name="Drip_Cap_Pieces__c" class='Drip_Cap_Pieces__c'></lightning-output-field>
                </div>
            <!--end second column -->
            </lightning-layout-item>

        </lightning-layout>
    </lightning-accordion-section>

    <lightning-accordion-section name="Order-Information" label="Order Information">
        <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">


            <!-- first column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <!-- <lightning-output-field name="Order" label="Order"></lightning-output-field> -->
                <!-- <div if:true={productFieldControl.OrderId}> -->
                    <lightning-output-field field-name="OrderId" class="OrderId"></lightning-output-field>
                <!-- </div> -->
                <div if:false={inRop}>
                    <div if:true={productFieldControl.Purchase_Order__c}>
                        <lightning-output-field field-name="Purchase_Order__c" class='Purchase_Order__c'></lightning-output-field>
                    </div>
                </div>
                <div if:true={inRop}>
                    <div if:true={productFieldControl.Retail_Purchase_Order__c}>
                        <lightning-output-field field-name="Retail_Purchase_Order__c" class='Retail_Purchase_Order__c'></lightning-output-field>
                    </div>
                </div>
                <div if:true={productFieldControl.stuff}>
                        <lightning-output-field field-name="Description" class='Description'></lightning-output-field>
                    </div>                        
                <div if:true={productFieldControl.UnitPrice}>
                    <lightning-output-field field-name="UnitPrice" class='UnitPrice'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Variant_Number__c}>
                    <lightning-output-field field-name="Variant_Number__c" class='Variant_Number__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.stuff}>
                    <lightning-output-field field-name="Entered_Price__c" class='Entered_Price__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.stuff}>
                    <lightning-output-field field-name="Unit_Wholesale_Cost__c" class='Unit_Wholesale_Cost__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Unit_of_Measure__c}>
                        <lightning-output-field field-name="Unit_of_Measure__c" class='Unit_of_Measure__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Total_Retail_Price__c}>
                    <lightning-output-field field-name="Total_Retail_Price__c" class='Total_Retail_Price__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.stuff}>
                    <lightning-output-field field-name="Tax__c" class='Tax__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- end of first column -->
            <!-- white space column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
            <!-- second column -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Part_of_Bay__c}>
                    <lightning-output-field field-name="Part_of_Bay__c" class='Part_of_Bay__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Part_of_Bow__c}>
                    <lightning-output-field field-name="Part_of_Bow__c" class='Part_of_Bow__c'></lightning-output-field>
                </div>                        
                <div if:true={productFieldControl.NSPR__c}>
                    <lightning-output-field field-name="NSPR__c" class='NSPR__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.NSPR_Number__c}>
                    <lightning-output-field field-name="NSPR_Number__c" class='NSPR_Number__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Tax_Credit_Qualified__c}>
                    <lightning-output-field field-name="Tax_Credit_Qualified__c" class='Tax_Credit_Qualified__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Notes__c}>
                    <lightning-output-field field-name="Notes__c" class='Notes__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Responsible_Party__c}>
                        <lightning-output-field field-name="Responsible_Party__c" class='Responsible_Party__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Verify_Item_Configuration__c}>
                    <lightning-output-field field-name="Verify_Item_Configuration__c" class='Verify_Item_Configuration__c'></lightning-output-field>
                </div>
                <div if:true={productFieldControl.Extended_Description__c}>
                    <lightning-output-field field-name="Extended_Description__c" class='Extended_Description__c'></lightning-output-field>
                </div>

            </lightning-layout-item>
            <!--end second column-->

        </lightning-layout>
    </lightning-accordion-section>

    <lightning-accordion-section name="Sales-Information" label="Sales Information">
        <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
            <!-- first row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='4'>
                <div if:true={productFieldControl.Room__c}>
                    <lightning-output-field field-name="Room__c" class='Room__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='8'></lightning-layout-item>                    
            <!--end first row -->
            <!-- second row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Sales_Width_Inches__c}>
                    <lightning-output-field field-name="Sales_Width_Inches__c" class='Sales_Width_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
            <!-- White Space row -->
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                <div if:true={productFieldControl.Sales_Height_Inches__c}>
                    <lightning-output-field field-name="Sales_Height_Inches__c" class='Sales_Height_Inches__c'></lightning-output-field>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-accordion-section>
        <lightning-accordion-section name="Change-History" label="Change History">
            <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                <!-- first row -->
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='12'>
                    <c-change-history record-id={orderItemId}></c-change-history>
                </lightning-layout-item>

            </lightning-layout>
        </lightning-accordion-section>
    </lightning-accordion>

        </lightning-record-view-form> 
        <div style="height: 180px;">
                <div class="slds-docked-form-footer">
                    <template if:false={showMakabilitySpinner}>
                        <lightning-button-group>
                            <lightning-button if:true ={showEditButton} variant="brand" label="Edit"
                                onclick={handleEdit}></lightning-button>
                            <lightning-button  variant="neutral" label="Next" 
                                onclick={handleNext}></lightning-button>
                            <lightning-button  variant="neutral" label="Previous" 
                                onclick={handlePrevious}></lightning-button>
                            <!-- TODO - disabling edit button for now. users can edit from Order Product List -->
                            <!-- <lightning-button  variant="brand" label="Edit" 
                            onclick={handleEdit}></lightning-button> -->
                            <lightning-button  variant="neutral" label="Close"
                                onclick={handleClose}></lightning-button>
                        </lightning-button-group>               
                    </template>
                </div>
        </div>
        <template if:true={showMakabilitySpinner}>
            <lightning-spinner alternative-text="Loading Record" size="large"></lightning-spinner>
        </template>
</template>