<template>
	<lightning-card title="">
		<div class="slds-m-around_large">
			<template if:true={hasError}>
				<div class="slds-text-color_error">
					<p>{errorMessage}</p>
				</div>
			</template>
			<template if:false={hasError}>
				<lightning-record-edit-form record-id={rowId} object-api-name="OrderItem">
					<div class="slds-col slds-size_2-of-2">
						<lightning-output-field variant="label-hidden" field-name="Product_Name__c"></lightning-output-field>
						<lightning-output-field field-name="Unit_Id__c"></lightning-output-field>
						<Lightning-input-field field-name="Cancellation_Reason__c" onchange={handleSelect}></Lightning-input-field>
					</div>
				</lightning-record-edit-form>
					<!-- display related child products to cancel-->
				<template for:each={miscItems} for:item="misc">
						<p key={misc.id}>Product: {misc.productName}</p>
						<p key={misc.id}>Unit Price: {misc.unitPrice}</p>
				</template>
			</template>
		</div>
	</lightning-card>
</template>