.THIS .hero{
    /*font-size:30px !important;*/
    color:white !important;
	/*text-transform: uppercase !important;
    font-family: Bandera Pro Bold !important;
    text-shadow: 4px 0px 9px rgb(10, 10, 10);*/
}
.THIS .heroMessage
{
    font-size:30px !important;
    color:white !important;
	text-transform: uppercase !important;
    font-family: Bandera Pro Bold !important;
    text-shadow: 4px 0px 9px rgb(10, 10, 10);
}
.THIS .signout{
    font-size:20px !important;
    color:white !important;
	font-family: Bandera Pro Bold !important;
    text-shadow: 4px 0px 9px rgb(10, 10, 10);
}
.THIS .myProject {
    width:100%;
    background: rgb(100, 100, 100) url("sfsites/c/resource/Shingles") no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;       
}
.THIS .windows {
     width:100%;
     background: rgb(100, 100, 100) url("sfsites/c/resource/Shingles") no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
}
.THIS .team {
    width:100%;
    background:rgb(100, 100, 100) url("sfsites/c/resource/Shingles") no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
}
.THIS .profile {
    width:100%;
    background: rgb(100, 100, 100) url("sfsites/c/resource/Shingles") no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;    
}
.THIS .referral {
    width:100%;
    background: rgb(100, 100, 100) url('sfsites/c/resource/Shingles') no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;    
}
.THIS .faq {
    width:100%;
    background: rgb(100, 100, 100)  url("sfsites/c/resource/Shingles") no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
}

@media(max-width: 767px) {
    .THIS .faq {
        height: 100px;
        background: rgb(100, 100, 100) url("sfsites/c/resource/Shingles") no-repeat !important;
        background-size: cover !important;
        background-position-x: -0px !important;
    }
    
}