<template>

    <div>               
        <lightning-button label="Create Service Request"
                          title="Create Service Request"
                          onclick={newServReqBtnClicked}
                          class="slds-var-m-left_x-small">
        </lightning-button>
        <!-- <lightning-button  variant="brand" label="Create Legacy Service Request" title="Create Legacy Service Request" onclick={newLegacyServReqBtnClicked} class="slds-m-left_x-small"></lightning-button> -->
        <lightning-button label="Add Legacy Asset"
                          title="Add Legacy Asset"
                          onclick={addAsset}
                          class="slds-var-m-left_x-small">
        </lightning-button>
    </div>

    <section if:true={newServReq} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="slds-modal-content-id-1" class="slds-modal slds-fade-in-open slds-backdrop slds-backdrop_open">
        <div class="slds-modal__container" style="height: 50%;">
            <div class="slds-modal__content slds-var-p-around_medium" id="slds-modal-content-id-1" style="overflow: visible; height: 80%; max-height: 80%;">
                <div class="slds-grid slds-gutters  slds-var-p-around_small">
                    <lightning-icon icon-name="standard:orders" alternative-text="Orders"></lightning-icon>
                    <div class="slds-col slds-col_bump-right">
                        <div class="slds-text-heading_small">Related Order</div>
                    </div>
                    <lightning-button-group>
                        <lightning-button label="Back"
                                          onclick={backButtonClicked}>
                        </lightning-button>
                        <lightning-button label="Next"
                                          variant="brand"
                                          onclick={nextButtonClicked}
                                          disabled={disableNextButton}>
                        </lightning-button>
                    </lightning-button-group>
                </div>
                <div if:true={accountBalanceMsg}>
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                        <span class="slds-assistive-text">warning</span>
                        <span class="slds-icon_container slds-icon-utility-warning slds-var-m-right_x-small" title="Description of icon when needed">
                            <lightning-icon icon-name="utility:warning"
                                            alternative-text="Orders">
                            </lightning-icon>
                        </span>
                        <h2>{accountBalanceMsg}</h2>
                    </div>
                </div>
                <lightning-combobox name="orders"
                                    label="Select an Order"
                                    placeholder=""
                                    value={selectedOrder}
                                    options={orderDropdownOptions}
                                    onchange={onOrderOptionChange}
                                    required>
                    <!--dropdown-alignment= "bottom-left"> -->
                </lightning-combobox>
            </div>
        </div>
    </section>

</template>