<template>

    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-var-m-right_small" icon-name="custom:custom23" size="small"></lightning-icon>
<!--
                                        <a onclick={handleViewAllClick} class="slds-card__header-link slds-truncate slds-m-left_small" title="Purchase Orders">
                                            {title}
                                        </a>
-->
                                        {title}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <lightning-button-group>
                                <lightning-button label="New Cost PO"
                                                  title="New Cost Purchase Order"
                                                  onclick={handleNewCostPOClick}
                                                  disabled={disableNewCostPOButton}>
                                </lightning-button>
                                <lightning-button label="New Service PO"
                                                  title="New Service Purchase Order"
                                                  onclick={handleNewServicePOClick}
                                                  disabled={disableNewServicePOButton}>
                                </lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>
            <lightning-datatable class="data-table"
                                 key-field="id"
                                 data={recordList}
                                 columns={columnList}
                                 hide-checkbox-column=true
                                 onrowaction={handleRowAction}>
            </lightning-datatable>
<!--
            <div class="slds-var-m-around_small slds-align--absolute-center">
                <a onclick={handleViewAllClick}>View All</a>
            </div>
-->
        </template>

    </div>

    <template if:true={showNewCostPOModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                           title="Close"
                                           icon-name="utility:close"
                                           icon-class="slds-button_icon-inverse"
                                           onclick={handleCancelCostPOClick}
                                           disabled={disableCostPOCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create New Cost Purchase Order</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" style="overflow: visible;" id="modal-content-id-1">
                    <lightning-card>

                        <lightning-record-edit-form class="slds-size_2-of-3"
                                                    object-api-name="Purchase_Order__c"
                                                    record_type_id={newCostPO.RecordTypeId}
                                                    density="comfy">

                            <div class="slds-grid">

                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Vendor__c"
                                                        onchange={handleCostPOVendorChange}>
                                    </lightning-input-field>
                                </div>

                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Store_Location__c"
                                                           value={newCostPO.Store_Location__c}
                                                           onchange={handleCostPOStoreLocationChange}>
                                    </lightning-input-field>
                                </div>

                            </div>

                            <div class="slds-grid">

                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Requested_Ship_Date__c"
                                                           onchange={handleCostPOReqShipDateChange}>
                                    </lightning-input-field>
                                </div>
                                
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Reference__c"
                                                           onchange={handleCostPOReferenceChange}>
                                    </lightning-input-field>
                                </div>

                            </div>

                            <lightning-input-field class="slds-col slds-size_1-of-2"
                                                   field-name="Comments__c"
                                                   onchange={handleCostPOCommentsChange}>
                            </lightning-input-field>

                        </lightning-record-edit-form>

<!--
                        <lightning-combobox class="slds-size_2-of-3 slds-m-bottom_large"
                                            label="Responsibility"
                                            placeholder="Select a Responsibility"
                                            options={responsibilityList}
                                            value={selectedResponsibility}
                                            onchange={handleCostPOResponsibilityChange}>
                        </lightning-combobox>
                        <lightning-datatable class="data-table"
                                            key-field="id"
                                            data={productRecordList}
                                            columns={productColumnList}
                                            onrowselection={handleRowSelectionClick}>
                        </lightning-datatable>
                        <template if:true={noProductsAvailable}>
                            <div class="slds-m-around_medium">
                                No Products Available
                            </div>
                        </template>
-->
                    </lightning-card>
                
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      title="Cancel"
                                      onclick={handleCancelCostPOClick}
                                      disabled={disableCostPOCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      title="Save"
                                      onclick={handleSaveCostPOClick}
                                      disabled={disableCostPOSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showNewServicePOModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                           title="Close"
                                           icon-name="utility:close"
                                           icon-class="slds-button_icon-inverse"
                                           onclick={handleCancelServicePOClick}
                                           disabled={disableButtons}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Create New Service Purchase Order</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-2">
                    <lightning-card>
                        <lightning-combobox class="slds-size_2-of-3"
                                            label="Vendor"
                                            placeholder="Select a Vendor"
                                            options={vendorList}
                                            value={selectedVendorId}
                                            onchange={handleVendorChange}>
                        </lightning-combobox>
                        <lightning-combobox class="slds-size_2-of-3 slds-var-m-bottom_large"
                                            label="Responsibility"
                                            placeholder="Select a Responsibility"
                                            options={responsibilityList}
                                            value={selectedResponsibility}
                                            onchange={handleResponsibilityChange}>
                        </lightning-combobox>
                        <lightning-datatable class="data-table"
                                             data-field="purchaseOrderProductComponent"
                                             key-field="id"
                                             data={productRecordList}
                                             columns={productColumnList}
                                             onrowselection={handleRowSelectionClick}>
                        </lightning-datatable>
                        <template if:true={noProductsAvailable}>
                            <div class="slds-var-m-around_medium">
                                No Products Available
                            </div>
                        </template>
                    </lightning-card>
                
                    <!-- References newServicePurchaseOrder LWC -->
<!--
                    <c-new-service-purchase-order order-id={recordId}
                                                  onnorecordsavailable={handleNoRecordsAvailable}
                                                  onselectedrecordlistupdate={handleSelectedRecordListUpdate}
                                                  onsavesuccess={handleSaveServicePOSuccess}
                                                  onsavefailure={handleSaveServicePOFailure}>
                    </c-new-service-purchase-order>
-->
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      title="Cancel"
                                      onclick={handleCancelServicePOClick}
                                      disabled={disableServicePOCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      title="Save"
                                      onclick={handleSaveServicePOClick}
                                      disabled={disableServicePOSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>