.THIS .button:hover{
    border-color: #EA7D39;
}

.THIS .greenButton{
	background-color: #007a45 ;
	border-color:#007a45 !important; 
}

.THIS .greenButton:hover{
	background-color: #006338 ;
	border-color: #006338 ;
}