<template>
	<div class="slds-page-header">
	  <div class="slds-page-header__row">
		<div class="slds-page-header__col-title">
		  <div class="slds-media">
			<div class="slds-media__figure">
                <lightning-icon icon-name="standard:resource_capacity" size="medium" variant="slds-icon-inverse"></lightning-icon>
			</div>
			<div class="slds-media__body">
			  <div class="slds-page-header__name">
				<div class="slds-page-header__name-title">
				  <h1>
					<span class="slds-page-header__title slds-truncate" title="Reports &amp; Dashboards">Reports & Dashboards</span>
				  </h1>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>	
    </div>
</template>