.THIS .unit-id{
    font-size: 20px;
    color:token(colorTextLabel);
}
.THIS .product-name{
    font-size: 25px;
    color: token(colorTextLabel);
}


.THIS .room{
    font-size: 20px;
    color: token(colorTextBrand);
    text-transform: uppercase;
}

.THIS .description{
    font-size: 26px;
    color: token(colorTextDefault);
    padding-top: 10px;
}

.THIS .product-details{
    font-size: 16px;
    color: token(colorTextDefault);
}

.THIS .price{
    font-size: 24px;
    color: token(colorTextLabel);
}

.THIS .Heading{
     color: token(colorTextDefault);	
    /*font-family: "Proxima Nova";*/
    font-weight: strong;
    font-size: 18px;	
    line-height: 1.25;
    font-weight: bold;
    text-align: center
}
.THIS .line{
  display: block;
  border-width: thin;
  color: #E1E1E1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: .025em;
  border-style: inset;
}
.THIS .color{
   /*height: 14px;	*/
   background-color: white;
   color:token(colorTextBrand);	
   font-size: 18px;
}
.THIS .gcolor{
   color:token(colorTextLabel);
   height: 18px;
   /*font-family:"ProximaNovaRegular";*/
}
.THIS .sec-head{
    color:token(colorTextDefault);
     height: 10px;
    font-weight: bold;
   /* font-family:"ProximaNovaRegular";*/
}
.THIS .sec-head1{
    color:token(colorTextLabel);
     height: 10px;
   
   /* font-family:"ProximaNovaRegular";*/
}
.THIS .section-header1{
   /*font-family:"ProximaNovaRegular";*/
   height: 18px;
}
.THIS .pricing-text{
     background-color: white;
    padding-top: 5px;
    /*font-family: "Proxima Nova";*/
    font-size: 16px;
}
.THIS .color1{
   /*height: 14px;	*/
   background-color: white;
    color: token(colorTextBrand);	
    /*font-family: "Proxima Nova";	*/
    font-size: 24px;	
    font-weight: bold;	
   
}

.THIS .grey-color{
    color:token(colorTextLabel);
}

.THIS .orange-no-decor{
    text-decoration: none;
    color:token(colorTextLink);
}