<!--
  @File Name          : salesSchedResultedSaleOrder.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 11/6/2019, 10:58:04 AM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    11/6/2019   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    
        <div class="demo-only" style="height: 640px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" style="width: 100%;">
                    <header class="slds-modal__header">
                        <!--<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeResultant}>
                                    <lightning-icon icon-name="utility:close" size="medium">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>-->
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Resulted Details
                        </h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <lightning-card>
                            <h3 slot="title">
                                <!--<lightning-formatted-date-time hour="numeric" minute="2-digit" value={appwrapper.appointment.Appointment_Date_Time__c}></lightning-formatted-date-time>&nbsp;-->
                                <template if:true={contact}>
                                   <template if:true={selsalesrecord.appointmentTime}>
                                    {selsalesrecord.appointmentTime} with {contact.Name}
                                    </template>
                                    <template if:false={selsalesrecord.appointmentTime}>
                                         {contact.Name}
                                        </template>
                                </template>

                            </h3>
                            <p id="demo"></p>

                            <!--<template if:true={appwrapper.isSecondary}>
                                <lightning-record-edit-form record-id={appwrapper.appointment.Sales_Order__c}
                                    object-api-name="Sales_Order__c" columns="1" data-id="resultingForm">
                                    <lightning-output-field field-name="Ride_Along_Learnings__c">
                                    </lightning-output-field>
                                </lightning-record-edit-form>
                            </template>-->
                            <lightning-record-edit-form record-id={selsalesrecord.sl.Id}
                                object-api-name="Sales_Order__c" columns="1" data-id="resultingForm">
                                <lightning-output-field field-name="Result__c"></lightning-output-field>
                                <lightning-output-field field-name="Key_Contact_Person__c"></lightning-output-field>
                                <template if:true={displaySaleDemoNoSaleOrNoDemoResulted}>
                                    <lightning-output-field field-name="Were_All_Owners_Present__c">
                                    </lightning-output-field>
                                </template>
                                <template if:true={displaySaleOrDemoNoSaleResulted}>
                                    <lightning-card title="Total House">
                                        <lightning-output-field field-name="Series_One_Windows__c">
                                        </lightning-output-field>
                                        <template if:true={displaySeriesTwo}>
                                            <lightning-output-field field-name="Series_Two_Windows__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-output-field field-name="Patio_Doors__c">
                                        </lightning-output-field>
                                        <template if:true={displayEntryDoor}>
                                            <lightning-output-field field-name="Entry_Doors__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-output-field field-name="Amount_If_Sold__c">
                                        </lightning-output-field>
                                    </lightning-card>

                                    <lightning-card title="Total Quoted">
                                        <lightning-output-field field-name="Series_One_Windows_Quoted__c">
                                        </lightning-output-field>
                                        <template if:true={displaySeriesTwo}>
                                            <lightning-output-field field-name="Series_Two_Windows_Quoted__c">
                                            </lightning-output-field>
                                        </template>
                                        <template if:true={displaySeriesA}>
                                            <lightning-output-field field-name="Includes_Series_A_Window__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-output-field field-name="Patio_Doors_Quoted__c">
                                        </lightning-output-field>
                                        <template if:true={displayEntryDoor}>
                                            <lightning-output-field field-name="Entry_Doors_Quoted__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-output-field field-name="Contract_Amount_Quoted__c">
                                        </lightning-output-field>
                                        <template if:false={displayDemoNoSaleResulted}>
                                            <lightning-output-field field-name="BAY_Windows_Quoted__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="BOW_Windows_Quoted__c">
                                            </lightning-output-field>
                                        </template>
                                    </lightning-card>

                                </template>
                                <template if:true={displaySaleResulted}>
                                    <lightning-card title="Payment">
                                        <template if:true={paymentTypeOptions}>
                                            <lightning-output-field field-name="Payment_Type__c">
                                            </lightning-output-field>
                                        </template>

                                        <template if:true={displayFinanceResulted}>
                                            <lightning-output-field field-name="Store_Finance_Program__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Account_Number__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Approved__c">
                                            </lightning-output-field>
                                        </template>

                                        <template if:true={displayCashAndFinanceResulted}>
                                            <lightning-output-field field-name="Cash__c"></lightning-output-field>
                                            <lightning-output-field field-name="Finance__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Store_Finance_Program__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Account_Number__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Approved__c">
                                            </lightning-output-field>
                                        </template>

                                        <template if:true={displayFinanceTurnDownResulted}>
                                            <lightning-output-field field-name="Who_Was_Job_Turned_Down_By__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Next_For_Renewal__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Finance_Issues__c">
                                            </lightning-output-field>
                                            <template if:true={displayFinanceDetailsResulted}>
                                                <lightning-output-field field-name="Financeable_Details__c">
                                                </lightning-output-field>
                                            </template>
                                        </template>
                                        <lightning-output-field field-name="Deposit_Type__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Deposit__c"></lightning-output-field>
                                    </lightning-card>

                                    <lightning-card title="Notes">
                                        <lightning-output-field field-name="Construction_Department_Notes__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Why_Customer_Purchased__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Concerns__c"></lightning-output-field>
                                        <lightning-output-field field-name="Address_Concerns__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Partial_Sale__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Historical_Area__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                        </lightning-output-field>
                                    </lightning-card>
                                </template>
                                <template if:true={displayDemoNoSaleResulted}>
                                    <lightning-card title="Notes">
                                        <lightning-output-field field-name="Project_Description__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Key_Reason_Customer_Didnt_Proceed__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                        </lightning-output-field>
                                        <!-- Follow up logic. -->
                                        <lightning-output-field field-name="Rescheduled__c">
                                        </lightning-output-field>
                                        <template if:true={displayFollowup}>
                                            <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c">
                                            </lightning-input-field>
                                        </template>
                                        <lightning-output-field field-name="Future_Purchase__c">
                                        </lightning-output-field>
                                    </lightning-card>
                                </template>

                                <template if:true={displayNoDemoResulted}>
                                    <lightning-card title="Notes">
                                        <lightning-output-field field-name="Why_No_Demo__c">
                                        </lightning-output-field>
                                        <!-- Follow up logic. -->
                                        <lightning-output-field field-name="Rescheduled__c">
                                        </lightning-output-field>
                                        <template if:true={displayFollowup}>
                                            <lightning-output-field field-name="Follow_Up_Appt_Date_Time__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                        </lightning-output-field>
                                    </lightning-card>
                                </template>

                                <template if:true={displayNotHomeResulted}>
                                    <lightning-card title="Notes">
                                        <lightning-output-field field-name="Comments__c"></lightning-output-field>
                                        <lightning-output-field field-name="Project_Description__c">
                                        </lightning-output-field>
                                    </lightning-card>
                                </template>

                                <template if:true={displayNotCoveredResulted}>
                                    <lightning-card title="Notes">
                                        <lightning-output-field field-name="Why_Not_Covered__c">
                                        </lightning-output-field>
                                    </lightning-card>
                                </template>

                                <template if:true={displayRideAlongAdvice}>
                                    <lightning-card title="Ride Along Advice">
                                        <lightning-output-field field-name="Ride_Along_Advice__c">
                                        </lightning-output-field>
                                        <lightning-output-field field-name="Ride_Along_Learnings__c"></lightning-output-field>
                                    </lightning-card>
                                </template>
                            </lightning-record-edit-form>
                        </lightning-card>
                    </div>
                    <footer class="slds-modal__footer">
                        <button onclick={handleCloseResultant} class="slds-button slds-button_neutral activeslot">Close
                            Resulted Details</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    
</template>