<!--
  @Component Name     : link.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 4/22/2019, 11:54:15 AM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    2/11/2019, 9:28:48 AM   Demand Chain (James Loghry)     Initial Version
-->
<template>
    <template if:true={url}>
        <a href={url} target="_self">
            <slot></slot>
        </a>
    </template>
</template>