<template>
    <lightning-record-edit-form object-api-name={accountObject} onsuccess={handleLeadTimeCreated}>
        <lightning-messages></lightning-messages>
        <div class="slds-grid">

                <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
                        
                       <b>Product Line </b> 
                    </div>
            <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
               <b>Closed Through</b> 
                
            </div>
            <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
               <b> Changed Since Last Update</b> 
            </div>
            <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
                   <b> Lead Time #Days</b>
                </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
                    
                    CS 
                </div>
                
        <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
            <lightning-input-field field-name="CS_Closed_Through__c" variant="label-hidden"></lightning-input-field>
            
        </div>
        <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
            <lightning-input-field field-name="CS_Updated__c" variant="label-hidden"></lightning-input-field>
        </div>
        <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
                <lightning-input-field field-name="CS_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
            </div>
     </div>
     <div class="slds-grid">
        <div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
                
                DB
            </div>
            
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
        <lightning-input-field field-name="DB_Closed_Through__c" variant="label-hidden"></lightning-input-field>
        
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
        <lightning-input-field field-name="DB_Updated__c" variant="label-hidden"></lightning-input-field>
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
            <lightning-input-field field-name="DB_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
        </div>
 </div>
 <div class="slds-grid">
    <div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
            
            DG
        </div>
        
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="DG_Closed_Through__c" variant="label-hidden"></lightning-input-field>
    
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="DG_Updated__c" variant="label-hidden"></lightning-input-field>
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
        <lightning-input-field field-name="DG_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
    </div>
    </div>
 <div class="slds-grid">
    <div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
            
            GL
        </div>
        
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="GL_Closed_Through__c" variant="label-hidden"></lightning-input-field>
    
</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="GL_Updated__c" variant="label-hidden"></lightning-input-field>
</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
        <lightning-input-field field-name="GL_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
    </div>
</div>



<div class="slds-grid">
<div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
        
        PW
    </div>
    
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
<lightning-input-field field-name="PW_Closed_Through__c" variant="label-hidden"></lightning-input-field>

</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
<lightning-input-field field-name="PW_Updated__c" variant="label-hidden"></lightning-input-field>
</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="PW_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
</div>
</div>

<div class="slds-grid">
<div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
        
        SPW
    </div>
    
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
<lightning-input-field field-name="SPW_Closed_Through__c" variant="label-hidden"></lightning-input-field>

</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
<lightning-input-field field-name="SPW_Updated__c" variant="label-hidden"></lightning-input-field>
</div>
<div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="SPW_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
</div>
</div>
<div class="slds-grid">
    <div class="slds-col slds-size_1-of-6 slds-align_absolute-center slds-m-right_x-small">
            
            SPW GEO
        </div>
        
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="SPW_GEO_Closed_Through__c" variant="label-hidden"></lightning-input-field>
    
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
    <lightning-input-field field-name="SPW_GEO_Updated__c" variant="label-hidden"></lightning-input-field>
    </div>
    <div class="slds-col slds-size_1-of-6 slds-m-right_x-small slds-align_absolute-center">
        <lightning-input-field field-name="SPW_GEO_LeadTime_Days__c" variant="label-hidden"></lightning-input-field>
    </div>
    </div>






         <div>

               
         </div>
         <div class="slds-grid">
         <div class="slds-col slds-size_12-of-12 slds-m-right_x-small ">
                <lightning-input-field field-name={commentsField} variant="label-hidden"></lightning-input-field>
        </div>
         </div>
        <lightning-button type="submit" variant="brand" label="Save" class="slds-m-right_x-small"></lightning-button>
        <lightning-button  variant="brand" label="Cancel" onclick={gotoListView}></lightning-button>
    </lightning-record-edit-form>
</template>