<!--
  @Component Name     : pillContainer.html
  @Description        : 
  @Author             : James Loghry (Demand Chain)
  @Group              : 
  @Last Modified By   : James Loghry (Demand Chain)
  @Last Modified On   : 4/19/2019, 7:52:39 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    4/19/2019, 7:47:49 PM   James Loghry (Demand Chain)     Initial Version
-->
<template>
    <template if:true={items}>
        <div class="slds-pill_container">
            <ul role="listbox" class="slds-listbox slds-listbox_horizontal">
                <template for:each={items} for:item="item">
                    <a onclick={handleItemRemove} data-name={item.name} key={item.name}>
                        <li role="presentation" class="slds-listbox-item">
                            <div class="slds-pill">
                                <span class="slds-pill__label">{item.label}</span>
                                <template if:true={item.showClose}>
                                    <lightning-icon icon-name="utility:close" size="x-small"></lightning-icon>
                                </template>
                            </div>
                        </li>
                    </a>
                </template>
            </ul>
        </div>
    </template>
</template>