.THIS .greenButton{
	background-color: #007a45 ;
	border-color:#007a45 !important; 
}

.THIS .greenButton:hover{
	background-color: #006338 ;
	border-color: #006338 ;
}
.THIS .orangeButton{
	background-color: #f9772c ;
	border-color: rgb(212, 212, 212);
}

.THIS .greyButton{
	background-color: #a8b7c7;
	border-color: rgb(212, 212, 212);
    color:black;
}

.THIS .buttonPosition{
    left: 24.3rem;
}