<template>
    <lightning-card title="Account" icon-name="standard:account">
            
        <template if:true={account.data}>
            <div class="slds-section slds-is-open slds-box">
                <div aria-hidden="false" class="slds-section__content" id="section1">
                    <div class="slds-grid slds-gutters ">
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Account Name</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4">
                            <span>
                                <a href={accounturl} target="_blank">{account.data.Name}</a>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-4">
                            <span><b>Sales Rep</b></span>
                        </div>
                        <div class="slds-col slds-text-align_left slds-size_1-of-4" >
                            <span><a href={salesRepurl} target="_blank">{account.data.Sales_Rep_User__r.Name}</a></span>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section2">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b> Dwelling Style</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>
                                   {account.data.Dwelling_Style__c}
                                </span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Store Location</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4" >
                                <span>
                                    {account.data.Store_Location__r.Name}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section3">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Year Built </b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                    <span>
                                        {account.data.Year_Built__c}
                                    </span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>HOA </b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span if:true= {account.data.HOA__c}>
                                    <a href={hoaurl} target="_blank">{account.data.HOA__r.Name}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section4">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Account Balance</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">       
                                <lightning-formatted-number value={account.data.Account_Balance__c} format-style="currency" currency-code="USD">
                                </lightning-formatted-number>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b> Historical </b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span if:true= {account.data.Historical__c}>
                                    <a href={historicalurl} target="_blank">{account.data.Historical__r.Name}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section5">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>No Service</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span if:true= {account.data.No_Service__c}>
                                    <input type="checkbox" name="vehicle2" value={account.data.No_Service__c} class="slds-checkbox" disabled
                                    checked /> 
                                </span>
                                <span if:false= {account.data.No_Service__c}>
                                    <input type="checkbox" name="vehicle2" value={account.data.No_Service__c} class="slds-checkbox" disabled
                                    /> 
                                </span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Building Permit</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4" > 
                                <span if:true= {account.data.Building_Permit__c}>
                                    <a href={buildingPermiturl} target="_blank">{account.data.Building_Permit__r.Name}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section6">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>No Service Notes </b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{account.data.No_Service_Notes__c}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </template>
    </lightning-card>
    <div style="height: 1300px;">
            <lightning-card title="Orders" icon-name="standard:orders">
            <lightning-datatable
                    key-field="id"
                    data={data.data}
                    columns={columns}
                    min-column-width="100"
                    max-column-width="250" 
                    hide-checkbox-column = "true"
                     >
            </lightning-datatable>
            </lightning-card>
            <!--<lightning-card>
                <c-service-req-rel-list record-id={recordId}></c-service-req-rel-list>
            </lightning-card>-->
        </div> 
</template>