<template>

    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-var-m-right_small" icon-name="standard:orders" size="small"></lightning-icon>
<!--
                                        <a onclick={handleViewAllClick} class="slds-card__header-link slds-truncate slds-m-left_small" title="Order Products">
                                            {title}
                                        </a>
-->
                                        {title}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <template if:true={showAddProductsButton}>
                                <lightning-button-group>
                                    <lightning-button label={addProductsTitle}
                                                    title={addProductsTitle}
                                                    onclick={handleAddProductsClick}>
                                    </lightning-button>
                                </lightning-button-group>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>
            <lightning-datatable 
                class="data-table"
                key-field="id"
                data={purchaseOrder.productList}
                columns={columnList}
                hide-checkbox-column=true
                onrowaction={handleRowAction}
                >
            </lightning-datatable>
        </template>

    </div>

    <template if:true={showSpinner}>
        <div class="spinnerStyle">
            <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
        </div>
    </template>

    <template if:true={showAddPartsModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                           title="Close"
                                           icon-name="utility:close"
                                           icon-class="slds-button_icon-inverse"
                                           onclick={handleAddPartsCancelClick}
                                           disabled={disableAddPartsCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">{addProductsTitle}</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-2">
                    <lightning-card>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-record-edit-form record-id={recordId}
                                                            object-api-name="Purchase_Order__c">
                                    <lightning-input-field field-name="Part__c"
                                                            onchange={handlePartChange}
                                                            required>
                                    </lightning-input-field>
                                </lightning-record-edit-form>
                            </div>
                            <div class="slds-col slds-size_1-of-6">
                                <lightning-record-edit-form object-api-name="OrderItem">
                                    <lightning-input-field field-name="Quantity"
                                                            onchange={handlePartQuantityChange}>
                                    </lightning-input-field>
                                </lightning-record-edit-form>
                            </div>
                        </div>
                        <div class="slds-var-m-left_xx-small slds-var-m-bottom_medium">
                            <lightning-button variant="brand"
                                                label="Add Part"
                                                title="Add Part to List"
                                                onclick={handleAddPartClick}>
                            </lightning-button>
                        </div>
                        <div class="slds-var-m-left_xx-small">
                            <lightning-datatable key-field="id"
                                                    data={newPartList}
                                                    columns={newPartColumnList}
                                                    onrowaction={handleRowAction}
                                                    hide-checkbox-column
                                                    show-row-number-column>
                            </lightning-datatable>
                            <template if:true={noPartsAdded}>
                                <div class="slds-var-m-around_medium">
                                    No Parts Added
                                </div>
                            </template>
                        </div>
                    </lightning-card>
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      title="Cancel"
                                      onclick={handleAddPartsCancelClick}
                                      disabled={disableAddPartsCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      title="Save"
                                      onclick={handleAddPartsSaveClick}
                                      disabled={disableAddPartsSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showAddProductsModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close"
                                           title="Close"
                                           icon-name="utility:close"
                                           icon-class="slds-button_icon-inverse"
                                           onclick={handleAddProductsCancelClick}
                                           disabled={disableAddProductsCancelButton}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-03" class="slds-modal__title slds-hyphenate">{addProductsTitle}</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-is-relative" id="modal-content-id-3">
                    <lightning-card>
                        <lightning-combobox class="slds-size_2-of-3"
                                            label="Vendor"
                                            placeholder="Select a Vendor"
                                            options={vendorList}
                                            value={selectedVendorId}>
                        </lightning-combobox>
                        <lightning-combobox class="slds-size_2-of-3 slds-var-m-bottom_large"
                                            label="Responsibility"
                                            placeholder="Select a Responsibility"
                                            options={responsibilityList}
                                            value={selectedResponsibility}>
                        </lightning-combobox>
                        <lightning-datatable class="data-table"
                                             key-field="id"
                                             data={availableProductList}
                                             columns={availableProductColumnList}
                                             selected-rows={defaultSelectedProductList}
                                             onrowselection={handleRowSelectionClick}>
                        </lightning-datatable>
                        <template if:true={noProductsAvailable}>
                            <div class="slds-var-m-around_medium">
                                No Products Available
                            </div>
                        </template>
                    </lightning-card>
                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-button"
                                      label="Cancel"
                                      title="Cancel"
                                      onclick={handleAddProductsCancelClick}
                                      disabled={disableAddProductsCancelButton}>
                    </lightning-button>
                    <lightning-button class="slds-button"
                                      variant="brand"
                                      label="Save"
                                      title="Save"
                                      onclick={handleAddProductsSaveClick}
                                      disabled={disableAddProductsSaveButton}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    
    <template if:true={openEditModal}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Update {recordToEdit.productName}</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-align_absolute-center">
                        <lightning-input type="checkbox" label="Multiple Remakes" name="MultipleRemakes" checked={recordToEdit.multipleRemakes} onchange={handleEditRemakes}></lightning-input>
                    </div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>