<template>
    
    <lightning-card title="Create New Cost Purchase Order">

        <div class="slds-var-m-around_medium slds-scrollable_none">

            <lightning-record-edit-form class="slds-size_2-of-3 slds-var-m-around_medium"
                                        object-api-name="Purchase_Order__c"
                                        record_type_id={newCostPO.RecordTypeId}
                                        density="comfy">

                <div class="slds-grid">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Vendor__c"
                                            onchange={handleVendorChange}>
                        </lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Store_Location__c"
                                               value={newCostPO.Store_Location__c}
                                               onchange={handleStoreLocationChange}>
                        </lightning-input-field>
                    </div>

                </div>

                <div class="slds-grid">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Requested_Ship_Date__c"
                                               onchange={handleReqShipDateChange}>
                        </lightning-input-field>
                    </div>
                    
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Reference__c"
                                               onchange={handleReferenceChange}>
                        </lightning-input-field>
                    </div>

                </div>

                <lightning-input-field class="slds-col slds-size_1-of-2"
                                       field-name="Comments__c"
                                       onchange={handleCommentsChange}>
                </lightning-input-field>

            </lightning-record-edit-form>

            <div class="slds-var-m-top_medium">
                <lightning-button class="slds-button"
                                  label="Cancel"
                                  title="Cancel"
                                  onclick={handleCancelCostPOClick}
                                  disabled={disableCancelButton}>
                </lightning-button>
                <lightning-button class="slds-button"
                                  variant="brand"
                                  label="Save"
                                  title="Save"
                                  onclick={handleSaveCostPOClick}
                                  disabled={disableSaveButton}>
                </lightning-button>
            </div>

        </div>

    </lightning-card>

    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
    </template>

</template>