<!--
  @Component Name     : salesRepCalendar.html
  @Description        : Sales Rep Calendar Lightning web Component
  @Author             : Demand Chain (James Loghry)
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 7/22/2019, 10:39:19 AM
  @Modification Log   : Created.
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    1/22/2019, 11:32:40 AM   Demand Chain (James Loghry)     Initial Version
-->
<template>
        <lightning-card title={cardTitle}>
            <template if:true={error}>
                <c-error-panel errors={error}></c-error-panel>
            </template>
            <template if:true={scheduleWrapper}>
                <div slot="actions">
                    <lightning-button label="Save" onclick={handleCapacitiesSave} variant={saveVariant} ></lightning-button>
                </div>
                <div class="titleRowContainer">
                    <lightning-layout>
                        <lightning-layout-item size="3">
                            <div class="previousContainer"><lightning-button-icon icon-name="utility:back" data-increment="-1" onclick={handleChangePeriod}></lightning-button-icon></div>
                        </lightning-layout-item>
                        <lightning-layout-item size="6">
                            <div class="titleContainer"><h1 class="periodTitle">{title}</h1></div>
                        </lightning-layout-item>
                        <lightning-layout-item size="3">
                            <div class="nextContainer"><lightning-button-icon icon-name="utility:forward" data-increment="1" onclick={handleChangePeriod}></lightning-button-icon></div>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
                <lightning-card title={cardTitle1}> <!--added by Ramya-->
                    <lightning-layout>
                    </lightning-layout>
                        </lightning-card>
                <div class="calendarMonthContainer">
                    <lightning-layout>
                        <lightning-layout-item size="12">
                                <div>
                                    <div class="dayNameOfMonthBox">Sunday</div>
                                    <div class="dayNameOfMonthBox">Monday</div>
                                    <div class="dayNameOfMonthBox">Tuesday</div>
                                    <div class="dayNameOfMonthBox">Wednesday</div>
                                    <div class="dayNameOfMonthBox">Thursday</div>
                                    <div class="dayNameOfMonthBox">Friday</div>
                                    <div class="dayNameOfMonthBox">Saturday</div> 
                                </div>
                            <template iterator:periodgroup={results}>
                                <template for:each={periodgroup.value.periods} for:item="day" for:index="periodIndex">
                                    <div class="dayOfMonthBox" key={day.key}>
                                        <template if:true={miniatureView}>
                                            <div class="dayOfMonthMiniContainer">
                                                <div class="dayLabelMini">
                                                    <div class="dayLabelMiniText">{day.label} </div>
                                                </div>
                                            </div>
                                        </template>
                                        <template if:false={miniatureView}>
                                            <div class="dayOfMonthContainer">
                                                <div class="dayLabel">{day.label}</div>
                                                <template if:true={day.dayWrapper}>
                                                 <template if:false={day.dayWrapper.readOnly}> <!--SS-166-->
                                                    <a href="javascript:void(0)" onclick={handleCapacityChangeAll} data-list={day.key} data-result-index={periodgroup.index} data-period-index={periodIndex}>
                                                    <template if:true={day.turnAllOn}>
                                                        All On
                                                    </template>
                                                    <template if:false={day.turnAllOn}>
                                                        All Off
                                                    </template>
                                                </a>
                                                </template><!--SS-166-->
                                                    <template for:each={day.dayWrapper.capacityWrappers} for:item="capacityWrapper" for:index="wrapperIndex">
                                                        <lightning-layout key={capacityWrapper.key}>
                                                            <lightning-layout-item size="12">
                                                                <lightning-combobox if:true={periodgroup.last}
                                                                    name={capacityWrapper.capacity.Slot__r.Name}
                                                                    label={capacityWrapper.capacity.Slot__r.Name}
                                                                    value={capacityWrapper.store}
                                                                    placeholder="Select Available Store"
                                                                    options={scheduleWrapper.storeOptions}
                                                                    readonly={day.dayWrapper.readOnly}
                                                                    data-key={capacityWrapper.key}
                                                                    data-result-index={periodgroup.index}
                                                                    data-period-index={periodIndex}
                                                                    data-wrapper-index={wrapperIndex}
                                                                    onchange={handleCapacityChange}
                                                                    dropdown-alignment="bottom-left"
                                                                ></lightning-combobox>
                                                                <lightning-combobox if:false={periodgroup.last}
                                                                    name={capacityWrapper.capacity.Slot__r.Name}
                                                                    label={capacityWrapper.capacity.Slot__r.Name}
                                                                    value={capacityWrapper.store}
                                                                    placeholder="Select Available Store"
                                                                    options={scheduleWrapper.storeOptions}
                                                                    readonly={day.dayWrapper.readOnly}
                                                                    data-key={capacityWrapper.key}
                                                                    data-result-index={periodgroup.index}
                                                                    data-period-index={periodIndex}
                                                                    data-wrapper-index={wrapperIndex}
                                                                    onchange={handleCapacityChange}
                                                                ></lightning-combobox>
                                                            </lightning-layout-item>
                                                        </lightning-layout>
                                                    </template>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </template>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </template>
        </lightning-card>
    </template>