.THIS .slds-icon-custom-custom106  {
    background-color:token(colorBorder);
    color: token(colorTextBrand);
}

.THIS .slds-icon {
    width: 2rem;
    height: 2rem;
    fill:token(colorTextBrand);
}

.THIS .slds-icon-standard-today {
    background-color: token(colorBorder);
}