<template>
    <div class="slds-text-body_regular">

        <template if:true={textToDisplay}>
            {textToDisplay}
            <div if:true={showCancellationDropdown} style="height:350px">
                <lightning-combobox
                    name="Cancellation Reason"
                    label=""
                    value={value}
                    placeholder="Select Cancellation Reason"
                    options={picklistOptions}
                    onchange={handleReasonChange} >
                </lightning-combobox>
            </div>
            <div if:false={showCancellationDropdown}></div>
            <div if:true={showCancelWithWOButton} class="slds-align_absolute-center" style="margin-top:10px">
                <lightning-button variant="brand" label="Yes Cancel Order" title="Yes Cancel Order" onclick={handleCancelWithWOButton} class="slds-m-left_x-small"></lightning-button>
            </div>
            <div if:false={showCancelWithWOButton}></div>
        </template>

        <template if:false={textToDisplay}>
        </template>

    </div>
</template>