<template>
    <lightning-layout>
        <div class="slds-var-p-around_large slds-theme_shade slds-box border">
            <div class="slds-media">
                <div class="slds-media__figure"></div>
                <div class="image1"> 
                    <img src={Rforceimage} width="140px"></img>    
               
               </div>
                <div class="slds-media__body">
                    <div class="slds-m-bottom_large" style="color: rgb(0, 57, 107); font-size: 1.25rem;"><span>Welcome to rForce!</span></div>
                    <div class="slds-m-bottom_large" style="color: rgb(0, 57, 107); font-size: 1rem;"><span>To get started, select an app below. If you already know where you want to go, you can use the navigation tabs at the top of the screen.</span></div>
                </div>
            </div>
        </div>
	</lightning-layout>
</template>