.THIS .header{
    /*display:flex;*/
    width: 100%;
    height: auto;
}

.THIS .hero{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 100px;
    height: auto;
}

@media (min-width: 800px) {
    .THIS .hero{
    	min-height: 200px;
    }
}

.THIS .forceCommunityGlobalNavigation {
    align-content: center;    
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
}
.THIS .forceCommunityGlobalNavigation .slds-list__item a{
    /*font-size: 30px !important;
    font-family:BanderaProMedium !important;*/
    padding: 2rem 5rem !important;
    
}

/*
* Used to Remove first item in navbar - the home tab/icon - mtr Aim 8/9/18
*/
.THIS .slds-list__item:first-child { 
    display: none;
    visibility: hidden;
}
/* end*/
.THIS .slds-list__item {
    display:inline-block;
    align-content: center;        
    margin: 0 auto; 
}
.THIS .forceCommunityGlobalNavigation .slds-is-fixed>.slds-list_vertical a * {
    padding: 40px !important;
    font-size: 20px !important;
}
.THIS .forceCommunityGlobalNavigation .slds-list_vertical {
    background-color: #E5E5E5;
}
@media (min-width: 48em){
.THIS .forceCommunityGlobalNavigation .slds-list__item a{
    padding: 2rem 2.4rem !important;
}
}