.THIS {
  position: relative;
  min-height: 100%;
}

.THIS header {
  border-bottom: 2px solid t(colorBorder);
  text-align: center;
}

.THIS .slds-card__header {
  margin-top: 1px;
  margin-bottom: 0;
  padding-bottom: 0.75rem;
}

.THIS .slds-item {
  padding-left: 1rem !important;
}

.THIS .slds-item:hover,
.THIS .slds-item:hover > .slds-media {
  background-color: rgb(249, 249, 250);
  cursor: pointer;
}

.THIS .slds-badge {
  border-radius: 4px;
}

.THIS .slds-badge.recommended {
  background: #1589ee;
  color: white;
}

.THIS .slds-badge.ideal {
  background: #4bca81;
  color: white;
}

.THIS .slds-badge.grade {
  background: #d4504c;
  color: white;
}

.THIS .slds-badge.grade.recommended {
  background: #ffb75d;
  color: #3e3e3c;
}

.THIS .slds-badge.grade.ideal {
  background: #4bca81;
  color: white;
}

.THIS .float-left {
  float: left;
}

.THIS .confirmation-icon .slds-icon {
  height: 6rem;
  width: 6rem;
  fill: #4bca81;
}

.THIS .no-slots-icon .slds-icon {
  height: 8rem;
  width: 8rem;
  fill: #D8DDE6;
}

.THIS .scheduled-resources {
    text-align: left;
    margin: auto;
    width: 250px;
    font-size: 0.875rem;
}

.THIS .slds-button.slds-col {
  height: 2.75rem;
  font-size: 1.125rem;
}

.THIS .slds-required {
  display: none;
}

.THIS .spinner-relative {
  position: relative;
  display: block;
  min-height: 80px;
}