<template>
    <div class="slds-text-heading_large slds-p-around_small"><strong>Add Legacy Assets</strong></div>
    <!--This button takes the user back to the account-->
    <div class="slds-p-around_medium">
        <lightning-button 
            label="Return to Account" 
            onclick={onClickBack}
            variant="brand">
        </lightning-button>
    </div>
    <!--Create a table with data from the account that the user was looking at-->
    <div class="slds-text-heading_medium slds-p-around_medium"><strong>Account Information</strong></div>
    <table class="slds-table slds-table_header-hidden slds-table_cell-buffer slds-table_bordered">
        <tbody>
            <tr>
                <td><strong>Store Location: </strong> {location}</td>
                <td><strong>Sales Rep: </strong> {salesRepName}</td>
            </tr>
            <tr>
                <td><strong>Account Name: </strong> {account.Name}</td>
                <td><strong>HOA: </strong> {HOA}</td>
            </tr>
            <tr>
                <td><strong>Dwelling Style: </strong> {account.Dwelling_Style__c} </td>
                <td><strong>Historical: </strong> {historical}</td>
            </tr>
            <tr>
                <td><strong>Year Built: </strong> {account.Year_Built__c}</td>
                <td><strong>Building Permit: </strong> {buildPermit}</td>
            </tr>
            <tr>
                <td><strong>Account Balance: </strong> {accountBal} </td>
                <!--Get a checkbox for this field-->
                <td>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-12">
                            <strong>No Service: </strong> 
                        </div>
                        <div class="slds-col slds-size_1-of-12 slds-p-horizontal_small">
                            <lightning-record-view-form record-id={account.Id} object-api-name="Account">
                                <lightning-output-field field-name="No_Service__c" variant="label-hidden"></lightning-output-field>
                            </lightning-record-view-form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><strong>No Service Notes: </strong> {account.No_Service_Notes__c}</td>
            </tr>
        </tbody>
    </table>
    <!--Create two buttons, one that adds an asset to the Legacy Assets table and one that saves the ones that were added-->
    <div class="slds-text-heading_medium slds-p-around_medium"><strong>Legacy Assets</strong></div>
    <div class="slds-p-around_medium">
        <lightning-button
            label="Add Asset"
            onclick={onClickAdd}
            variant="brand">
        </lightning-button>
        <lightning-button
            label="Save Assets"
            variant="brand"
            onclick={save}
            class="slds-m-left_x-small">
        </lightning-button>
    </div>
    <!--Create the table that will hold the Legacy Asset Data-->
    <table class="slds-table slds-table_bordered slds-no-row-hover">
        <thead>
            <tr class="slds-line-height_reset">
                <th scope="col">
                    <div class="slds-truncate" title="Product Name">Product Name</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate" title="Variant Number">Variant Number</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate" title="Install Date">Install Date</div>
                </th>
                <th>
                    <div class="slds-truncate" title="Notes">Notes</div>
                </th>
                <th scope="col" style="width:3.25rem"><!--This is for the delete button column--></th>
            </tr>
        </thead>
        <tbody>
            <!--For each item in the legacyAssets list, add a row-->
            <template for:each={legacyAssets} for:item="asset">
                
                <tr key={asset.RowNum} class="slds-hint-parent">
                    <template if:true={asset.Editable}>
                        <td>
                            <!--Create a search bar that the user can enter text in-->
                            <lightning-input 
                                type='search'
                                name='search'
                                onchange={handleSearch}
                                value={asset.Product_Name__c}
                                data-rownum={asset.RowNum}>
                            </lightning-input>
                            <!--Check if the dropdown should open under the given search bar-->
                            <template if:true={asset.HasSearchResults}>
                            <!--Create a dropdown that contains the products that match the user's search-->
                            <div class="slds-dropdown slds-dropdown-trigger slds-dropdown-trigger_click slds-dropdown_fluid slds-dropdown_length-10" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical" role="menu">
                                    <template for:each={result} for:item="product">
                                        <li class="slds-listbox_item" role="presentation" key={product.Id}>
                                            <a>
                                                <!--Allow the products to be clicked-->
                                                <div data-id={product.Id} data-name={product.Name} onclick={productSelect} role="option" class="slds-listbox_option slds-listbox_option_entity">
                                                    <span data-rownum={asset.RowNum} class="slds-listbox_option-text slds-listbox_option-text_entity">{product.Name}</span>
                                                </div>
                                            </a>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            </template>
                        </td>
                        <td>
                            <!--Have an input box that the user can enter the Variant Number in-->
                            <lightning-input 
                                name="VariantNumber"
                                type="text" 
                                value={asset.Variant_Number__c} 
                                onchange={handleVariantChange}
                                data-rownum={asset.RowNum}>
                            </lightning-input>
                        </td>
                        <td class="">
                            <!--Have an input box that the user can enter the Install Date in-->
                            <lightning-input
                                name="InstallDate"
                                type="date"
                                value={asset.InstallDate}
                                onchange={handleInstallDateChange}
                                data-rownum={asset.RowNum}
                                date-style="short">
                            </lightning-input>
                            
                        </td>
                        <td>
                            <!--Have an input box that the user can enter notes in-->
                            <lightning-input
                                name="Notes"
                                type="text"
                                value={asset.Description}
                                onchange={handleNotesChange}
                                data-rownum={asset.RowNum}>
                            </lightning-input>
                        </td>
                        <td>
                            <!--Have a delete button at the end of each row that will remove the row from the table-->
                            <button class="slds-button slds-button_icon" onclick={onClickDelete} >
                                <lightning-button-icon icon-name="action:delete" data-rownum={asset.RowNum}></lightning-button-icon>
                            </button>
                        </td>
                    </template>
                    <template if:false={asset.Editable}>
                        <td>
                            {asset.Product_Name__c}
                        </td>
                        <td>
                            {asset.Variant_Number__c}
                        </td>
                        <td>
                            <lightning-formatted-date-time 
                                value={asset.InstallDate}
                                time-zone="UTC"
                                year="numeric"
                                month="numeric"
                                day="numeric">
                            </lightning-formatted-date-time>                            
                        </td>
                        <td>
                            {asset.Description}
                        </td>
                    </template>
                </tr>
            </template>  
        </tbody>
    </table>
</template>