<template>

<!--
    <div class="slds-grid slds-grid_vertical slds-grid--vertical-align-center slds-grid--align-center">

        <template if:false={isEligible}>
            <div class="slds-col">
                <span>The Purchase Order Cannot Be Uncancelled</span>
            </div>
        </template>

        <template if:true={modalVisible}>
            <div class="slds-col">
                <span>Are you sure you want to uncancel this Purchase Order?</span>
            </div>
            <div class="slds-col slds-p-top_medium">
                <lightning-button variant="brand" label="Proceed" title="Proceed" onclick={uncancelPurchaseOrderClick}></lightning-button>
            </div>
        </template>

    </div>
-->

    <div class="slds-text-body_regular">

        <template if:true={isEligible}>
            Are you sure you want to uncancel this Purchase Order?
        </template>

        <template if:false={isEligible}>
            Purchase Order cannot be Uncancelled
        </template>

    </div>

</template>