<template>

    <lightning-accordion>

        <lightning-accordion-section name="Reimbursements" label="Reimbursements">
            
            <lightning-record-view-form class="slds-size_2-of-3 slds-var-m-around_small"
                                        record-id={recordId}
                                        object-api-name="Order"
                                        density="comfy">

                <div class="slds-grid">

                    <div class="slds-col slds-size_1-of-3">
                        <lightning-output-field field-name="Reimbursement_Labor__c"></lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_1-of-3">
                        <lightning-output-field field-name="Reimbursement_Mileage__c"></lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_1-of-3">
                        <lightning-output-field field-name="Reimbursement_Parts__c"></lightning-output-field>
                    </div>

                </div>

            </lightning-record-view-form>

            <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
                <div class="slds-page-header slds-page-header_related-list">
                    <div class="slds-page-header__row">
                        <div class="slds-page-header__col-title">
                            <div class="slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-page-header__name">
                                        <div class="slds-page-header__name-title">
                                            <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                                <lightning-icon class="slds-var-m-right_small" icon-name="custom:custom10" size="small"></lightning-icon>
                                                {title}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-page-header__col-actions">
                            <div class="slds-page-header__controls">
                                <div class="slds-page-header__control">
                                    <template if:true={showAddProductsButton}>
                                        <lightning-button-group>
                                            <!-- Button Placeholder -->
                                        </lightning-button-group>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <template if:true={showData}>
                    <lightning-datatable class="data-table"
                                         key-field="id"
                                         data={reimbursablePartList}
                                         columns={reimbursablePartColumnList}
                                         hide-checkbox-column=true>
                    </lightning-datatable>
                </template>
        
            </div>
        
        </lightning-accordion-section>

    </lightning-accordion>

</template>