.THIS.title-text{
    font-weight: bold; 
    color: token(colorTextDefault); 
    font-size: 1.2rem;
}
.THIS .gray-background{
    background: token(colorBorder);
}
.THIS.min110{
    min-height: 110px;
}

.THIS .primaryButton{
    background:var(--lwc-colorTextLink,#F26924);
    border-color:var(--lwc-colorTextLink,#F26924) !important;
    padding-top:5px;
    padding-bottom:5px;
   /*margin-left: 35px;*/
    color: white;
  
}

.THIS .section-header{
     margin-left:80px;
}

.THIS .imgsizer {    
  width: 150px;
	border-radius: 50%;  
}

.THIS .section {    
    border-radius:4px;
}

.THIS .inputWhite{
   background-color: white; 
}

.THIS .slds-m-top_xx-large {
    margin-top: 2.9rem;
}

.THIS.align-flex-start{
    align-content: center;
}