<template>
    <div style="font-size:30px; text-align:center">Configuration Summary</div>
    <div style="text-align:center; border: 5px solid lightgrey; border-radius: 5px; background-color:lightgrey; width:70%; margin-left:15%" >
        <div if:true={ProductDescription}>Configured Product Description: <strong>{ProductDescription}</strong></div>
        <div if:true={ConfiguredPrice}>Configured Product Price: <strong>${ConfiguredPrice}</strong></div>
        <div if:true={UnitID}>Configured Product Id: <strong>{UnitID}</strong></div>
    </div>
    

    <div style="font-size:20px; text-align:left; margin-left: 20%">Configuration Breakdown</div>
    <div style="margin-bottom:60px; width: 60%; margin-left: 20%;">
        <lightning-datatable
            key-field="id"
            hide-checkbox-column
            column-widths-mode="auto"
            data={PricingDetails}
            columns={columns}>
        </lightning-datatable>
    </div>
    
    <div if:true={ConfiguredPrice} style="font-size:20px; position:absolute; right:0%; color:green; margin-bottom:30px; margin-top: -30px">Grand Total: <strong>${ConfiguredPrice}</strong></div>
    <!-- CHILD COMPONENT IF NEEDED -->
    <!-- <div for:each={PricingDetails} for:item="price" key={price}>
        <c-config-breakdown-child price={price}></c-config-breakdown-child>
    </div> -->
    
</template>