.THIS .section {
	 border: 1px solid black;
    border-radius:15px;
    height:800px;
}
.THIS .test{
    height:400px;
    width:400px;
}

.THIS .bld{
    font-weight:bold;
}

.THIS .primaryButton{
	background: linear-gradient(to top, #f47a3f, #f1a42a);
    border-color:white !important;
    padding-top:5px;
    padding-bottom:5px;
}

.THIS .padd-left{
    padding-left: 250px;
}

.THIS .primaryButton:hover{
    background: #f1a42a;
    border-color:white !important;
    padding-top:5px;
    padding-bottom:5px;							   
}

.THIS .secondaryButton{
    border-color:#e5e5e5 !important;
    padding-top:5px;
    padding-bottom:5px;
    background: #e5e5e5;
    color: #828f69 !important;
}

.THIS .secondaryButton:hover{
    border-color:#e5e5e5 !important;
    padding-top:5px;
    padding-bottom:5px;
    background:#a2b68a;
    color:white !important;
}