<template>
    <!-- <style>
            .relative-icon-position {
                position:relative;
                left:90%;
                top:-25px;
                z-index: 98;
            }
    </style> -->


    <div>
        <div class="slds-grid slds-gutters slds-wrap">

            <template if:true={isLoading}>
                <div class="exampleHolder">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
            </template>

            <template iterator:it={photos}>
                    <!-- <template if:true={navigation.data} > -->
                <div class="slds-col slds-large-size_3-of-12 slds-medium-size_4-of-12" key={it.value.contentVersionId} data-id={it.value.contentVersionId} data-selected={it.value.isSelected} onclick={handleSelect}>
                    <!-- <div data-outercard={it.value.contentVersionId} class="slds-card slds-card_boundary" style="min-height: 320px; max-height: 350px; margin-bottom: 24px;"> -->
                    <div data-outercard={it.value.contentVersionId} class="slds-card slds-card_boundary" style="min-height: 300px; margin-bottom: 24px;">

                        <template if:true={it.value.isSelected}>
                            <div class="relative-icon-position" style="position:relative;left:80%;top:15px;z-index: 98;">
                                <div style="position: absolute; left: 0px; top: 0px">
                                    <lightning-icon icon-name="action:approval" alternative-text="Approved" ></lightning-icon>
                                </div>
                            </div> 
                        </template>

                        <!-- icon-name="action:approval" -->
                        <lightning-card class="slds-align_absolute-center slds-truncate" data-innercard={it.value.contentVersionId} title={it.value.title}>
                            <!-- <p slot="header">{it.value.title}</p> -->
                            <!-- <p class="slds-p-horizontal_small">{it.value.title}</p> -->
                            <img src={it.value.photoDataString} alt={it.value.title} width="100%" style="max-height: 250px;"/>
                            <!-- <img src={it.value.photoDataString} alt={it.value.title} width="100%"/> -->
                        </lightning-card>
                    </div>
                </div>
            </template>
        </div>

        <div class="slds-align_absolute-center">
            <lightning-button class="slds-theme_neutral" variant="neutral" label="Select All" onclick={handleSelectAll}></lightning-button>
            <lightning-button class="slds-theme_neutral" variant="neutral" label="Clear Selected" onclick={handleClearSelected}></lightning-button>
            <lightning-button class="slds-theme_brand" variant="brand" label="Download Selected" onclick={handleDownload}></lightning-button>
            <lightning-button class="slds-theme_brand" variant="brand" label="Export Selected" onclick={openModal}></lightning-button>
        </div>
    </div>


    <!-- EXPORT MODAL -->
    <template if:true={modalIsOpen}>

            <div role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">

                    <template if:true={isFileTransferLoading}>
                        <div class="exampleHolder">
                            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                        </div>
                    </template>
                    
                    <header class="slds-modal__header">
                        <h2 class="slds-modal__title slds-hyphenate">Transfer Files</h2>
                        <!-- <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> -->
                                                <!-- <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true"> -->
                                                <!-- <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" /> -->
                                                    <!-- <lightning-icon icon-name="symbols:close" alternative-text="Approved" ></lightning-icon> -->
                                                <!-- </svg> -->
                                                <!-- <span class="slds-assistive-text">Close</span>
                                            </button>
                        <div class="slds-text-heading_medium">Export to Order/WorkOrder</div> -->
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div>
                            <!-- DATA TABLE -->
                            <p>Select Related records to transfer selected files to.</p>

                            <lightning-datatable class="slds-m-vertical_x-large" key-field="" columns={dataTableColumns} data={relatedOrders}></lightning-datatable>
                            
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <div>
                            <lightning-button class="slds-theme_neutral" variant="neutral" label="Cancel" onclick={cancelTransfer}></lightning-button>
                            <lightning-button class="slds-theme_brand" variant="brand" label="Transfer" onclick={transferFiles}></lightning-button>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>