<!--
  @Component Name     : salesSchedRepReport.html
  @Description        : 
  @Author             : Demand Chain (James Loghry)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 10/7/2019, 2:55:59 PM
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    2/12/2019, 10:15:28 AM   Demand Chain (James Loghry)     Initial Version
-->
<template>
        <template if:true={report}>
        <!--<lightning-datatable
            data={report}
            columns={columns}
            key-field="id"
            show-row-number-column
            hide-checkbox-column
            sorted-by={sortedby}
            sorted-direction={sorteddirection}
            onrowaction={handleRowAction}
            onsort={handleUpdateSort}>
        </lightning-datatable>-->
        <c-sales-sched-data-table
            data={report}
            columns={columns}
            key-field="id"
            show-row-number-column
            hide-checkbox-column
            sorted-by={sortedby}
            sorted-direction={sorteddirection}
            onrowaction={handleRowAction}
            onsort={handleUpdateSort}
            onshowassignment={handleShowAssignmentAction}>
        </c-sales-sched-data-table>
    </template>
    <template if:true={showAssignModalAll}>
        <!--SS-167 Start-->
        <c-sales-sched-assign-modal-all 
            header={Header}
            onassignmodalclose={handleAssignModalClose} 
            onrefresh={refresh}
            prepopulated-rep-id={prepopulatedRepId}
            prepopulated-rep-name={prepopulatedRepName} 
            capacity-id={capacityId}
            onreset={reset} 
            appointment-list={AppointmentIdList}>
        </c-sales-sched-assign-modal-all>
        <!--SS-167 Start-->
    </template>
    <template if:true={showAssignModal}>
        <c-sales-sched-assign-modal
        data-id="modalBox"
            appointment-id={appointmentId}
            onassignmodalclose={handleAssignModalClose}
            onrefresh={refresh}
            prepopulated-rep-id={prepopulatedRepId}
            prepopulated-rep-name={prepopulatedRepName}
            capacity-id={capacityId}
            onreset={reset} >
        </c-sales-sched-assign-modal>
    </template>
    <template if:true={slotname}>
        <c-modal show-header visible={slotname} modal-size="medium" onmodalclose={handleAppointmentModalClose}>
            <div slot="header">Select an Appointment</div>
            <div slot="content" style="min-height: 15em;">
                <template if:true={appointmentsForSlot}>
                    <lightning-combobox name="appointments" label="Select an appointment" placeholder="Select an appointment"
                        options={appointmentsForSlot} onchange={handleShowAssignment}>
                    </lightning-combobox>
                </template>
                <template if:false={appointmentsForSlot}>
                    There are currently no unassigned appointments for this slot.
                </template>
            </div>
        </c-modal>
    </template>
</template>