.green{
    background-color: green;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.linespacing{
    padding-top: .25em;
    padding-bottom: .25em;
}

.toplinespacing{
    padding-top: .25em;
}

.bottomlinespacing{
    padding-bottom: .25em;
}

.activeslot, .activeslot:hover,.activeslot:focus,.inactiveslot:hover,.inactiveslot:focus{
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
}

/*.slds-theme--success {
    background-color: #dee6d2 !important;
    background:-webkit-linear-gradient(top,#dee6d2 25%,#dee6d2 75%)
}*/

.themesuccess {
    color: rgb(34, 2, 0) !important;
    background-color: rgb(222, 222, 210) !important;
}