<template>
  <lightning-card>
    <!--Header for the page-->
    <div class="slds-page-header slds-page-header_object-home">
      <div class="slds-grid slds-var-p-around_small">
        <div class="slds-col_bump-right">
          <div class="slds-grid slds-gutters">
            <lightning-icon
              icon-name="custom:custom44"
              alternative-text="Orders"
              size="large"
            ></lightning-icon>
            <div class="slds-col">
              <div class="slds-text-heading_medium">
                <strong>Service Request</strong>
              </div>
            </div>
          </div>
        </div>
        <div>
          <lightning-button-group class="slds-var-p-around_small">
            <lightning-button
              class="slds-var-m-right_xx-small"
              variant="brand"
              onclick={previousStep}
              label={backButtonLabel}
              icon-position="left"
              icon-name="utility:chevronleft"
            >
            </lightning-button>
            <lightning-button
              variant="brand"
              onclick={nextStep}
              label={continueButtonLabel}
              icon-position="right"
              icon-name="utility:chevronright"
              disabled={disableContinueButton}
            >
            </lightning-button>
          </lightning-button-group>
        </div>
      </div>

      <lightning-layout if:false={showServiceFields}>
        <lightning-layout-item padding="around-large">
          <div class="head-column">
            <p class="field-title" title="Order Number">Sold Order</p>
            <p class="slds-text-heading_small">{order.OrderNumber}</p>
          </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-large">
          <div class="head-column">
            <p class="field-title" title="Booking Date">Booking Date</p>
            <p class="slds-text-heading_small">
              <lightning-formatted-date-time
                value={order.EffectiveDate}
                year="numeric"
                month="2-digit"
                day="2-digit"
              >
              </lightning-formatted-date-time>
            </p>
          </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-large">
          <div class="head-column">
            <p class="field-title" title="Install Date">Install Date</p>
            <p class="slds-text-heading_small">
              <lightning-formatted-date-time
                value={order.Installation_Date__c}
                year="numeric"
                month="2-digit"
                day="2-digit"
              >
              </lightning-formatted-date-time>
            </p>
          </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-large">
          <div class="head-column">
            <p class="field-title" title="Job Close Date">Job Close Date</p>
            <p class="slds-text-heading_small">
              <lightning-formatted-date-time
                value={order.Job_Close_Date__c}
                year="numeric"
                month="2-digit"
                day="2-digit"
              >
              </lightning-formatted-date-time>
            </p>
          </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-large">
          <div class="head-column">
            <p class="field-title" title="Store Location">Store Location</p>
            <p class="slds-text-heading_small">{orderStoreName}</p>
          </div>
        </lightning-layout-item>
      </lightning-layout>
    </div>
    <div if:true={isLoaded}>
      <lightning-spinner alternative-text="Loading..." variant="brand">
      </lightning-spinner>
    </div>
    <!--Info about the Order-->

    <div class="slds-var-p-around_medium">
      <!--Have the page show a tabset of assets for the Order, and each product has a table of pieces of it-->

      <!--I'm pretty sure we need a new lightning-progress-indicator for each step since when I had current-step equal to a variable, nothing happend when I changed it-->
      <lightning-progress-indicator type="path" current-step={currentStep}>
        <template for:each={steps} for:item="step">
          <lightning-progress-step
            label={step.label}
            value={step.value}
            key={step.label}
          ></lightning-progress-step>
        </template>
      </lightning-progress-indicator>
      <br />
      <div if:true={showProductListing}>
        <template for:each={assets} for:item="asset">
          <div key={asset.assetId}>
            <c-create-service-request-product-list-child
              new-asset={asset}
              asset={asset}
              assets={assets}
              onsetselectedvalue={setSelectedValue}
              onhandlemtochange={handleMTOChange}
              onhandlechange={handleChange}
              onsetchargecostto={setChargeCostTo}
              onsetcategory={setCategory}
              onsetwhatwhere={setWhatWhere}
              onhandleaddnotesclick={handleAddNotesClick}
              onapplytoallproducts={applyToAllProducts}
              service-product-map={serviceProductMap}
              mto-door-options={mtoDoorOptions}
              mto-window-options={mtoWindowOptions}
              onhandleaddnotescloseclick={handleAddNotesCloseClick}
            ></c-create-service-request-product-list-child>
          </div>
        </template>
      </div>

      <div if:false={hideAddressSection}>
        <lightning-record-edit-form record-id={orderId} object-api-name="Order">
          <div
            class="slds-page-header slds-text-color_error"
            if:true={isErrorOnOrder}
          >
            <lightning-icon
              icon-name="utility:error"
              variant="error"
              alternative-text="error"
              size="x-small"
              class="slds-var-p-around_x-small"
            ></lightning-icon>
            {errorMsg}
          </div>
          <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
              <div class="header-column">
                <label for="serviceType" class="fontsize">Service Type</label>

                <lightning-combobox
                  data-id="serviceType"
                  variant="label-hidden"
                  options={serviceTypeList}
                  value={selectedServiceType}
                  onchange={onServiceTypeChange}
                >
                </lightning-combobox>
              </div>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
              <div class="header-column">
                <label for="accountId" class="fontsize">Account</label>
                <lightning-output-field
                  field-name="AccountId"
                  data-id="accountId"
                  variant="label-hidden"
                  value={order.AccountId}
                >
                </lightning-output-field>
              </div>
            </lightning-layout-item>
          </lightning-layout>
          <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
              <div class="header-column">
                <label for="serviceInitiatedBy" class="fontsize"
                  >Service Initiated By</label
                >
                <lightning-input-field
                  field-name="Service_initiated_By__c"
                  data-id="serviceInitiatedBy"
                  variant="label-hidden"
                  value={selectedServiceInitiatedBy}
                  onchange={onServiceInitiatedByChange}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
              <div class="header-column">
                <label for="billToContactId" class="fontsize"
                  >Bill To Contact</label
                >
                <lightning-input-field
                  field-name="BillToContactId"
                  data-id="billToContactId"
                  variant="label-hidden"
                  value={order.BillToContactId}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
              <div class="header-column">
                <label for="description" class="fontsize">Description</label>
                <lightning-input-field
                  field-name="Description"
                  data-id="description"
                  variant="label-hidden"
                  value={order.Description}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
          </lightning-layout>
          <lightning-layout multiple-rows>
            <lightning-layout-item
              size="6"
              padding="around-small"
              if:true={showServiceFields}
            >
              <div class="header-column">
                <label for="billToContactId" class="fontsize"
                  >Install Date</label
                >
                <lightning-input-field
                  field-name="Install_Date__c"
                  data-id="installDate"
                  variant="label-hidden"
                  value={installDate}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
          </lightning-layout>
          <lightning-layout multiple-rows>
            <lightning-layout-item
              size="6"
              padding="around-small"
              if:true={showReasonFields}
            >
              <div class="header-column">
                <label for="primarySaveReason" class="fontsize"
                  >Primary Save Reason</label
                >
                <lightning-input-field
                  field-name="Save_Reason__c"
                  data-id="primarySaveReason"
                  variant="label-hidden"
                  value={order.Save_Reason__c}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
            <lightning-layout-item
              size="6"
              padding="around-small"
              if:true={showReasonFields}
            >
              <div class="header-column">
                <label for="secondarySaveReason" class="fontsize"
                  >Secondary Save Reason</label
                >
                <lightning-input-field
                  field-name="Secondary_Save_Reason__c"
                  data-id="secondarySaveReason"
                  variant="label-hidden"
                  value={order.Secondary_Save_Reason__c}
                >
                </lightning-input-field>
              </div>
            </lightning-layout-item>
          </lightning-layout>
        </lightning-record-edit-form>
      </div>
      <div
        class="slds-page-header slds-text-color_error"
        if:true={isErrorOccured}
      >
        <lightning-icon
          icon-name="utility:error"
          variant="error"
          alternative-text="error"
          size="x-small"
          class="slds-var-p-around_x-small"
        ></lightning-icon>
        Please select responsibility, source of defect and defect.
      </div>
      <template
        for:each={groups}
        for:item="group"
        if:true={showGroupingSection}
      >
        <h3 class="slds-section__title" key={group.groupedVal}>
          <span
            class="slds-truncate"
            style="
              background-color: rgb(222, 230, 210);
              width: 100%;
              height: 45px;
              padding-top: 7px;
              padding-left: 5px;
            "
            title="Section Title"
          >
            <b>{group.groupedVal}</b>
          </span>
        </h3>
        <template for:each={group.accs} for:item="orderItem">
          <div class="slds-section slds-is-open" key={group.groupedVal}>
            <h3 class="slds-section__title">
              <span class="slds-truncate" title="Section Title">
                <b>Service Product:</b>
                {orderItem.orderItem.Product_Name__c}</span
              >
            </h3>
            <div
              aria-hidden="false"
              class="slds-section__content"
              id={orderItem.orderItem.Product_Name__c}
            >
              <template
                for:each={orderItem.orderItem.Charges__r}
                for:item="charge"
              >
                <lightning-record-edit-form
                  record-id={charge.id}
                  object-api-name="Charge__c"
                  key={charge.Id}
                  density="comfy "
                >
                  <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-hide">
                      <lightning-input-field
                        field-name="Charge_Cost_To__c"
                        value={charge.Charge_Cost_To__c}
                        name={charge.Id}
                        disabled
                      >
                      </lightning-input-field>
                    </div>
                    <div class="slds-col">
                      <lightning-combobox
                        name={orderItem.orderItem.Id}
                        value={orderItem.orderItem.Defect_Code__c}
                        placeholder="Select Defect Code"
                        options={orderItem.defectCodes}
                        onchange={setChargeCostTo}
                        dropdown-alignment="auto"
                        label="Defect Code"
                      >
                      </lightning-combobox>
                    </div>
                    <div class="slds-col">
                      <label>{orderItem.sourceOfDefect}</label>
                      <lightning-input-field
                        field-name="Category__c"
                        value={charge.Category__c}
                        name={charge.Id}
                        onchange={setCategory}
                        variant="label-hidden"
                      >
                      </lightning-input-field>
                    </div>
                    <div class="slds-col">
                      <lightning-input-field
                        field-name="What_Where__c"
                        value={charge.What_Where__c}
                        name={charge.Id}
                        onchange={setWhatWhere}
                      >
                      </lightning-input-field>
                    </div>
                  </div>
                </lightning-record-edit-form>
              </template>
            </div>
          </div>
        </template>
      </template>
    </div>

    <!-- Notes Modal Window -->
    <template if:true={showAddNotesModal}>
      <section
        role="dialog"
        tabindex="-1"
        class="slds-modal slds-fade-in-open slds-modal_small"
        aria-labelledby="modal-heading-02"
        aria-modal="true"
        aria-describedby="modal-content-id-2"
      >
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <lightning-button-icon
              class="slds-modal__close"
              title="Close"
              icon-name="utility:close"
              icon-class="slds-button_icon-inverse"
              onclick={handleAddNotesCloseClick}
            >
            </lightning-button-icon>
            <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">
              Add/View Notes
            </h2>
          </header>
          <div
            class="slds-modal__content slds-var-p-around_medium slds-is-relative"
            id="modal-content-id-2"
          >
            <lightning-card>
              <div class="slds-grid">
                <div class="slds-col slds-size_1-of-1">
                  <lightning-textarea
                    label="Notes"
                    value={notesValue}
                    max-length="4196"
                    onchange={handleDescriptionChange}
                  >
                  </lightning-textarea>
                </div>
              </div>
            </lightning-card>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button
              class="slds-button"
              label="Close"
              title="Close"
              onclick={handleAddNotesCloseClick}
            >
            </lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  </lightning-card>
</template>