<apex:page >
<apex:includeLightning />
<apex:slds />   
    <!-- div for the lightning component  -->
<div Id="op"></div>


<script>
            $Lightning.use("c:OrderProductEditPageApp", function () {
                $Lightning.createComponent("c:DaylightProductEditPageWrapper",
                    //   {"recordId" : "{!$CurrentPage.parameters.id}"},
                    {
                        "orderId": "{!JSENCODE($CurrentPage.parameters.orderId)}",
                        "orderItemId": "{!JSENCODE($CurrentPage.parameters.orderItemId)}"
                    },
                    "op",
                    function (cmp) {
                        console.log('Order Product Edit Page Wrapper created');
                        console.log(cmp);
                        $A.eventService.addHandler({
                            "event": 'force:showToast',
                            "handler": function(event){
                                let params = event.getParams();
                                console.log('hit visualforce event handler params', params);
                                console.log('hit visualforce event handler - event obj', event);
                                let message = params.message;
                                //  alert('Field Validation failed, please check all fields for required values');
                                 alert(message);
                            }
                        });
                    });
            });


 </script>
</apex:page>