<apex:page docType="html-5.0" controller="GanttAction_ResourceAbsencesController" showHeader="false">

    <apex:slds />
    <apex:includeLightning />

    <style>
        html, body, #resourceAbsences {
          height: 100%;
          overflow: auto;
        }
    </style>

    <div id="resourceAbsences"></div>

    <script>
        var srId = '{! srId }';
        var stmId = '{! stmId }';
        var initialStart = '{! initialStart }';
        var initialEnd = '{! initialEnd }';

        $Lightning.use('c:gantt_resourceAbsencesApp', function() {
            $Lightning.createComponent(
                'c:gantt_resourceAbsencesContainer',
                {
                    srId: srId,
                    stmId: stmId,
                    initialStart: initialStart,
                    initialEnd: initialEnd
                },
                'resourceAbsences',
                function(cmp) {
                    // after create logic goes here
                }
            );
        });
    </script>
</apex:page>