<apex:page showHeader="false" 
    standardStylesheets="false" 
    sidebar="false" 
    applyHtmlTag="false" 
    applyBodyTag="false" 
    docType="html-5.0"  
    standardController="Lead_Time__c"
     >
     
  <apex:includeLightning />
<apex:includeScript value="/lightning/lightning.out.js" />

<div id="filelightning" style="width:100%;" />
    <script>
    var urlList='{!URLFOR($Action.Lead_Time__c.List, $ObjectType.Lead_Time__c)}';
$Lightning.use("c:LeadTimeComponentAPP", function() {
$Lightning.createComponent("c:LeadTimeComponent",
{ 
url:urlList
},
"filelightning",
function(cmp) {
    
$A.eventService.addHandler({ "event": "c:toastVfPageEvent", "handler" : visualForceFunction});
});
    });
    
    var visualForceFunction = function(event){
        var myEventData = event.getParam("message");
        alert(myEventData);
    };
    </script>
</apex:page>