<apex:page standardController="OrderItem" showHeader="true" tabStyle="OrderItem" sidebar="true" extensions="RMS_OrderItemExtension">
       <apex:includeScript value="/support/console/28.0/integration.js"/>
    <apex:includeScript value="{!$Resource.jquery}" />
     <script type="text/javascript">
    if(window.onload != null){var oldOnLoad = window.onload;}
    window.onload = function() {
        if(oldOnLoad!=null){oldOnLoad();}
        testSetTabTitle();       
    };
    var sitePrefix = '{!$Site.Prefix}/'; 
    
    function testSetTabTitle() {
        //Set the current tab's title
        sforce.console.setTabTitle('{!OrderItem.Sold_Order_Product_Asset__r.Variant_Number__c} - {!OrderItem.PriceBookEntry.Name}')
    }
    
    //The callback function that openSubtab will call once it's got the ID for its primary tab
    var callOpenSubtab = function callOpenSubtab(result) {
        sforce.console.openSubtab(result.id, 
                                  theURL, true, tabName);
        theURL = '';
        tabName= '';
    };
    
    function openSubtab(urlPart, theTabName) {
        if(sforce.console.isInConsole()){
            theURL = urlPart;
            tabName = theTabName;
            sforce.console.getEnclosingPrimaryTabId(callOpenSubtab);
        }else{
            top.location.href = sitePrefix + urlPart;
        }
    }
    
    
    var callOpenConsoleUrl = function callOpenConsoleUrl(result) {
        sforce.console.openConsoleUrl(result.id, 
                                      result.consoleUrl, 
                                      true 
                                      // (optional)tabLabels:String, 
                                      // (optional)tabNames:String, 
                                      // (optional)callback:Function
                                     );
    };
    
    function callGenerateConsoleURL(urlPart, theTabName) {
        if(sforce.console.isInConsole()) {
            tabName = theTabName;
            var orderURL = '/'+'{!OrderItem.Id}';
            sforce.console.generateConsoleUrl([orderURL, urlPart], callOpenConsoleUrl); 
        }else{
            top.location.href = '{!baseUrl}'+urlPart;
            
        }       
    }
    
    
    </script>
    <apex:form >
        <div class="row" style="padding-top: 9px;">            
            <div width="25%" style="float: left;">
                <apex:image id="nonConsole" value="{!$Resource.ServiceRequestIcon}" width="33" height="33"/>                
            </div>
            <div width="75%" style="padding-top: 4px; margin-left: 37px; margin-bottom: 15px;">
                <apex:outputText style="font-size: 2em; font-weight: normal;" value="Service Product {!OrderItem.OrderItemNumber}">
                </apex:outputText>                
            </div>
        </div>
        <apex:pageBlock mode="maindetail" tabStyle="OrderItem">
            <apex:pageBlockButtons >                
                <apex:commandButton action="{!editOrderItem}" value="Edit"/>
                <apex:commandButton action="{!addResponsibility}" value="Add Responsibility"/>
                <apex:commandButton action="{!addServiceSymptom}" value="Add Service Symptom" rendered="{!IF(OrderItem.Number_Manufacturer_Charges__c > 0,true,false)}"/>
                <apex:commandButton action="{!addWarranty}" value="Add Reimbursement" rendered="{!IF(OrderItem.Number_Service_Symptoms__c > 0,true,false)}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Product Information" columns="1">
                <apex:outputField value="{!OrderItem.Sold_Order_Product_Asset__c}" label="Product"/>
                                     <!--<a href="#" onClick="callGenerateConsoleURL('/{!OrderItem.Sold_Order_Product_Asset__r.Original_Order_Product__r.Id}','View Order Product');return false">{!OrderItem.Sold_Order_Product_Asset__r.Variant_Number__c}</a> -->
                <apex:outputField value="{!OrderItem.Sold_Order_Product_Asset__r.Variant_Number__c}"/>
                <apex:outputField value="{!OrderItem.Sequence_Number__c}" />
                <apex:outputField value="{!OrderItem.Sold_Order_Product_Asset__r.Original_Order_Product__c}"/>
                <apex:outputField value="{!OrderItem.Legacy_Replacement_Product__c}"/>
                <apex:outputField value="{!OrderItem.Sold_Order_Product_NSPR__c}" label="Original NSPR"/>
                <apex:outputField value="{!OrderItem.Service_Product_Note__c}" style="width: 289px; height: 90px;" label="Internal Notes"/> 
                <apex:outputField value="{!OrderItem.OrderId}" label="Service Request"/>
                <apex:outputField value="{!OrderItem.Total_Procedure_Time__c}"/> 
                <!--<apex:outputField value="{!OrderItem.Number_Warranties__c}"/>--> 
            </apex:pageBlockSection>            
            <apex:pageBlockSection title="Order Information" columns="2">
                <apex:outputField value="{!OrderItem.PriceBookEntry.Name}" id="productName" label="Component"/>    
                <apex:outputField value="{!OrderItem.Original_Baan_Sales_Order__c}" label="Original Baan Sales Order"/>
                <apex:outputField value="{!OrderItem.Measurement_Notes__c }" style="width: 289px; height: 90px;"/>
                 <apex:outputText value="" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Desired_width__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Desired_Width_Fraction__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>                
                <apex:outputField value="{!OrderItem.Desired_Height__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Desired_Height_Fraction__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Received_Width__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Received_Width_Fraction__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Received_Height__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Received_Height_Fraction__c}" rendered="{!Orderitem.Defect_Code__c == 'BB - Height Too Short' ||Orderitem.Defect_Code__c == 'AA - Height Too Tall'||Orderitem.Defect_Code__c == 'CC - Width Too Wide'|| Orderitem.Defect_Code__c == 'DD - Width Too Narrow'}"/>
                <apex:outputField value="{!OrderItem.Purchase_Order__c}" label="Purchase Order #"/> 
                <apex:outputField value="{!OrderItem.MTO_Source_Code__c}"/>
                <apex:outputField value="{!OrderItem.Variant_Number__c}" rendered="{!IF(OrderItem.PriceBookEntry.Name != 'Complete Unit' , false , true)}"/>
                <apex:outputField value="{!OrderItem.Defect_Code__c}"/>           
                <apex:outputField value="{!OrderItem.Unit_Wholesale_Cost__c}"/>
                <apex:outputField value="{!OrderItem.Multiple_Remakes__c}"/> 
                <apex:outputField value="{!OrderItem.Total_Wholesale_Cost__c}"/>
                <apex:outputField value="{!OrderItem.Description}" label="Description"/>
                <apex:outputField value="{!OrderItem.Notes__c}" label="Notes"/>
                
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Quote/Billing Information" columns="2">
                <apex:outputField value="{!OrderItem.Do_Not_Print_Service_Product_on_Quote__c}" label="Do Not Print this Service Product on Service Quote"/>
                <apex:outputField value="{!OrderItem.Quote_Accepted__c}"/> 
                <apex:outputField value="{!OrderItem.Do_Not_Print_Service_Product_on_Invoice__c}" label="Do Not Print this Service Product on Service Invoice"/>
                <apex:outputField value="{!OrderItem.Customer_Pickup__c}"/>  
                <apex:outputField value="{!OrderItem.Quote_Amount__c}"/><br/>                                
                <apex:outputField value="{!OrderItem.Billable_Amount__c}"/>
                             
            </apex:pageBlockSection>              
        </apex:pageBlock>
    </apex:form>
    
    <apex:relatedList list="Charges__r"/>
    <apex:relatedList list="Service_Symptoms__r" rendered="{!IF(OrderItem.Number_Manufacturer_Charges__c > 0,true,false)}"/>
    <apex:relatedList list="Problem_Components__r" rendered="{!IF(OrderItem.Number_Manufacturer_Charges__c > 0,true,false)}"/>
    <apex:relatedList list="Warranties__r" rendered="{!IF((OrderItem.Number_Service_Symptoms__c > 0) || (OrderItem.Number_Warranties__c > 0),true,false)}"/>
</apex:page>