.fc-scrollpane { overflow: hidden; position: relative }
.fc-scrollpane-inner { overflow: hidden; position: relative; box-sizing: border-box; min-height: 100% }
.fc-scrollpane-inner > .fc-bg { z-index: 1 }
.fc-scrollpane-inner > .fc-content { z-index: 2; position: relative }
.fc-no-scrollbars:-webkit-scrollbar { width: 0; height: 0 }
.fc-rtl .fc-timeline { direction: rtl }
.fc-timeline .fc-divider { width: 3px; border-style: double }
.fc-timeline .fc-head > tr > .fc-divider { border-bottom: 0 }
.fc-timeline .fc-body > tr > .fc-divider { border-top: 0 }
.fc-timeline .fc-body .fc-divider.ui-widget-header { background-image: none }
.fc-scrolled .fc-head .fc-scrollpane { z-index: 2 }
.fc-timeline.fc-scrolled .fc-head .fc-scrollpane { box-shadow: 0 3px 4px rgba(0, 0, 0, 0.075) }
.fc-timeline .fc-body .fc-scrollpane { z-index: 1 }
.fc-timeline .fc-scrollpane-inner > .fc-content, .fc-timeline .fc-scrollpane-inner > .fc-bg { margin: -1px }
.fc-timeline th, .fc-timeline td { white-space: nowrap }
.fc-timeline .fc-cell-content { overflow: hidden }
.fc-timeline .fc-cell-text { padding-left: 4px; padding-right: 4px }
.fc-timeline .fc-col-resizer { cursor: col-resize }
.fc-timeline th { vertical-align: middle }
.fc-timeline .fc-head .fc-cell-content { padding-top: 3px; padding-bottom: 3px }
.fc-timeline .fc-body .ui-widget-content { background-image: none }
.fc-resource-area { width: 30% }
.fc-resource-area col { width: 40%; min-width: 70px }
.fc-resource-area col.fc-main-col { width: 60% }
.fc-flat .fc-expander-space { display: none }
.fc-ltr .fc-resource-area tr > * { text-align: left }
.fc-rtl .fc-resource-area tr > * { text-align: right }
.fc-resource-area .fc-cell-content { padding-left: 4px; padding-right: 4px }
.fc-resource-area .fc-super th { text-align: center }
.fc-resource-area th > div { position: relative }
.fc-resource-area th .fc-cell-content { position: relative; z-index: 1 }
.fc-resource-area th .fc-col-resizer { position: absolute; z-index: 2; top: 0; bottom: 0; width: 5px }
.fc-ltr .fc-resource-area th .fc-col-resizer { right: -3px }
.fc-rtl .fc-resource-area th .fc-col-resizer { left: -3px }
tr.fc-collapsed > td, tr.fc-transitioning > td { overflow: hidden }
tr.fc-transitioning > td > div { transition: margin-top 0.2s }
tr.fc-collapsed > td > div { margin-top: -10px }
.fc-body .fc-resource-area .fc-cell-content { padding-top: 8px; padding-bottom: 8px }
.fc-no-overlap .fc-body .fc-resource-area .fc-cell-content { padding-top: 5px; padding-bottom: 5px }
.fc-resource-area .fc-icon { font-size: 0.9em; vertical-align: middle; margin-top: -2% }
.fc-resource-area .fc-expander { cursor: pointer; color: rgb(102, 102, 102) }
.fc-time-area col { min-width: 2.2em }
.fc-ltr .fc-time-area .fc-chrono th { text-align: left }
.fc-rtl .fc-time-area .fc-chrono th { text-align: right }
.fc-time-area .fc-slats { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0 }
.fc-time-area .fc-slats table { height: 100% }
.fc-time-area .fc-slats .fc-minor { border-style: dotted }
.fc-time-area .fc-slats td { border-width: 0 1px }
.fc-ltr .fc-time-area .fc-slats td { border-right-width: 0 }
.fc-rtl .fc-time-area .fc-slats td { border-left-width: 0 }
.fc-time-area .fc-bgevent-container, .fc-time-area .fc-highlight-container { position: absolute; z-index: 2; top: 0; bottom: 0; width: 0 }
.fc-ltr .fc-time-area .fc-helper-container, .fc-ltr .fc-time-area .fc-bgevent-container, .fc-ltr .fc-time-area .fc-highlight-container { left: 0 }
.fc-rtl .fc-time-area .fc-helper-container, .fc-rtl .fc-time-area .fc-bgevent-container, .fc-rtl .fc-time-area .fc-highlight-container { right: 0 }
.fc-time-area .fc-bgevent, .fc-time-area .fc-highlight { position: absolute; top: 0; bottom: 0 }
.fc-time-area .fc-rows { position: relative; z-index: 3 }
.fc-time-area .fc-rows .ui-widget-content { background: none }
.fc-time-area .fc-rows td > div { position: relative }
.fc-time-area .fc-rows .fc-bgevent-container, .fc-time-area .fc-rows .fc-highlight-container { z-index: 1 }
.fc-time-area .fc-event-container { position: relative; z-index: 2; width: 0 }
.fc-time-area .fc-helper-container { position: absolute; z-index: 3; top: 0 }
.fc-time-area .fc-event-container { padding-bottom: 8px; top: -1px }
.fc-time-area tr:first-child .fc-event-container { top: 0 }
.fc-no-overlap .fc-time-area .fc-event-container { padding-bottom: 0; top: 0 }
.fc-timeline .fc-now-indicator { z-index: 3; top: 0 }
.fc-time-area .fc-now-indicator-arrow { margin: 0 -6px; border-width: 6px 5px 0 5px; border-left-color: transparent; border-right-color: transparent }
.fc-time-area .fc-now-indicator-line { margin: 0 -1px; bottom: 0; border-left-width: 1px }
.fc-timeline-event { position: absolute; border-radius: 0; padding: 2px 0; margin-bottom: 1px }
.fc-no-overlap .fc-timeline-event { padding: 5px 0; margin-bottom: 0 }
.fc-ltr .fc-timeline-event { margin-right: 1px }
.fc-rtl .fc-timeline-event { margin-left: 1px }
.fc-timeline-event .fc-content { padding: 0 1px; white-space: nowrap; overflow: hidden }
.fc-timeline-event .fc-time { font-weight: bold; padding: 0 1px }
.fc-rtl .fc-timeline-event .fc-time { display: inline-block }
.fc-timeline-event .fc-title { padding: 0 1px }
.fc-timeline-event .fc-resizer:after { width: 1px }
.fc-ltr .fc-timeline-event .fc-title { padding-left: 10px; margin-left: -8px }
.fc-rtl .fc-timeline-event .fc-title { padding-right: 10px; margin-right: -8px }
.fc-ltr .fc-timeline-event.fc-not-start .fc-title { margin-left: -2px }
.fc-rtl .fc-timeline-event.fc-not-start .fc-title { margin-right: -2px }
.fc-timeline-event.fc-not-start .fc-title, .fc-body .fc-time-area .fc-following { position: relative }
.fc-timeline-event.fc-not-start .fc-title:before, .fc-body .fc-time-area .fc-following:before { content: ""; position: absolute; top: 50%; margin-top: -5px; border: 5px solid rgb(0, 0, 0); border-top-color: transparent; border-bottom-color: transparent; opacity: 0.5 }
.fc-ltr .fc-timeline-event.fc-not-start .fc-title:before, .fc-ltr .fc-body .fc-time-area .fc-following:before { border-left: 0; left: 2px }
.fc-rtl .fc-timeline-event.fc-not-start .fc-title:before, .fc-rtl .fc-body .fc-time-area .fc-following:before { border-right: 0; right: 2px }
.fc-license-message { position: absolute; z-index: 99999; bottom: 1px; left: 1px; background: rgb(238, 238, 238); border-color: rgb(221, 221, 221); border-style: solid; border-width: 1px 1px 0 0; padding: 2px 4px; font-size: 12px; border-top-right-radius: 3px }
