<template>

<!--
    <div>
        <lightning-tree-grid
            key-field="id"
            data={data}
            columns={columns}
            hide-checkbox-column=true
            onrowaction={handleRowAction}>
        </lightning-tree-grid>
    </div>
-->

    <div class="slds-border_left slds-border_top slds-border_right slds-border_bottom">
        <div class="slds-page-header slds-page-header_related-list">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h2 class="slds-card__header-title slds-card__header-link slds-truncate">
                                        <lightning-icon class="slds-var-m-right_small" icon-name="standard:orders" size="small"></lightning-icon>
                                        {title}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <lightning-button-group>
                                <!-- Button Placeholder -->
                            </lightning-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template if:true={showData}>
            <lightning-tree-grid key-field="id"
                                 data={data}
                                 columns={columns}
                                 hide-checkbox-column=true
                                 onrowaction={handleRowAction}>
            </lightning-tree-grid>
        </template>

    </div>

    <template if:true={showSpinner}>
        <div class="spinnerStyle">
            <lightning-spinner alternative-text="Saving..." size="large"></lightning-spinner>
        </div>
    </template>

</template>