<!--
  @Component Name     : salesSchedAssignColumn.html
  @Description        : 
  @Author             : James Loghry (Demand Chain)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 09-25-2020
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0.0    5/7/2019, 7:25:10 PM   James Loghry (Demand Chain)     Initial Version
-->
<template>
  <div class="customContainerDiv">
    <template if:true= {hshow}>
    <div class="slds-popover slds-popover_panel slds-nubbin_top hoverin " role="tooltip" id="help" style="position: absolute; left: -123px; top: 100%;">
      <!--<section aria-labelledby="panel-heading-id" class="slds-popover slds-popover_panel slds-nubbin_left-top" role="dialog">-->
      <div class="slds-popover__body">
        <dl class="slds-popover__body-list">
          
           <dd class="slds-m-top_x-small">
              <dl class="slds-list_horizontal slds-wrap slds-text-body_small">
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Contact">Contact:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Contact}>{hoverdata.Contact}</dd>
                  <dt class="slds-item_label slds-text-color_weak slds-truncate" title="ApptType">ApptType:</dt>
                  <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.ApptType}>{hoverdata.ApptType}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Town">Town:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Town}>{hoverdata.Town}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Source">Source:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Source}>{hoverdata.Source}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="OneParty">OneParty:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.OneParty}>{hoverdata.OneParty}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Resit">Resit:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Resit}>{hoverdata.Resit}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Resale">Resale:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Resale}>{hoverdata.Resale}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Revisit">Revisit:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Revisit}>{hoverdata.Revisit}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="CancelSave">CancelSave:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.CancelSave}>{hoverdata.CancelSave}</dd>
                 <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Condo">Condo:</dt>
                 <dd class="slds-item_detail slds-text-color_weak slds-truncate slds-p-left_medium" title={hoverdata.Condo}>{hoverdata.Condo}</dd>
              </dl>
           </dd>     
        </dl>
      </div>
    <!--</section>-->
    </div>
  </template>
    <template if:true={doubleBooking}>
      <template if:true={unConfirmendAppts}>
        <button style="width: 100%; border-color: red; border-width: 2px" class={css} value={appointmentId} onclick={showAppointment} onmouseenter={handleMouseHover} onmouseout={handleMouseOut}> DBL</button>
    </template>
    <template if:false={unConfirmendAppts}>
      <button style="width: 100%" class={css} value={appointmentId} onclick={showAppointment} onmouseenter={handleMouseHover} onmouseout={handleMouseOut}>
        DBL
      </button>
    </template>
    </template>
    <template if:false={doubleBooking}>
          <template if:true={unConfirmendAppts}>
              <button style="width: 100%; border-color: red; border-width: 2px" class={css} value={appointmentId} onclick={showAppointment} onmouseenter={handleMouseHover} onmouseout={handleMouseOut}>{buttonLabel}</button>
          </template>
          <template if:false={unConfirmendAppts}>
            <button style="width: 100%" class={css} onclick={showAppointment} value={appointmentId} onmouseenter={handleMouseHover} onmouseout={handleMouseOut}>{buttonLabel}
                <template if:true={status}>
                  <lightning-icon icon-name="utility:check" size="xx-small"></lightning-icon>
                </template>
              <template if:true={stat}>
                R
              </template>
        </button>
      </template>
    </template>
  </div>
</template>