.customContainerDiv{
    width: 100%;
    text-align: center;
    padding: 0.2rem;
}

.hoverin{
    text-align: left !important;
}

.inverse{
    color: black;
    background-color: #cccccc;
}
.doubleBooking {
    color: white;
    background-color:black;
}
.rideAlong {
    color: #ffffff;
    background-color:#888888;
}
.base{
    color: black;
    background-color: white;
}

.destructive{
    color: white;
    background-color: red;
}

.success{
    color: black;
    background-color: yellow;
}

.brand{
    color: white;
    background-color: blue;
}