<template>
    <lightning-layout>    
        <div class="slds-var-p-around_large slds-theme_shade slds-box border">
            <div class="slds-media">
                <div class="slds-media__figure"></div>
                <div class="image1"> 
                    <img src={Rforceimage} width="110px"></img>
               </div>
                <div class="slds-media__body">
                    <div class="slds-m-bottom_large" style="color: rgb(0, 57, 107); font-size: 1.25rem;"><span>Need Help?</span></div>
                    <div class="slds-m-bottom_large" style="color: rgb(0, 57, 107); font-size: 1rem;"><span>Check out our quick links below to submit a case, read up on our most recent release, and get further training.</span></div>
                </div>
            </div>
        </div>      
    </lightning-layout>
</template>