.THIS.mainContentAreaContainer {
    background: var(--lwc-LoginBackgroundImage,url(/mywindowproject/file-asset/ILLO_Woodcut_K20_K?v=1)) 50% 50%/cover no-repeat fixed var(--lwc-LoginBackgroundColor,#F4F4F4);
    padding-bottom: 5%;
    padding-top: 5%;
}

.THIS .mainContentArea{
    background-color:#ffffff;
    padding:50px 20px 50px 20px;
    border: #e1e1e1 solid 1px;
    border-radius:4px;
    min-width:280px;
    max-width:390px;
    margin:auto;
}

.THIS .ui-widget{
    font-size: 14px;
    padding-top:5px;
    padding-bottom:5px;
}