@media(min-width: 768px) {
    .THIS .extra-padding {
        padding-left: 15rem;
        margin-top: 30px;
    }
}
.THIS .paymentInfo {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    background-color: white;
}

.THIS .statusReached {
    background-color: #0D6940;
    color:white;
}

.THIS .section {    
    border: 1px solid black;
    border-radius:15px;
    
}
.THIS .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    /* min-inline-size: 10px; */
    text-align: center;
    /* margin-top: 20px; */
    background: rgb(197,197, 197);
    word-wrap: break-word;
    padding-top: 20px;
    position: relative;
    z-index: 9;
    /* overflow: hidden; */
  }
.THIS .circle.active {
    background: rgb(100,100, 100);
}
.THIS .circle.active1 {
    background: rgb(100,100, 100);
    line-height: 50px;
}
.THIS .circle.Orange {
    background: rgb(233 , 164 , 42)
}
    
.THIS .road {
    background-image: url("/mywindowproject/resource/MileStoneRoads/Roadfiles/Gray_Road.png");
   	content: "";
    display: inline-block;
    width: 90px;
    height: 180px;
    position: absolute;
    top: -130px;
    background-size: cover;
    z-index: 1;
    left: 5px;
}

.THIS .road.active {
    background-image: url("/mywindowproject/resource/MileStoneRoads/Roadfiles/Color_Road.png");
}


.THIS .slimit{
    width: 100px;
  height: 100px;
}
.THIS .paymentInfo {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    background-color: white;
}

.THIS .statusReached {
    background-color: #0D6940;
    color:white;
}

.THIS .sec {    
    margin-left: 1em;
    margin-top: .30em;
}
.THIS .circle{
  /* border: 2px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
   font-size: .50rem;
  color: #fff;
  line-height: 55px;
  text-align: center;
  background: #A9A9A9;
    word-wrap: break-word;*/
}
.THIS .slimit{
    width: 120px;
  height: 200px;
}
.THIS .slimit2{
    position: relative;
    width: 100px;
  height: 150px;
}
.THIS .slimit3{
    position: relative;
    width: 120px; 
    height: 80px;
}
.THIS .slimit4{
    position: relative;
    width: 150px;
  height: 150px;
}
.THIS .slimit5{ 
    position: relative;
    width: 150px;  
    height: 200px;
}
.THIS .slimit6{
    position: relative;
    width: 100px;  
    height: 150px;
}
.THIS .slimit9{
  position: absolute;
    width: 600px;  
    height: 250px;
}
.THIS .twidth{
    height: 200px;
}

.THIS .caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
}

.THIS .gray-color{
  color: #D3D3D3;
}
.THIS .Road{
    position: relative;
    width: 100px;  
    height: 500px; 
}
.THIS .title
{
   font-size: 18px; 
    line-height: 1.8;
}
.THIS .SecText
{
  font-size: 10px;
  font-weight:bold;   
}