.tbs {
    padding-top: 10px;
    float: left;
    width: 49.6%;
}


.to {
    float: right;
    width: 49.6%;
    padding-bottom: 40%;
    padding-top: 10px;
}

.s {
    float: left;
    width: 49.6%;
}