<template>
    <lightning-card class="slds-card_boundary">
        <h3 slot="title">
            <lightning-icon icon-name="standard:lead" size="small" class="slds-m-right_x-small"></lightning-icon>
            <b>Window Lead Times</b>
        </h3>
        
        <lightning-record-edit-form  object-api-name=Lead_Time__c record-id={recordId}
        >
            <lightning-messages></lightning-messages>
            
            
    
                <div class="slds-col  slds-m-left_x-small ">
                        
                   <b>  <lightning-output-field field-name="LastModifiedDate"  ></lightning-output-field> </b>
                    </div>
                    
            
        
            <div class="slds-grid slds-m-left_x-small">
    
                    <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                            
                            <b>Product Line </b>
                        </div>
                <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                   <b> Closed Through </b>
                    
                </div>
                <div class="slds-col slds-size_1-of-4  slds-text-align_center ">
                  <b>  Updated Information </b>
                </div>
                <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                       <b> Lead Time #Days </b>
                    </div>
            </div>
                    <div class="slds-grid slds-m-left_x-small">
                    <div class="slds-col slds-size_1-of-4   slds-text-align_center ">
                            
                            CS 
                        </div>
                        
                <div class="slds-col slds-size_1-of-4 slds-text-align_center  ">
                    <lightning-output-field field-name="CS_Closed_Through__c" variant="label-hidden"  class="slds-text-align_center" ></lightning-output-field>
                    
                </div>
                <div class="slds-col slds-size_1-of-4 slds-text-align_center  ">
                    <lightning-output-field field-name="CS_Updated__c" variant="label-hidden" class="slds-text-align_center" ></lightning-output-field>
                </div>
                <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                        <lightning-output-field field-name="CS_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center" ></lightning-output-field>
                    </div>
             </div>
             <div class="slds-grid slds-m-left_x-small">
                <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                        
                        DB
                    </div>
                    
            <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                <lightning-output-field field-name="DB_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
                
            </div>
            <div class="slds-col slds-size_1-of-4 ">
                <lightning-output-field field-name="DB_Updated__c" variant="label-hidden" class="slds-text-align_center" ></lightning-output-field>
            </div>
            <div class="slds-col slds-size_1-of-4 ">
                    <lightning-output-field field-name="DB_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
                </div>
         </div>
         <div class="slds-grid slds-m-left_x-small ">
            <div class="slds-col slds-size_1-of-4 slds-text-align_center ">
                    
                    DG
                </div>
                
        <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="DG_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
            
        </div>
        <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="DG_Updated__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        </div>
        <div class="slds-col slds-size_1-of-4 ">
                <lightning-output-field field-name="DG_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
            </div>
        </div>
         <div class="slds-grid slds-m-left_x-small">
            <div class="slds-col slds-size_1-of-4  slds-text-align_center ">
                    
                    GL
                </div>
                
        <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="GL_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
            
        </div>
        <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="GL_Updated__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        </div>
        <div class="slds-col slds-size_1-of-4 ">
                <lightning-output-field field-name="GL_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center" ></lightning-output-field>
            </div>
     </div>
    
     
    
    <div class="slds-grid  slds-m-left_x-small ">
        <div class="slds-col slds-size_1-of-4  slds-text-align_center">
                
                PW
            </div>
            
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="PW_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        
    </div>
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="PW_Updated__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
    </div>
    <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="PW_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        </div>
    </div>
    
    <div class="slds-grid slds-m-left_x-small">
        <div class="slds-col slds-size_1-of-4 slds-text-align_center  ">
                
                SPW
            </div>
            
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="SPW_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        
    </div>
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="SPW_Updated__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
    </div>
    <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="SPW_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        </div>
    </div>

    <div class="slds-grid slds-m-left_x-small">
        <div class="slds-col slds-size_1-of-4 slds-text-align_center  ">
                
                SPW GEO
            </div>
            
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="SPW_GEO_Closed_Through__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        
    </div>
    <div class="slds-col slds-size_1-of-4 ">
        <lightning-output-field field-name="SPW_GEO_Updated__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
    </div>
    <div class="slds-col slds-size_1-of-4 ">
            <lightning-output-field field-name="SPW_GEO_LeadTime_Days__c" variant="label-hidden" class="slds-text-align_center"></lightning-output-field>
        </div>
    </div>
   
             <div>
    
                   
             </div>
             <div class="slds-grid ">
             <div class="slds-col slds-size_12-of-12  ">
                    <lightning-output-field field-name="Lead_Time_Comments__c" variant="label-hidden"  class="slds-text-align_center slds-form-element_vertical" ></lightning-output-field>
            </div>
             </div>
            
            
        </lightning-record-edit-form >
    </lightning-card>
    </template>