.activeslot, .activeslot:hover,.activeslot:focus,.inactiveslot:hover,.inactiveslot:focus{
    background-color: #828F69;
    color: #FFFFFF;
    border-color: #828F69;
    font-weight: 600;
    -webkit-text-size-adjust: 120%;
}

.inactiveslot{
    background-color: #DEE6D2 !important;
    color: #555555 !important;
}
.followupPill{
    padding: 0.5em;
    width: 100%;
}
.changeColorRed {
    border-color:red !important;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}