<!--
  @Component Name     : salesSchedAssignModal.html
  @Description        : 
  @Author             : jamesl@demandchain.com
  @Group              : 
  @Last Modified By   : Connor.Davis@andersencorp.com
  @Last Modified On   : 03-17-2021
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author                                 Modification
  ==============================================================================
  1.0    1/9/2019, 5:13:27 PM   phUser@phDomain.com     Initial Version
-->
<template>
    <template if:true={error}>
        <c-modal show-header show-footer visible={error} modal-size="medium" onmodalclose={handleErrorModalClose}>
            <div slot="header">An Error Occurred</div>
            <div slot="content">
                <c-error-panel error={error}></c-error-panel>
            </div>
        </c-modal>
    </template>
    <template if:true={appwrapper}>
        <c-modal show-header show-footer visible={appwrapper} modal-size="medium"
            onmodalclose={handleAssignmentModalClose}>
            <div slot="header">{appwrapper.formattedTime} with {appwrapper.primaryContact.Name}
            </div>
            <div slot="content" style="min-height: 15em;">
                    
                <lightning-tile>
                    <template if:true={displayRideAlongDetails}>
                        <template if:true={showridealong}>
                            <c-slds-drop-down item-icon="standard:contact" label="Sales Rep (Ride-Along)"
                                items={capacities} selected-item={selectedCapacity}
                                onitemselect={handleAssignmentClick} onitemdeselect={handleAssignmentRemove}
                                focal-point={assignmentFocus}>
                                <lightning-input autocomplete="off" type="search" onchange={handleAssignmentChange}
                                    label="Sales Rep (Ride-Along)" value={assignmentSearchKey}
                                    onblur={handleRemoveAssignmentFocus} onfocus={handleAssignmentFocus}>
                                </lightning-input>
                            </c-slds-drop-down>
                            <button onclick={handleRidealongSubmit} class="slds-button slds-button_neutral activeslot"
                                style="margin-top: 0.5rem">Add Ride-along</button>  
                           <!-- <lightning-record-edit-form
                                    record-id={appwrapper.appointment.Id}
                                    object-api-name="Sales_Appointment__c"
                                    onsubmit={handleRidealongSubmit}
                                    >
                                   <lightning-input-field field-name="Suggested_Capacity__c"></lightning-input-field>
                                    <button type="submit" class="slds-button slds-button_neutral activeslot"
                                        style="margin-top: 0.5rem">Add Ride-along</button>
                                </lightning-record-edit-form>-->
                        </template>
                     </template>
                    <template if:false={showridealong}>
                            <lightning-record-view-form record-id={appwrapper.appointment.Sales_Order__r.Opportunity__r.Id}
                            object-api-name="Opportunity">
                            <lightning-output-field field-name="Appointment_Type__c"></lightning-output-field>
                            </lightning-record-view-form>
                        <lightning-record-view-form
                            record-id={appwrapper.appointment.Sales_Order__r.Opportunity__r.AccountId}
                            object-api-name="Account">
                            <lightning-output-field field-name="ShippingAddress"></lightning-output-field>
                            <template if:true = {isPhoneAvailable}> <!-- SS-243 Added the Phone numbers-->
                            <label class="slds-form-element__label" for="select-01">
                                Primary Contact</label>
                              <div class="slds-form-element__control">
                                    <template if:true = {appwrapper.primaryContact.HomePhone}>
                                  {appwrapper.primaryContact.HomePhone} (Home)                                  
                                  <br/>
                                    </template>
                                  <template if:true = {appwrapper.primaryContact.MobilePhone}>                                 
                                  {appwrapper.primaryContact.MobilePhone} (Mobile)
                                </template>
                              </div>
                              <br/>
                            </template>
                            <lightning-output-field field-name="Dwelling_Style__c"></lightning-output-field>
                        </lightning-record-view-form>
                        <lightning-record-view-form record-id={appwrapper.appointment.Sales_Order__r.Opportunity__r.Id}
                            object-api-name="Opportunity">
                            <lightning-output-field field-name="Enabled_Marketing_Source__c"></lightning-output-field>
                            <lightning-output-field field-name="Enabled_Marketing_SubSource__c">
                            </lightning-output-field>
                            <div class="slds-form-element">
                                <span class="slds-form-element__label">Details</span>
                                <div class="slds-form-element__control">
                                    <template
                                        if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Approved_One_Party__c}>
                                        <div class="slds-form-element">
                                            One Party
                                        </div>
                                    </template>
                                    <template
                                        if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Last_DNS_Rep__c}>
                                        <div class="slds-form-element">
                                            Resit: {appwrapper.appointment.Sales_Order__r.Opportunity__r.Last_DNS_Rep__c}
                                        </div>
                                    </template>
                                    <template if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Revisit__c}>
                                        <div class="slds-form-element">
                                            Revisit
                                        </div>
                                    </template>
                                    <template
                                        if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Last_Sale_Rep__c}>
                                        <div class="slds-form-element">
                                            Repeat Sale: {appwrapper.appointment.Sales_Order__r.Opportunity__r.Last_Sale_Rep__c}
                                        </div>
                                    </template>
                                    <template
                                        if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Cancel_Save__c}>
                                        <div class="slds-form-element">
                                            Cancel / Save
                                        </div>
                                    </template>
                                    <!--<template if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Account.Dwelling_Style__c}>
                                            <div class="slds-form-element">
                                                {appwrapper.appointment.Sales_Order__r.Opportunity__r.Account.Dwelling_Style__c}
                                            </div>
                                        </template>-->
                                    <template if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Units__c}>
                                        <div class="slds-form-element">
                                            {appwrapper.appointment.Sales_Order__r.Opportunity__r.Units__c} Units
                                            (<template
                                                if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.of_Windows__c}>
                                                {appwrapper.appointment.Sales_Order__r.Opportunity__r.of_Windows__c}
                                            </template>
                                            <template
                                                if:false={appwrapper.appointment.Sales_Order__r.Opportunity__r.of_Windows__c}>
                                                0
                                            </template> Windows +
                                            <template
                                                if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Num_of_Doors__c}>
                                                {appwrapper.appointment.Sales_Order__r.Opportunity__r.Num_of_Doors__c}
                                            </template>
                                            <template
                                                if:false={appwrapper.appointment.Sales_Order__r.Opportunity__r.Num_of_Doors__c}>
                                                0
                                            </template> Doors)
                                        </div>
                                    </template>
                                    <template
                                        if:true={appwrapper.appointment.Sales_Order__r.Opportunity__r.Important_Lead_Notes__c}>
                                        <div class="slds-form-element">
                                            <lightning-formatted-text
                                                value={appwrapper.appointment.Sales_Order__r.Opportunity__r.Important_Lead_Notes__c}>
                                            </lightning-formatted-text>
                                        </div>
                                    </template>
                                </div>
                            </div>

                            <template if:true={details}>
                                <span class="slds-form-element__label">Past Appointments</span>
                                <div class="slds-form-element">
                                    <lightning-datatable data={details} columns={detailcols} key-field="salesOrderId" onrowaction={handleMultiResultData}
                                        hide-checkbox-column></lightning-datatable> 
                                      <!--  <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                               <tr class="slds-line-height_reset">
                                                  <th class="" scope="col">
                                                     <div class="slds-truncate" title="Date">Date</div>
                                                  </th>
                                                  <th class="" scope="col">
                                                     <div class="slds-truncate" title="Result">Result</div>
                                                  </th>
                                                  <th class="" scope="col">
                                                     <div class="slds-truncate" title="Done By">Done By</div>
                                                  </th>
                                                 
                                               </tr>
                                            </thead>
                                            <tbody>
                                            <template for:each={details} for:item="dt">
                                               <tr key={dt.salesOrderId} class="slds-hint-parent" >
                                                  <td data-label="Date" >
                                                     <div class="slds-truncate" title="Date">
                                                        {dt.lastSalesDate}
                                                    </div>
                                                  </td>
                                                  <td data-label="Result">
                                                     <div class="slds-truncate" title="Result">{dt.salesOrderResult}</div>
                                                  </td>
                                                  <td data-label="Done By">
                                                     <div class="slds-truncate" title="Done By">{dt.opptyOwner}</div>
                                                  </td>
                                                  <td data-label = "Actions">
                                                  <button  class="slds-button slds-button_neutral activeslot" key={dt.salesOrderId} onclick={handleResultantData} >Resulted Details</button> 
                                                </td>      
                                               </tr>
                                            </template>
                                            </tbody>
                                        </table> -->
                                </div>
                            </template>

                            <lightning-output-field field-name="Age_of_Windows__c"></lightning-output-field>
                            <lightning-output-field field-name="Age_of_Home_Year_Built__c"></lightning-output-field>
                            <lightning-output-field field-name="Window_Problems__c"></lightning-output-field>
                        </lightning-record-view-form>

                        <template if:true={showUpdateAssignment}>
                            <template if:false={readOnly}>
                              <!-- <c-slds-drop-down item-icon="standard:contact" label="Sales Rep" items={capacities.data} SS-238-->
                                <c-slds-drop-down item-icon="standard:contact" label="Sales Rep" items={capacities}
                                    selected-item={selectedCapacity} onitemselect={handleAssignmentClick}
                                    onitemdeselect={handleAssignmentRemove} focal-point={assignmentFocus}>
                                    <lightning-input autocomplete="off" type="search" onchange={handleAssignmentChange}
                                        label="Sales Rep" value={assignmentSearchKey}
                                        onblur={handleRemoveAssignmentFocus} onfocus={handleAssignmentFocus}>
                                    </lightning-input>
                                </c-slds-drop-down>
                                <button onclick={handleAssignSubmit} class="slds-button slds-button_neutral activeslot"
                                    style="margin-top: 0.5rem">Assign</button>
                                <!--
                                    <lightning-record-edit-form record-id={appointmentId} object-api-name="Sales_Appointment__c" onsubmit={handleAssignSubmit}>
                                        <lightning-input-field field-name="Suggested_Capacity__c"></lightning-input-field>
                                        <button type="submit" class="slds-button slds-button_neutral activeslot"
                                            style="margin-top: 0.5rem">Assign</button>
                                    </lightning-record-edit-form>-->
                            </template>
                        </template>

                        <template if:true={showAssignedTo}>
                            <div class="slds-form-element">
                                <span class="slds-form-element__label">Appointment Assigned To:</span>
                                <div class="slds-form-element__control">
                                    {repName}
                                </div>
                                <template if:true={appwrapper.assignable}>
                                    <template if:false={readOnly}>
                                        <div class="slds-grid slds-wrap slds-form-element__control">
                                            <div class="slds-col">
                                                <button class="slds-button slds-button_neutral activeslot"
                                                    style="margin-top: 0.5rem"
                                                    onclick={handleToggleUpdateAssignment}>Update</button>
                                                <button class="slds-button slds-button_neutral activeslot"
                                                    style="margin-top: 0.5rem; margin-left:  0.5rem;"
                                                    onclick={handleRemoveAssignment}>Unassign</button>
                                            </div>
                                            <div class="slds-col" align="right"> 
                                                <template if:true={isNotFinalized}>
                                                    <button class="slds-button slds-button_neutral activeslot"
                                                    style="margin-top: 0.5rem" onclick={handleFinalizeFromAppointmentCard}>Finalize</button>
                                                </template>
                                                <template if:false={isNotFinalized}>
                                                        <button class="slds-button slds-button_neutral"
                                                        style="margin-top: 0.5rem">Finalize</button>
                                                    </template>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </template>

                        <template if:true={showPrepopulatedName}>
                            <template if:false={readOnly}>
                                <div class="slds-form-element">
                                    <span class="slds-form-element__label">Assign To:</span>
                                    <div class="slds-form-element__control">
                                        {prepopulatedRepName}
                                    </div>
                                    <div class="slds-form-element__control">
                                        <button class="slds-button slds-button_neutral activeslot"
                                            style="margin-top: 0.5rem"
                                            onclick={handlePrepopulatedSubmit}>Assign</button>
                                    </div>
                                </div>
                            </template>
                        </template>

                        <template if:true={displayRideAlongDetails}>
                            <template if:false={showPrepopulatedName}>
                                <div class="slds-form-element">
                                    <span class="slds-form-element__label">Appointment Rep(s):</span>

                                    <template if:true={readOnly}>
                                        <template for:each={ridealongs} for:item="ridealong">
                                            <div class="slds-form-element__control" key={ridealong.name}>
                                                {ridealong.label}</div>
                                        </template>
                                    </template>
                                    <template if:false={readOnly}>
                                        <div class="slds-form-element__control">
                                            <template if:true={ridealongs}>
                                                <c-pill-container items={ridealongs}
                                                    onitemremove={handleRidealongRemove}></c-pill-container>
                                            </template>
                                        </div>
                                       <!--// SS-210 
                                        <div class="slds-form-element__control" style="margin-top: 0.5rem">
                                            <lightning-button icon-name="action:new" label="Add Ride Along11"
                                                onclick={handleAddRideAlong}></lightning-button>
                                        </div> --> 
                                    </template>
                                </div>
                            </template>
                        </template>
                        <!--Start-->
                        <template if:true={showAssignedTo}>
                            <div class="slds-form-element">
                                <template if:true={appwrapper.assignable}>
                                    <template if:false={readOnly}>
                                    <!--SS-210--> 
                                        <div class="slds-form-element__control" style="margin-top: 0.5rem">
                                            <lightning-button icon-name="action:new" label="Add Ride Along"
                                                onclick={handleAddRideAlong}></lightning-button>
                                        </div> 
                                    </template>
                                </template>
                            </div>
                        </template>
                        <!--End-->
                    </template>
                </lightning-tile>
            </div>
            <div slot="footer">
                <template if:false={readOnly}>
                <template if:true={displayResultedButton}>
                    <button onclick={clearResultantDetails} class="slds-button slds-button_text-destructive">Clear Resulted
                        Details</button>
                    
                    <button onclick={handleResultantData} class="slds-button slds-button_neutral activeslot">Resulted
                        Details</button>
                </template>
                <template if:true={displayReResultedButton}>
                    <button onclick={handleResultantData} class="slds-button slds-button_neutral activeslot">Re-Resultant</button>
                </template>
                </template>
                <button onclick={handleAssignmentModalClose}
                    class="slds-button slds-button_neutral activeslot">Close</button>
            </div>
        </c-modal>
        <template if:true={acprimaryContactBol}>
            <c-sales-sched-resulted-sale-order selsalesrecord={selSaleOrder} contact={acprimaryContact} onclose={handleCloseAction}>
                
                </c-sales-sched-resulted-sale-order>
        </template>
        <template if:true={openResultant}>

            <div class="demo-only" style="height: 640px;">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <!--<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeResultant}>
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>-->
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Resulted Details
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <lightning-card>
                                <h3 slot="title">
                                    <!--<lightning-formatted-date-time hour="numeric" minute="2-digit" value={appwrapper.appointment.Appointment_Date_Time__c}></lightning-formatted-date-time>&nbsp;-->
                                    <template if:true={appwrapper.primaryContact}>
                                        {appwrapper.formattedTime} with {appwrapper.primaryContact.Name}
                                    </template>
                                </h3>
                                <p id="demo"></p>

                                <!--<template if:true={appwrapper.isSecondary}>
                                    <lightning-record-edit-form record-id={appwrapper.appointment.Sales_Order__c}
                                        object-api-name="Sales_Order__c" columns="1" data-id="resultingForm">
                                        <lightning-output-field field-name="Ride_Along_Learnings__c">
                                        </lightning-output-field>
                                    </lightning-record-edit-form>
                                </template>-->
                                <template if:false={openResultantInEditMode}>
                                <lightning-record-edit-form record-id={appwrapper.appointment.Sales_Order__c}
                                    object-api-name="Sales_Order__c" columns="1" data-id="resultingForm">
                                    <lightning-output-field field-name="Result__c"></lightning-output-field>
                                    <lightning-output-field field-name="Key_Contact_Person__c"></lightning-output-field>
                                    <template if:true={displaySaleDemoNoSaleOrNoDemoResulted}>
                                        <lightning-output-field field-name="Were_All_Owners_Present__c">
                                        </lightning-output-field>
                                    </template>
                                    <template if:true={displaySaleOrDemoNoSaleResulted}>
                                        <lightning-card title="Total House">
                                            <lightning-output-field field-name="Series_One_Windows__c">
                                            </lightning-output-field>
                                            <template if:true={displaySeriesTwo}>
                                                <lightning-output-field field-name="Series_Two_Windows__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Patio_Doors__c">
                                            </lightning-output-field>
                                            <template if:true={displayEntryDoor}>
                                                <lightning-output-field field-name="Entry_Doors__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Amount_If_Sold__c">
                                            </lightning-output-field>
                                        </lightning-card>

                                        <lightning-card title="Total Quoted">
                                            <lightning-output-field field-name="Series_One_Windows_Quoted__c">
                                            </lightning-output-field>
                                            <template if:true={displaySeriesTwo}>
                                                <lightning-output-field field-name="Series_Two_Windows_Quoted__c">
                                                </lightning-output-field>
                                            </template>
                                            <template if:true={displaySeriesA}>
                                                <lightning-output-field field-name="Includes_Series_A_Window__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Patio_Doors_Quoted__c">
                                            </lightning-output-field>
                                            <template if:true={displayEntryDoor}>
                                                <lightning-output-field field-name="Entry_Doors_Quoted__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Contract_Amount_Quoted__c">
                                            </lightning-output-field>
                                            <template if:false={displayDemoNoSaleResulted}>
                                                <lightning-output-field field-name="BAY_Windows_Quoted__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="BOW_Windows_Quoted__c">
                                                </lightning-output-field>
                                            </template>
                                        </lightning-card>

                                    </template>
                                    <template if:true={displaySaleResulted}>
                                        <lightning-card title="Payment">
                                            <template if:true={paymentTypeOptions}>
                                                <lightning-output-field field-name="Payment_Type__c">
                                                </lightning-output-field>
                                            </template>

                                            <template if:true={displayFinanceResulted}>
                                                <lightning-output-field field-name="Store_Finance_Program__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Account_Number__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Approved__c">
                                                </lightning-output-field>
                                            </template>

                                            <template if:true={displayCashAndFinanceResulted}>
                                                <lightning-output-field field-name="Cash__c"></lightning-output-field>
                                                <lightning-output-field field-name="Finance__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Store_Finance_Program__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Account_Number__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Approved__c">
                                                </lightning-output-field>
                                            </template>

                                            <template if:true={displayFinanceTurnDownResulted}>
                                                <lightning-output-field field-name="Who_Was_Job_Turned_Down_By__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Next_For_Renewal__c">
                                                </lightning-output-field>
                                                <lightning-output-field field-name="Finance_Issues__c">
                                                </lightning-output-field>
                                                <template if:true={displayFinanceDetailsResulted}>
                                                    <lightning-output-field field-name="Financeable_Details__c">
                                                    </lightning-output-field>
                                                </template>
                                            </template>
                                            <lightning-output-field field-name="Deposit_Type__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Deposit__c"></lightning-output-field>
                                        </lightning-card>

                                        <lightning-card title="Notes">
                                            <lightning-output-field field-name="Construction_Department_Notes__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Why_Customer_Purchased__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Concerns__c"></lightning-output-field>
                                            <lightning-output-field field-name="Address_Concerns__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Partial_Sale__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Historical_Area__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                            </lightning-output-field>
                                        </lightning-card>
                                    </template>
                                    <template if:true={displayDemoNoSaleResulted}>
                                        <lightning-card title="Notes">
                                            <lightning-output-field field-name="Project_Description__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Key_Reason_Customer_Didnt_Proceed__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                            </lightning-output-field>
                                            <!-- Follow up logic. -->
                                            <lightning-output-field field-name="Rescheduled__c">
                                            </lightning-output-field>
                                            <template if:true={displayFollowup}>
                                                <lightning-output-field field-name="Follow_Up_Appt_Date_Time__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Future_Purchase__c">
                                            </lightning-output-field>
                                        </lightning-card>
                                    </template>

                                    <template if:true={displayNoDemoResulted}>
                                        <template if:true={displaySeriesA}>
                                            <lightning-output-field field-name="Includes_Series_A_Window__c">
                                            </lightning-output-field>
                                        </template>
                                        <lightning-card title="Notes">
                                            <lightning-output-field field-name="Why_No_Demo__c">
                                            </lightning-output-field>
                                            <!-- Follow up logic. -->
                                            <lightning-output-field field-name="Rescheduled__c">
                                            </lightning-output-field>
                                            <template if:true={displayFollowup}>
                                                <lightning-output-field field-name="Follow_Up_Appt_Date_Time__c">
                                                </lightning-output-field>
                                            </template>
                                            <lightning-output-field field-name="Mail_and_Canvass_Neighborhood__c">
                                            </lightning-output-field>
                                        </lightning-card>
                                    </template>

                                    <template if:true={displayNotHomeResulted}>
                                        <lightning-card title="Notes">
                                            <lightning-output-field field-name="Comments__c"></lightning-output-field>
                                            <lightning-output-field field-name="Project_Description__c">
                                            </lightning-output-field>
                                        </lightning-card>
                                    </template>

                                    <template if:true={displayNotCoveredResulted}>
                                        <lightning-card title="Notes">
                                            <lightning-output-field field-name="Why_Not_Covered__c">
                                            </lightning-output-field>
                                        </lightning-card>
                                    </template>

                                    <template if:true={displayRideAlongAdvice}>
                                        <lightning-card title="Ride Along Advice">
                                            <lightning-output-field field-name="Ride_Along_Advice__c">
                                            </lightning-output-field>
                                            <lightning-output-field field-name="Ride_Along_Learnings__c"></lightning-output-field>
                                        </lightning-card>
                                    </template>
                                    <lightning-layout>
                                        <lightning-layout-item size="6" padding="around-small">
                                            <button onclick={handleResultantDataInEdit}
                                                class="slds-button slds-button_neutral activeslot fullwidth">Edit Resultant Details</button>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-record-edit-form>
                                </template>
                                <template if:true={openResultantInEditMode}>
                                        <lightning-record-edit-form record-id={appwrapper.appointment.Sales_Order__c}
                                            object-api-name="Sales_Order__c" columns="1" data-id="resultingForm"
                                            onsubmit={handleResultingSubmit} onsuccess={handleResultingSuccess}
                                            onerror={handleResultingError}>
                                            <!--<lightning-input-field field-name="Result__c"></lightning-input-field>-->
                                            <lightning-combobox name="Result" label="Result" placeholder="Choose Result"
                                                value={resultStatus} onchange={handleResultChange} options={resultOptions}>
                                            </lightning-combobox>
                                            <lightning-input-field field-name="Key_Contact_Person__c" class={keyContactPersonColor} onchange={keyContactValue}></lightning-input-field>
                                            <template if:true={displaySaleDemoNoSaleOrNoDemoResulted}>
                                                <lightning-input-field field-name="Were_All_Owners_Present__c" class={ownerPresentColor} onchange={ownerPresentValue}>
                                                </lightning-input-field>
                                            </template>
                                            <template if:true={displaySaleOrDemoNoSaleResulted}>
                                                <lightning-card title="Total House">
                                                    <lightning-input-field field-name="Series_One_Windows__c" class={seriesOneWindowColor} onchange={seriesOneWindowValue}>
                                                    </lightning-input-field>
                                                    <template if:true={displaySeriesTwo}>
                                                        <lightning-input-field field-name="Series_Two_Windows__c"  class={seriesTwoWindowColor} onchange={seriesTwoWindowValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                    <lightning-input-field field-name="Patio_Doors__c" class={patioDoorsColor} onchange={patioDoorsValue}>
                                                    </lightning-input-field>
                                                    <template if:true={displayEntryDoor}>
                                                        <lightning-input-field field-name="Entry_Doors__c" class={entryDoorsColor} onchange={entryDoorsValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                    <lightning-input-field field-name="Amount_If_Sold__c" class={amountIfSoldColor} onchange={amountIfSoldValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
        
                                                <lightning-card title="Total Quoted">
                                                    <lightning-input-field field-name="Series_One_Windows_Quoted__c" class={seriesOneQuoteColor} onchange={seriesOneQuoteValue}>
                                                    </lightning-input-field>
                                                    <template if:true={displaySeriesTwo}>
                                                        <lightning-input-field field-name="Series_Two_Windows_Quoted__c" class={seriesTwoQuoteColor} onchange={seriesTwoQuoteValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                    <template if:true={displaySeriesA}>
                                                        <lightning-input-field field-name="Includes_Series_A_Window__c" class={seriesAQuoteColor}
                                                            onchange={seriesAQuoteValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                    <lightning-input-field field-name="Patio_Doors_Quoted__c" class={patioQuoteColor} onchange={patioQuoteValue}>
                                                    </lightning-input-field>
                                                    <template if:true={displayEntryDoor}>
                                                        <lightning-input-field field-name="Entry_Doors_Quoted__c" class={entryQuoteColor} onchange={entryQuoteValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                    <lightning-input-field field-name="Contract_Amount_Quoted__c" class={caQuoteColor} onchange={caQuoteValue}>
                                                    </lightning-input-field>
                                                    <template if:false={displayDemoNoSaleResulted}>
                                                        <lightning-input-field field-name="BAY_Windows_Quoted__c" class={bayWQuoteColor} onchange={bayWQuoteValue}>
                                                        </lightning-input-field>
                                                        <lightning-input-field field-name="BOW_Windows_Quoted__c" class={bowWQuoteColor} onchange={bowWQuoteValue}>
                                                        </lightning-input-field>
                                                    </template>
                                                </lightning-card>
        
                                            </template>
                                            <template if:true={displaySaleResulted}>
                                                <lightning-card title="Payment">
                                                    <!--<template if:true={paymentTypeOptions}>
                                                        <lightning-combobox name="Payment Type" label="Payment Type"
                                                           placeholder="Choose Payment Type" value={paymentType}
                                                           onchange={handlePaymentTypeChange} options={paymentTypeOptions}> 
                                                        </lightning-combobox>
                                                     </template>-->
                                                     <lightning-combobox name="Payment Type" label="Payment Type"
                                                        placeholder="Choose Payment Type" value={paymentType}
                                                        onchange={handlePaymentTypeChange} options={paymentTypeOptions} class={paymentTypeColor}> 
                                                    </lightning-combobox>
                                                    <template if:true={displayFinanceResulted}>
                                                        <c-slds-drop-down label="Finance Source" items={financeCompanies.data} selected-item={selectedFinanceCompanyObject}
                                                        onitemselect={handleCompanyClick}
                                                        onitemdeselect={handleCompanyRemove}
                                                        focal-point={financeCompanyFocus}>
                                                            <lightning-input autocomplete="off" type="search"
                                                                onchange={handleFinanceCompanyChange} label="Finance Source"
                                                                value={financeCompanySearchKey}
                                                                onblur={handleRemoveCompanyFocus}
                                                                onfocus={handleFinanceCompanyFocus} class={financeCompanyColor}></lightning-input>
                                                        </c-slds-drop-down>
                                                        <c-slds-drop-down label="Finance Plan" items={financePlans.data}
                                                        selected-item={selectedFinanceProgramObject}
                                                        onitemselect={handlePlanClick} focal-point={financePlanFocus}>
                                                        <lightning-input autocomplete="off" type="search"
                                                            onchange={handleFinancePlanChange} label="Finance Plan"
                                                            value={financePlanSearchKey} onblur={handleRemovePlanFocus}
                                                            onfocus={handleFinancePlanFocus}  class={financePlanColor}></lightning-input>
                                                        </c-slds-drop-down>
                                                        <lightning-input-field field-name="Account_Number__c" onchange={accountNumberValue} class={accountNumberColor}>
                                                        </lightning-input-field>
                                                        <lightning-input-field field-name="Approved__c" onchange={approvedValue} class={approvedColor}>
                                                        </lightning-input-field>
                                                    </template>
        
                                                    <template if:true={displayCashAndFinanceResulted}>
                                                        <lightning-input-field field-name="Cash__c" onchange={cashFieldValue} class={cashFieldColor}></lightning-input-field>
                                                        <lightning-output-field field-name="Finance__c">
                                                        </lightning-output-field>
                                                        <c-slds-drop-down label="Finance Source"
                                                            items={financeCompanies.data}
                                                            selected-item={selectedFinanceCompanyObject}
                                                            onitemselect={handleCompanyClick}
                                                            onitemdeselect={handleCompanyRemove}
                                                            focal-point={financeCompanyFocus}>
                                                            <lightning-input autocomplete="off" type="search"
                                                                onchange={handleFinanceCompanyChange} label="Finance Source"
                                                                value={financeCompanySearchKey}
                                                                onblur={handleRemoveCompanyFocus}
                                                                onfocus={handleFinanceCompanyFocus} class={financeCompanyColor}></lightning-input>
                                                        </c-slds-drop-down>
                                                        <c-slds-drop-down label="Finance Plan" items={financePlans.data}
                                                        selected-item={selectedFinanceProgramObject}
                                                            onitemselect={handlePlanClick} focal-point={financePlanFocus}>
                                                            <lightning-input autocomplete="off" type="search"
                                                                onchange={handleFinancePlanChange} label="Finance Plan"
                                                                value={financePlanSearchKey} onblur={handleRemovePlanFocus}
                                                                onfocus={handleFinancePlanFocus} class={financePlanColor}></lightning-input>
                                                        </c-slds-drop-down>
                                                        <lightning-input-field field-name="Account_Number__c" onchange={accountNumberValue} class={accountNumberColor}>
                                                        </lightning-input-field>
                                                        <lightning-input-field field-name="Approved__c" onchange={approvedValue} class={approvedColor}>
                                                        </lightning-input-field>
                                                    </template>
        
                                                    <template if:true={displayFinanceTurnDownResulted}>
                                                        <c-slds-drop-down label="Who Was Job Turned Down By?"
                                                        items={turnedDownByCompanies.data}
                                                        selected-item={selectedTurnedDownByObject}
                                                        onitemselect={handleTurnedDownByClick}
                                                        onitemdeselect={handleTurnedDownByRemove}
                                                        focal-point={turnedDownByFocus}>
                                                        <lightning-input autocomplete="off" type="search"
                                                            onchange={handleTurnedDownByChange}
                                                            label="Who Was Job Turned Down By?"
                                                            value={turnedDownBySearchKey}
                                                            onblur={handleRemoveTurnedDownByFocus}
                                                            onfocus={handleTurnedDownByFocus} class={financeTurnDownColor}></lightning-input>
                                                        </c-slds-drop-down>
                                                        <lightning-input-field field-name="Next_For_Renewal__c" onchange={renewalValue} class={renewalColor}>
                                                        </lightning-input-field>
                                                        <template if:true={yesNoOptions}>
                                                            <lightning-combobox name="FinanceIssues"
                                                               label="Should job have finance issues?"
                                                               placeholder="Should job have finance issues?"
                                                               value={financeIssues} onchange={handleFinanceIssuesChange}
                                                               options={yesNoOptions} class={financeIssueColor}>
                                                            </lightning-combobox>
                                                         </template>
                                                        <template if:true={displayFinanceDetailsResulted}>
                                                            <lightning-input-field field-name="Financeable_Details__c">
                                                            </lightning-input-field>
                                                        </template>
                                                    </template>
                                                    <lightning-input-field field-name="Deposit_Type__c" onchange={depositTypeValue} class={depositTypeColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Deposit__c" onchange={depositValue} class={depositColor}></lightning-input-field>
                                                </lightning-card>
        
                                                <lightning-card title="Notes">
                                                    <lightning-input-field field-name="Construction_Department_Notes__c" onchange={constructionValue} class={contructionColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Why_Customer_Purchased__c" onchange={customerValue} class={customerColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Concerns__c" onchange={concernsValue} class={concernsColor}></lightning-input-field>
                                                    <lightning-input-field field-name="Address_Concerns__c" onchange={addressConcernsValue} class={addressConcernsColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Partial_Sale__c" onchange={partialSaleValue} class={partialSaleColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Historical_Area__c" onchange={historicalAreaValue} class={historicalAreaColor}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c" class={mailColor} onchange={mailValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
                                            </template>
                                            <template if:true={displayDemoNoSaleResulted}>
                                                <lightning-card title="Notes">
                                                    <lightning-input-field field-name="Project_Description__c" class={projectDescriptionColor} onchange={projectDescriptionValue}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Key_Reason_Customer_Didnt_Proceed__c" class={keyReasonColor} onchange={keyReasonValue}>
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c"  class={mailColor} onchange={mailValue}>
                                                    </lightning-input-field>
                                                    <!-- Follow up logic. -->
                                                    <template if:true={yesNoOptions}>
                                                        <lightning-combobox name="Reschedule"
                                                           label="Did you reschedule the appointment?"
                                                           value={reschedule} onchange={handleRescheduleChange}
                                                           options={yesNoOptions} class={reschedulePKColor}> 
                                                        </lightning-combobox>
                                                        <template if:true={displayFollowup}>
                                                           <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c" class={followUpDateTimeColor} onchange={followUpDateTimeValue}>
                                                           </lightning-input-field>
                                                        </template>
                                                     </template>
                                                    <lightning-input-field field-name="Future_Purchase__c" class={futurePurchaseColor} onchange={futurePurchaseValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
                                            </template>
        
                                            <template if:true={displayNoDemoResulted}>
                                                <template if:true={displaySeriesA}>
                                                    <lightning-input-field field-name="Includes_Series_A_Window__c" class={seriesAQuoteColor}
                                                        onchange={seriesAQuoteValue}>
                                                    </lightning-input-field>
                                                </template>
                                                <lightning-card title="Notes">
                                                    <lightning-input-field field-name="Why_No_Demo__c" class={whyNoDemoColor} onchange={whyNoDemoValue}>
                                                    </lightning-input-field>    
                                                    <!-- Follow up logic. -->
                                                    <template if:true={yesNoOptions}>
                                                        <lightning-combobox name="Reschedule"
                                                           label="Did you reschedule the appointment?"
                                                           value={reschedule} onchange={handleRescheduleChange}
                                                           options={yesNoOptions} class={reschedulePKColor}>
                                                        </lightning-combobox>
                                                        <template if:true={displayFollowup}>
                                                           <lightning-input-field field-name="Follow_Up_Appt_Date_Time__c" class={followUpDateTimeColor} onchange={followUpDateTimeValue}>
                                                           </lightning-input-field>
                                                        </template>
                                                     </template>
                                                    <lightning-input-field field-name="Mail_and_Canvass_Neighborhood__c" class={mailColor} onchange={mailValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
                                            </template>
        
                                            <template if:true={displayNotHomeResulted}>
                                                <lightning-card title="Notes">
                                                    <lightning-input-field field-name="Comments__c" class={commentsColor} onchange={commentsValue}></lightning-input-field>
                                                    <lightning-input-field field-name="Project_Description__c" class={projectDescriptionColor} onchange={projectDescriptionValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
                                            </template>
        
                                            <template if:true={displayNotCoveredResulted}>
                                                <lightning-card title="Notes">
                                                    <lightning-input-field field-name="Why_Not_Covered__c" class={WhyNotCoveredColor} onchange={checkValue}>
                                                    </lightning-input-field>
                                                </lightning-card>
                                            </template>
        
                                            <template if:true={displayRideAlongAdvice}>
                                                <lightning-card title="Ride Along Advice">
                                                    <lightning-input-field field-name="Ride_Along_Advice__c">
                                                    </lightning-input-field>
                                                    <lightning-input-field field-name="Ride_Along_Learnings__c"></lightning-input-field>
                                                </lightning-card>
                                            </template>
                                            <lightning-layout>
                                                <lightning-layout-item size="6" padding="around-small">
                                                    <button onclick={handleCloseEditMode}
                                                    class="slds-button slds-button_neutral fullwidth">Cancel</button>
                                                    <template if:false={isSaveEnabled}>
                                                        <div class="slds-button slds-button_neutral"> Save</div>
                                                    </template>
                                                    <template if:true={isSaveEnabled}>
                                                        <button type="submit"
                                                        class="slds-button slds-button_neutral activeslot fullwidth">Save</button>
                                                    </template>
                                                    
                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </lightning-record-edit-form>
                                        </template>
                            </lightning-card>
                        </div>
                        <footer class="slds-modal__footer">
                            <button onclick={closeResultant} class="slds-button slds-button_neutral activeslot">Close
                                Resulted Details</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
    </template>
</template>