.page {
    width: 100%;
}

.ied {
    padding-top: 10px;
    float: left;
    width: 49.6%;
}


.in {
    float: right;
    width: 49.6%;
    padding-top: 10px;
}

.nc {
    float: left;
    width: 49.6%;
    clear:both;
    padding-bottom: 30%;
}

.os {
    display: inline-block;
    padding-left: 0.82%;
    padding-bottom: 30%;
    width: 50.4%;
}