<template>
    <div class="slds-page-header">
        <div class="slds-page-header__row">
          <div class="slds-page-header__col-title">
            <div class="slds-media">
              <div class="slds-media__figure">
                  <lightning-icon icon-name="standard:service_appointment" size="medium" variant="slds-icon-inverse"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__name">
                  <div class="slds-page-header__name-title">
                    <h1>
                      <span class="slds-page-header__title slds-truncate" title="InstallSchedulinging">Install Scheduling</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>	
      </div>  

      <lightning-layout>
        <div class="page">	
        <div class="ied">
            <div class="slds-var-m-bottom_small slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div style="font-size: 0.8125rem;"><b>Orders - Install Estimated Date Conflict</b></div>
                                <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse"></div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-layout horizontal-align="spread" vertical-align="center">
                    <lightning-layout-item>
                        <ul class="slds-list_horizontal slds-has-dividers_left">
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">{ciDataLength} {ciDataLengthWord}</div>
                            </li>
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">Updated recently</div>
                            </li>
                        </ul>
                    </lightning-layout-item>
                    <lightning-layout-item>
                        <lightning-layout>
                            <lightning-layout-item>
                                <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSearchKeyConflictInstall}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item>
                                <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchConflictInstall}> 
                                    <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                </lightning-button-group>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-datatable
                            key-field="id"
                            data={listConflictInstall}
                            columns={ConflictInstallColumns}
                            sorted-direction={sortedDirection}
                            sorted-by={sortedBy}
                            onsort={conflictInstallUpdateColumnSorting}
                            hide-checkbox-column = "false">
                            <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                
                    </lightning-datatable>
            </div>
        </div>
    
        <div class="in">
        <div class="slds-var-m-bottom_small slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div style="font-size: 0.8125rem;"><b>Orders - Install Needed</b></div>
                            <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
            <lightning-layout horizontal-align="spread" vertical-align="center">
                <lightning-layout-item>
                    <ul class="slds-list_horizontal slds-has-dividers_left">
                        <li class="slds-item">
                            <div style="font-size: 0.8125rem;">{inDataLength} {inDataLengthWord}</div>
                        </li>
                        <li class="slds-item">
                            <div style="font-size: 0.8125rem;">Updated recently</div>
                        </li>
                    </ul>
                </lightning-layout-item>
                <lightning-layout-item>
                    <lightning-layout>
                        <lightning-layout-item>
                            <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSearchKeyInstallNeeded}></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchInstallNeeded}> 
                                <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                            </lightning-button-group>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </lightning-layout>
            <lightning-datatable
                        key-field="id"
                        data={listInstallNeeded}
                        columns={InstallNeededColumns}
                        sorted-direction={sortedDirection}
                        sorted-by={sortedBy}
                        onsort={installNeededUpdateColumnSorting}
                        hide-checkbox-column = "false">
                        <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                </lightning-datatable>
            </div>
        </div>
        <div class="nc">
            <div class="slds-var-m-bottom_small slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div style="font-size: 0.8125rem;"><b>Work Orders - Not Confirmed</b></div>
                                <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse"></div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-layout horizontal-align="spread" vertical-align="center">
                    <lightning-layout-item>
                        <ul class="slds-list_horizontal slds-has-dividers_left">
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">{uwoDataLength} {uwoDataLengthWord}</div>
                            </li>
                            <li class="slds-item">
                                <div style="font-size: 0.8125rem;">Updated recently</div>
                            </li>
                        </ul>
                    </lightning-layout-item>
                    <lightning-layout-item>
                        <lightning-layout>
                            <lightning-layout-item>
                                <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSearchKeyUnconfirmedWO}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item>
                                <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchUnconfirmedWO}> 
                                    <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                </lightning-button-group>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>
                </lightning-layout>
                <lightning-datatable
                        key-field="id"
                        data={listUnconfirmedWO}
                        columns={UnconfirmedWOColumns}
                        sorted-direction={sortedDirection}
                        sorted-by={sortedBy}
                        onsort={unconfirmedWOUpdateColumnSorting}
                        hide-checkbox-column = "false">
                        <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                </lightning-datatable>
                </div>
            </div>

            <div class="os">
                <div class="slds-var-m-bottom_small slds-page-header">
                    <lightning-layout horizontal-align="spread">
                        <lightning-layout-item>
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <lightning-icon icon-name="action:new_event" size="small" variant="slds-icon-inverse"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <div style="font-size: 0.8125rem;"><b>Orders - Scheduled</b></div>
                                    <div class="slds-page-header__title slds-text-heading_small">Recently Viewed</div>
                                </div>
                                <div class="slds-media__figure slds-media__figure_reverse"></div>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                    <lightning-layout horizontal-align="spread" vertical-align="center">
                        <lightning-layout-item>
                            <ul class="slds-list_horizontal slds-has-dividers_left">
                                <li class="slds-item">
                                    <div style="font-size: 0.8125rem;">{soDataLength} {soDataLengthWord}</div>
                                </li>
                                <li class="slds-item">
                                    <div style="font-size: 0.8125rem;">Updated recently</div>
                                </li>
                            </ul>
                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-layout>
                                <lightning-layout-item>
                                    <lightning-input class="slds-var-m-right_xx-small" label="Input label" placeholder="Search this list..." type="text" variant="label-hidden" onchange={updateSearchKeyScheduledOrder}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item>
                                    <lightning-button-group class="slds-var-m-left_xxx-small" onclick={handleSearchScheduledOrder}> 
                                        <lightning-button-icon class="slds-var-m-left_xxx-small" alternative-text="" icon-class="" variant="border-filled" icon-name="utility:refresh"></lightning-button-icon>
                                    </lightning-button-group>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                    <lightning-datatable
                            key-field="id"
                            data={listScheduledOrder}
                            columns={ScheduledOrderColumns}
                            sorted-direction={sortedDirection}
                            sorted-by={sortedBy}
                            onsort={scheduledOrderUpdateColumnSorting}
                            hide-checkbox-column = "false">
                            <lightning-avatar alternative-text="" fallback-icon-name="custom:custom55" size="slds-avatar_small" src="" variant="square"></lightning-avatar>
                    </lightning-datatable>
                    </div>
                </div>
        </div>
    </lightning-layout>

</template>