<template>
    <!--If showDistribute is true, show the Distribute Totals Modal Box-->
    <template if:true={showDistribute}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="slds-modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header slds-text-heading_medium">
                    <h1 id="modal-heading-01">Distribute Totals</h1>
                    <!--Show the correct sub-heading-->
                    <template if:true={enterTotals}><h2 class="slds-text-heading_small">Enter the totals for each item</h2></template>
                    <template if:true={enterWeights}><h2 class="slds-text-heading_small">Enter the weights for each section (as a percent)</h2></template>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="slds-modal-content-id-1">
                    <!--Show the body that allows the user to enter values for each property-->
                    <template if:true={enterTotals}>
                        <lightning-input label="Issued Appointments" type="number" onchange={onChangeTotal} name="Issued_Appointments__c"></lightning-input>
                        <lightning-input label="Sold Dollars" type="number" onchange={onChangeTotal} name="Sold_Dollars__c" formatter="currency"></lightning-input>
                        <lightning-input label="Series 1" type="number" onchange={onChangeTotal} name="Series_1_Windows__c"></lightning-input>
                        <lightning-input label="Series 2" type="number" onchange={onChangeTotal} name="Series_2_Windows__c"></lightning-input>
                        <lightning-input label="Entry Doors" type="number" onchange={onChangeTotal} name="Entry_Doors__c"></lightning-input>
                        <lightning-input label="Patio Doors" type='number' onchange={onChangeTotal} name="Patio_Doors__c"></lightning-input>
                        <lightning-input label="Installed Revenue" type="number" onchange={onChangeTotal} name="Installed_Revenue__c" formatter="currency"></lightning-input>
                        <lightning-input label="Installed Units" type="number" onchange={onChangeTotal} name="Installed_Units__c"></lightning-input>
                    </template>
                    <!--If the store is ARO, allow the user to enter weights for each month-->
                    <template if:true={enterWeightsMonth}>
                        <!--Show the user which properties are being edited-->
                        <h2 class="slds-text-heading_small"> <b>The following properties will be edited:</b> {updatedTotalsStrings}</h2>
                        <lightning-input label="January" type="number" name="0" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="February" type="number" name="1" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="March" type="number" name="2" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="April" type="number" name="3" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="May" type="number" name="4" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="June" type="number" name="5" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="July" type="number" name="6" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="August" type="number" name="7" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="September" type="number" name="8" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="October" type="number" name="9" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="November" type="number" name="10" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="December" type="number" name="11" onchange={onChangeWeight} value=0></lightning-input>
                        <h2 class="slds-text-heading_medium">Percent of Sales Covered: {totalWeights}%</h2>
                    </template>
                    <!--If the store is CORO, allow the user to enter weights for each period-->
                    <template if:true={enterWeightsPeriod}>
                        <!--Show the user which properties are being edited-->
                        <h2 class="slds-text-heading_small"> <b>The following properties will be edited:</b> {updatedTotalsStrings}</h2>
                        <lightning-input label="Period 1" type="number" name="0" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 2" type="number" name="1" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 3" type="number" name="2" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 4" type="number" name="3" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 5" type="number" name="4" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 6" type="number" name="5" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 7" type="number" name="6" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 8" type="number" name="7" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 9" type="number" name="8" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 10" type="number" name="9" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 11" type="number" name="10" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 12" type="number" name="11" onchange={onChangeWeight} value=0></lightning-input>
                        <lightning-input label="Period 13" type="number" name="12" onchange={onChangeWeight} value=0></lightning-input>
                        <h2 class="slds-text-heading_medium">Total Percent Covered: {totalWeights}%</h2>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <!--If the user is on the enter totals page, show the options they can do and cancel-->
                    <template if:true={enterTotals}>
                        <lightning-button
                            label="Distribute Equally"
                            onclick={handleDistributeTotals}
                            variant="brand"
                            class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button
                            label="Distribute Variably"
                            onclick={onClickVariable}
                            variant="neutral"
                            class="slds-m-left_x-small">
                        </lightning-button>
                    </template>
                    <!--If the user is on the distribute variably page, show the back button and the distribute totals button-->
                    <template if:true={varDisButtons}>
                        <lightning-button
                            label="Back"
                            onclick={onClickBack}
                            variant="neutral"
                            class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button 
                            label="Distribute Totals"
                            onclick={handleDistributeTotals}
                            variant="brand"
                            class="slds-m-left_x-small">
                        </lightning-button>
                    </template>
                    <lightning-button 
                        label="Cancel"
                        onclick={onClickCancel}
                        variant="destructive"
                        class="slds-m-left_x-small">
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <lightning-card>
        <!--The top of the page, telling the user what store and year the goals they are viewing are for-->
        <div class="slds-p-around_medium">
            <h1 class="slds-text-title_caps">Goals for {loc.data} in {year}</h1>
        </div>
        <div class="slds-p-around_medium slds-grid">
            <!--The combobox containing all the user's locations-->
            <lightning-combobox
                name="location"
                label="Location"
                placeholder="Choose Location"
                value={loc.data}
                options={locationOptionsFunc}
                onchange={onChangeLocation}>
            </lightning-combobox>
            <!--The combobox containing all years the user can choose from-->
            <div class="slds-col_bump-right">
                <lightning-combobox
                    name="year"
                    label="Year"
                    placeholder="Choose Year"
                    value={year}
                    options={yearOptions}
                    onchange={onChangeYear}>
                </lightning-combobox>
            </div>
            <template if:true={distribute}>
                <lightning-button 
                    label="Distribute Totals"
                    onclick={onClickDistribute}
                    variant="brand">
                </lightning-button>
            </template>
        </div>
        <!--The datatable that contains all the store goals for the selected store and year-->
        <lightning-datatable
            class="slds-table_striped"
            key-field="Id"
            hide-checkbox-column=true
            show-row-number-column=false
            data={monthGoals}
            columns={monthColumns}
            onsave={handleSave}
            draft-values={newGoals}>
        </lightning-datatable>
        <div class='slds-text-heading_medium'>
            <lightning-datatable
                key-field="Id"
                hide-checkbox-column=true
                show-row-number-column
                data={totals}
                columns={totalColumns}
                onsave={handleDistributeTotals}
                draft-values={totalsDrafts}>
            </lightning-datatable>
        </div>
    </lightning-card>
    <!--This will show on the screen if the data doesn't load, should never happen-->
    <template if:true={rawGoals.error}>
        <lightning-card title = "Error">
            <h1>Hm, there doesn't seem to be any goals for {loc.data} {year}</h1>
            <h2>If you are seeing this error, there is most likely a problem with your store's Store Configuration</h2>
        </lightning-card>
    </template>
 </template>