<template>
        <lightning-card title="Service Resource" icon-name="standard:service_resource">
            <template if:true={service.data}>
                <div class="slds-section slds-is-open slds-box">
                    <div aria-hidden="false" class="slds-section__content" id="section1">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Name</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{service.data.Name}</span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>General Insurance Expiration Date</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <lightning-formatted-date-time value={service.data.General_Insurance_Expiration_Date__c}
                                    year="numeric"
                                    month="numeric"
                                    day="numeric"   
                                    time-zone = {_timezone.data}
                                >
                                </lightning-formatted-date-time>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section2">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Retail Location</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{service.data.Retail_Location_Formula__c}</span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Auto Insurance Expiration Date</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <lightning-formatted-date-time value={service.data.Auto_Insurance_Expiration_Date__c}
                                    year="numeric"
                                    month="numeric"
                                    day="numeric"  
                                    time-zone = {_timezone.data}
                                >
                                </lightning-formatted-date-time>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section3">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>User Type</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{service.data.User_Type__c}</span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Work Comp Insurance Expiration Date</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <lightning-formatted-date-time value={service.data.Work_Comp_Insurance_Expiration_Date__c}
                                    year="numeric"
                                    month="numeric"
                                    day="numeric"   
                                    time-zone = {_timezone.data}
                                >
                                </lightning-formatted-date-time>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section4">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Secondary Resource Types</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{service.data.Secondary_Resource_Type_s__c}</span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="false" class="slds-section__content" id="section5">
                        <div class="slds-grid slds-gutters ">
                            <div class="slds-col slds-size_1-of-4">
                                <span><b>Crew Size</b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span>{service.data.Crew_Size__c}</span>
                            </div>
                            <div class="slds-col slds-size_1-of-4">
                                <span><b></b></span>
                            </div>
                            <div class="slds-col slds-text-align_left slds-size_1-of-4">
                                <span></span>
                            </div>
                        </div>
                    </div> 
                </div>    
            </template>
        </lightning-card>    
    </template>