.THIS .title-text{
    font-weight: bold; 
    color: token(colorTextDefault); 
    font-size: 1.2rem;
}

.THIS .gray-background{
    background: token(colorBorder);
}

.THIS .min110{
    min-height: 110px;
}

.THIS .primaryButton{
    background:var(--lwc-colorTextLink,#F26924);
    border-color:var(--lwc-colorTextLink,#F26924) !important;
    padding-top:5px;
    padding-bottom:5px;
   /* margin-left:35px;*/
    color: white;
    
}

.THIS .section-header{
     margin-left:80px;
}
.THIS .section-text{
     padding-bottom:20px;
    
}

.THIS .imgsizer {    
  width: 150px;
	border-radius: 50%;  
}
.THIS .section {    
    border-radius:4px;
    
}
.THIS .inputWhite{
   background-color: white; 
}

.THIS .slds-size_11-of-12 {
    width: 89.5%;
}

.THIS .Bottompadding{
    padding-bottom:32px;
}

.THIS .MarginTop{
    margin-bottom: 3.58px;
}