<template>
    <template if:true={visibleRecordtype}>
        <lightning-card
            variant="narrow"
            icon-name="custom:custom79">
        <h1 slot="title">Retail Purchase Order Items</h1>
        <lightning-button label="New" slot="actions" onclick={openNew}></lightning-button>
        
       
    
        <div style="height: 300px;">
            <lightning-datatable
                    key-field="id"
                    data={data}
                    columns={columns}
                    onrowaction={handleRowAction}
                    hide-checkbox-column>
            </lightning-datatable>

          <template if:true={openmodel}>
                <div class="demo-only" style="height: 640px;">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                    <lightning-icon icon-name="utility:close" size="medium">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Cancel Retail Purchase Order Item</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <center><h2><b>Are You Sure To Cancel Retail Purchase Order Item?</b></h2><br/>
                                    
                                </center>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button label="No" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button label="Yes" variant="brand" onclick={CancelRow}></lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
                </template>
                <template if:true={visibleStatus}>
                    <div class="demo-only" style="height: 640px;">
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Cancel Retail Purchase Order Item</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                    <center><h2><b>The Purchase Order Has Been Released/Confirmed</b></h2><br/>
                                        
                                    </center>
                                </div>
                               
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </div>
                    </template>
        </div>
        <template if:true={loaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
    </lightning-card>
</template>
<template if:true={opennewModal}>
<div class="demo-only" style="height: 640px;">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon class="slds-hidden" icon-name="utility:close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate"> Create Retail Purchase Order Item</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                <lightning-record-edit-form
        id="recordViewForm"
       
        object-api-name={objectApiName}
        onsuccess={handleSuccess}
        onsubmit={handleSubmit}>
        <lightning-messages></lightning-messages>
        <lightning-card>
                    
            <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field  field-name="Product__c"></lightning-input-field>               
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field  value={purchaseorderid} field-name="Retail_Purchase_Order__c" disabled="true"></lightning-input-field>                
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field   field-name="Unit_of_Measure__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field   field-name="Unit_Price__c"></lightning-input-field> 
                </lightning-layout-item>
                 <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Estimated_Ship_Date__c"></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                    <lightning-input-field field-name="Quantity__c"></lightning-input-field>
                </lightning-layout-item>
               
               
            </lightning-layout>
            
            
            <div slot="footer">
                <lightning-button type="submit"
                    label="Save"
                   
                    class="slds-m-top_medium">
                </lightning-button>
                <lightning-button 
                    label="Cancel"
                    class="slds-m-top_medium"
                   
                    onclick={handleCancel}>
                </lightning-button>
            </div>

        </lightning-card>

    </lightning-record-edit-form>
            </div>
           
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
</template>

<template if:true={openEditModal}>
    <div class="demo-only" style="height: 640px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon class="slds-hidden" icon-name="utility:close" size="medium">>
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-04" class="slds-text-heading_medium slds-hyphenate"> Edit Retail Purchase Order Item</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-4">
            <lightning-record-edit-form
            id="recordEditForm"
            object-api-name={objectApiName}
            record-id={rowid}
            onsuccess={handleEditSuccess}
            onsubmit ={handleEditSubmit}
           >
            <lightning-messages></lightning-messages>
            <lightning-card>
                        
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field  field-name="Product__c"></lightning-input-field>               
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field  value={purchaseorderid} field-name="Retail_Purchase_Order__c" disabled="true"></lightning-input-field>                
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field   field-name="Unit_of_Measure__c"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field   field-name="Unit_Price__c"></lightning-input-field> 
                    </lightning-layout-item>
                    <!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field field-name="Estimated_Ship_Date__c"></lightning-input-field>
                    </lightning-layout-item> -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="6">
                        <lightning-input-field field-name="Quantity__c"></lightning-input-field>
                    </lightning-layout-item>
                   
                   
                </lightning-layout>
                
                
                <div slot="footer">
                    <lightning-button type="submit"
                        label="Save"
                       
                        class="slds-m-top_medium">
                    </lightning-button>
                    <lightning-button 
                        label="Cancel"
                        class="slds-m-top_medium"
                       
                        onclick={handleEditCancel}>
                    </lightning-button>
                </div>
    
            </lightning-card>
    
        </lightning-record-edit-form>
                </div>
               
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    </template>



    </template>