<template >
    <template if:true={visibleRecordtype}>
    <lightning-card
            variant="narrow"
            icon-name="standard:order_item">
        <h1 slot="title"> Order Products</h1>
        
        
        
       
    
        <div style="height: 300px;">
            <lightning-datatable
                    key-field="id"
                    data={data}
                    columns={columns}
                    onrowaction={handleRowAction}
                    hide-checkbox-column>
            </lightning-datatable>

            <template if:true={openmodel}>
                <div class="demo-only" style="height: 640px;">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                    <lightning-icon icon-name="utility:close" size="medium">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Cancel  Order Item</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <center><h2><b>Are You Sure To Cancel  Order Item?</b></h2><br/>
                                    
                                </center>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button label="No" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button label="Yes" variant="brand" onclick={CancelRow}></lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
               
                </template>

                <template if:true={visibleStatus}>
                    <div class="demo-only" style="height: 640px;">
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Cancel Order Item</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                    <center><h2><b>The Purchase Order Has Been Released/Confirmed</b></h2><br/>
                                        
                                    </center>
                                </div>
                               
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </div>
                    </template>
        </div>
        <template if:true={loaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
    </lightning-card>
    
</template>
</template>