<template>
    <template if:true={isModalOpen}>
        <div class="slds-text-body_regular" style="height: 50px;margin-top: 25px;">

            <template if:true={isEligible} >
                {textToDisplay}
            </template>
    
            <template if:false={isEligible}>
                {textToDisplay}
            </template>
    
        </div>
    </template>
</template>