<template >
    <div if:true={splitParent} class="" style="margin-bottom: 10px;">
        <div onclick={openAndCloseDropdown} class="parentLineHeader">
            <div style="margin-right: 100px;margin-left: 10px; margin-top: 5px; font-size:20px; margin-bottom: 5px;">Line Id: <strong>{splitParent.HeaderData.Id}</strong></div>
            <div style="margin-right: 100px; margin-top: 5px; font-size:20px; margin-bottom: 5px;">{splitParent.HeaderData.Name}: <strong>{splitParent.HeaderData.Value}</strong></div>
            <div style=" margin-top: 5px; font-size:20px; margin-bottom: 5px;">{splitParent.HeaderData.QuantityName}: <strong>{splitParent.HeaderData.QuantityValue}</strong></div>
            <div if:false={openDropdown} class="plusIcon">+</div>
            <div if:true={openDropdown} class="minusIcon">-</div>
        </div>
        <div if:true={openDropdown} for:each={splitParent.Attributes} for:item="attribute" key={attribute} style="background-color: whitesmoke;">
            <c-split-line-attributes att={attribute}></c-split-line-attributes>
        </div>
    </div>
</template>