.plusIcon{
    font-size: 50px;
    position: absolute;
    right: -120px;
    margin-top: -25px;
}

.minusIcon{
    font-size: 70px;
    position: absolute;
    right: -120px;
    margin-top: -45px;
}

.parentLineHeader{
    display:flex;
    background-color: lightgrey;
    margin-bottom:20px;
    border-radius: 10px;
}