<template>
    <div>
        <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle}
            active-section-name={activeSections} class='rba-accordian'>
            <lightning-accordion-section name="Main" label="Main Section">
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                    <!-- first column 1st row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Product2Id}>
                            <!-- <lightning-record-edit-form object-api-name="OrderItem">
                                <lightning-messages></lightning-messages>
                                <lightning-input-field field-name="Product2Id" class='Product2Id' onchange={handleChange} required=''></lightning-input-field>
                            </lightning-record-edit-form> -->
                            <c-order-item-selector label-for-title="Daylight Product" search-term={productName} onproductidupdate={handleProductIdChange} inrop={inRop} ></c-order-item-selector>
                        </div>
                    </lightning-layout-item>
                    <!-- second column 1st row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={showProductDescription}>
                                <lightning-input name="Product_Description" disabled value={productDescription} label="Product Description"></lightning-input>
                        </div>        
                    </lightning-layout-item>
                    <!-- third column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Specialty_Shape__c}>
                            <lightning-combobox name="Specialty_Shape__c" class='Specialty_Shape__c' onfocus={handleFocus} onchange={handleChange} label="Specialty Shape"
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={specialShapeList}></lightning-combobox>
                        </div>        
                    </lightning-layout-item>

                    <!-- first column 2nd row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Frame_Type__c}>
                            <lightning-combobox name="Frame_Type__c" class='Frame_Type__c' label="Frame Type" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={frameTypeList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>

                    <!-- second column 2nd row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Quantity}>
                            <lightning-input name="Quantity" class='Quantity' onchange={handleChange} type="number" value="1" step="1" min="1" label="Quantity"></lightning-input>
                        </div>
                    </lightning-layout-item>

                    <!-- third column 2nd row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Unit_Id__c}>
                            <lightning-input name="Unit_Id__c" class='Unit_Id__c'  onchange={handleChange} label="Unit Id"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- first column 3rd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.PG_50__c}>
                            <lightning-input name="PG_50__c" class='PG_50__c' type="checkbox" onchange={handleChange} label="DP Upgrade"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Performance_Category__c}>
                            <lightning-combobox name="Performance_Category__c" class='Performance_Category__c' label="Performance Category" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={performanceCategoryList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- second column 3rd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.EJ_Frame__c}>
                            <lightning-input name="EJ_Frame__c" class='EJ_Frame__c' type="checkbox" label="EJ Frame" onchange={handleChange}></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- third column 3rd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Pocket_Notch__c}>
                            <lightning-input name="Pocket_Notch__c" class='Pocket_Notch__c' type="checkbox" onchange={handleChange} label="Insert Frame"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    </lightning-layout>
            <!-- </lightning-accordion-section>
            <lightning-accordion-section name="Dp-Upgrade" label="Dp Upgrade"> -->
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                    <!-- first column 1st row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Positive_Force__c}>
                            <lightning-combobox name="Positive_Force__c" class='Positive_Force__c' onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" label="Positive Force" placeholder="--Select--" disabled='' value={value}
                                options={positiveForceList}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- second column 1st row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
                        <div if:true={productFieldControl.Negative_Force__c}>
                            <lightning-combobox name="Negative_Force__c" class='Negative_Force__c' disabled='' onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} label="Negative Force" placeholder="--Select--" value={value}
                                options={negativeForceList}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- third column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="4">
            
                    </lightning-layout-item>
                </lightning-layout>
            
            </lightning-accordion-section>


            <!-- ********************************************************************************************************************************************* -->

            <lightning-accordion-section name="Window-Configuration" label="Window Configuration">
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">

                    <!-- first column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Width_Inches__c}>
                            <lightning-input name="Width_Inches__c" class='Width_Inches__c' type="number" step="1" onchange={handleChange} label="Width Inches">
                            </lightning-input>
                        </div>
                    </lightning-layout-item>

                    <!-- second column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Width_Fraction__c}>
                            <lightning-combobox name="Width_Fraction__c" class='Width_Fraction__c' label="Width Fraction" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>

                    <!-- third column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Height_Inches__c}>
                            <lightning-input name="Height_Inches__c" class='Height_Inches__c' type="number" step="1" onchange={handleChange} label="Height Inches"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- fourth column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Height_Fraction__c}>
                            <lightning-combobox name="Height_Fraction__c" class='Height_Fraction__c' label="Height Fraction" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionList}></lightning-combobox>
                        </div>
                    </lightning-layout-item> 

                    <!-- first column 2nd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Left_Leg_Inches__c}>
                            <lightning-input name="Left_Leg_Inches__c" class='Left_Leg_Inches__c' type="number" step="1" onchange={handleChange}
                                label="Left Leg Inches"></lightning-input>
                        </div>
                    </lightning-layout-item>

                    <!-- second column 2nd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Left_Leg_Fraction__c}>
                            <lightning-combobox name="Left_Leg_Fraction__c" class='Left_Leg_Fraction__c' label="Left Leg Fraction" onfocus={handleFocus} onchange={handleChange}  
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionList}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>

                    <!-- third column 2nd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Right_Leg_Inches__c}>
                            <lightning-input name="Right_Leg_Inches__c" class='Right_Leg_Inches__c' type="number" step="1" onchange={handleChange}
                                label="Right Leg Inches"></lightning-input>
                        </div>
                    </lightning-layout-item>

                    <!-- fourth column 2nd row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Right_Leg_Fraction__c}>
                            <lightning-combobox name="Right_Leg_Fraction__c" class='Right_Leg_Fraction__c' label="Right Leg Fraction" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionList}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>

                </lightning-layout>
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">

                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                       
                    </lightning-layout-item>
                    <!-- first column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Mid_Point_Height_Inches__c}>
                            <lightning-input name="Mid_Point_Height_Inches__c" class='Mid_Point_Height_Inches__c' type="number" disabled step="1" onchange={handleChange} label="Mid Point  Inches">
                            </lightning-input>
                        </div>
                    </lightning-layout-item>

                    <!-- second column 1st row-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                        <div if:true={productFieldControl.Mid_Point_Height_Fractions__c}>
                            <lightning-combobox name="Mid_Point_Height_Fractions__c" class='Mid_Point_Height_Fractions__c'  disabled label="Mid Point  Fractions" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={fractionList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size="3">
                       
                    </lightning-layout-item>
                    </lightning-layout>
                <!-- Vertical Column Layout -->
                <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

                    <!-- first column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Exterior_Trim__c}>
                            <lightning-combobox name="Exterior_Trim__c" class='Exterior_Trim__c' label="Exterior Trim" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={exteriorTrimList}></lightning-combobox>
                        </div>
                        

                        <div if:true={productFieldControl.Checkrail_Style__c}>
                            <lightning-combobox name="Checkrail_Style__c" class='Checkrail_Style__c' label="Checkrail Style" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={checkrailStyleList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Sill_Angle__c}>
                            <lightning-combobox name="Sill_Angle__c" class='Sill_Angle__c' label="Sill Angle" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={sillAngleList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Sash_Ratio__c}>
                            <lightning-combobox name="Sash_Ratio__c" class='Sash_Ratio__c' label="Sash Ratio" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={sashRatioList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Mfg_Mull_Sequence__c}>
                            <lightning-input name="Mfg_Mull_Sequence__c" class='Mfg_Mull_Sequence__c' label="Mfg Mull Sequence" onchange={handleChange}>
                            </lightning-input>
                        </div>
                        <div if:true={productFieldControl.Mull_Sequence_Mullion__c}>
                            <lightning-combobox name="Mull_Sequence_Mullion__c" class='Mull_Sequence_Mullion__c' label="Mfg Mull Sequence Mullion" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={mullSequenceList}>
                            </lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Exterior_Color__c}>
                            <lightning-combobox name="Exterior_Color__c" class='Exterior_Color__c' label="Exterior Color" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={exteriorColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Interior_Color__c}>
                            <lightning-combobox name="Interior_Color__c" class='Interior_Color__c' label="Interior Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={interiorColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Glazing_S1__c}>
                            <lightning-combobox name="Glazing_S1__c" class='Glazing_S1__c' label="Glazing S1/S3" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={glazingList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Glass_Pattern_S1__c}>
                            <lightning-combobox name="Glass_Pattern_S1__c" class='Glass_Pattern_S1__c' label="Glazing Pattern S1/S3" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={glazingPatternListS1}>
                            </lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Tempered_S1__c}>
                            <lightning-input name="Tempered_S1__c" class='Tempered_S1__c' type="checkbox" label="Tempered S1/S3" onfocus={handleFocus} onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Glazing_S2__c}>
                            <lightning-combobox name="Glazing_S2__c" class='Glazing_S2__c' label="Glazing S2" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={glazingList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Glass_Pattern_S2__c}>
                            <lightning-combobox name="Glass_Pattern_S2__c" class='Glass_Pattern_S2__c' label="Glazing Pattern S2" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} placeholder="--Select--" value={value} options={glazingPatternListS2}>
                        </lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Tempered_S2__c}>
                            <lightning-input name="Tempered_S2__c" class='Tempered_S2__c' type="checkbox" label="Tempered S2" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Breather_Tubes__c}>
                            <lightning-input name="Breather_Tubes__c" class='Breather_Tubes__c' type="checkbox" label="Breather Tubes" onchange={handleChange}></lightning-input>
                        </div>
                </lightning-layout-item>
                <!-- white space column -->
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'>
                   

                </lightning-layout-item>
                <!-- 2nd column -->
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Lifts_Pulls__c}>
                            <lightning-combobox name="Lifts_Pulls__c" class='Lifts_Pulls__c' label="Lifts Pulls" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={liftsPullsList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Locks_Sash__c}>
                            <lightning-combobox name="Locks_Sash__c" class='Locks_Sash__c' label="Locks Sash" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={locksSashList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Sash_Operation__c}>
                            <lightning-combobox name="Sash_Operation__c" class='Sash_Operation__c' label="Sash Operation" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={sashOperationList}></lightning-combobox>
                        </div>
                        <!-- added default value of standard 3/29/19 mtr -->
                        <div if:true={productFieldControl.Hardware_Style__c}>
                            <lightning-combobox name="Hardware_Style__c" class='Hardware_Style__c' label="Hardware Style" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value="Standard" options={hardwareStyleList}></lightning-combobox>                            
                        </div>
                        <div if:true={productFieldControl.Hardware_Finish__c}>
                            <lightning-combobox name="Hardware_Finish__c" class='Hardware_Finish__c' label="Hardware Finish" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={hardwareFinishList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Hardware_Option__c}>
                            <lightning-combobox name="Hardware_Option__c" class='Hardware_Option__c' label="Hardware Option" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={hardwareOptionList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Corrosion_Resistant_Hardware__c}>
                            <lightning-input name="Corrosion_Resistant_Hardware__c" class='Corrosion_Resistant_Hardware__c' type="checkbox" onchange={handleChange}
                                label="Corrosion Resistant Hardware"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Screen_Type__c}>
                            <lightning-combobox name="Screen_Type__c" class='Screen_Type__c' label="Screen Type" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={screenTypeList} read-only={isDisableScreenType}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Screen_Size__c}>
                            <lightning-combobox name="Screen_Size__c" class='Screen_Size__c' label="Screen Size" onfocus={handleFocus} onchange={handleChange} placeholder="--Select--"
                            dropdown-alignment="auto" value={value} options={screenSizeList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Grille_Pattern__c}>
                            <lightning-combobox name="Grille_Pattern__c" class='Grille_Pattern__c' label="Grille Pattern" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={grillePatternList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Grille_Style__c}>
                            <lightning-combobox name="Grille_Style__c" class='Grille_Style__c' label="Grille Style" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} options={grilleStyleList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Wide_Bar__c}>
                            <lightning-input name="Wide_Bar__c" class='Wide_Bar__c' type="checkbox" label="Wide Bar"  onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Applied_Grilles__c}>
                            <lightning-input name="Applied_Grilles__c" class='Applied_Grilles__c' type="checkbox"  label="Applied Grilles" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Grille_Alignment__c}>
                            <lightning-input name="Grille_Alignment__c" class='Grille_Alignment__c' onchange={handleChange} label="Grille Alignment"></lightning-input>
                        </div>
                </lightning-layout-item>
                </lightning-layout>
                

            </lightning-accordion-section>

            <!-- ********************************************************************************************************************************* -->
            <lightning-accordion-section name="Grille-Options" label="Grille Options">
                <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

                    <!-- first column-->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Lites_Wide_S1__c}>
                            <lightning-combobox name="Lites_Wide_S1__c" class='Lites_Wide_S1__c' label="Lites Wide S1/S3" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={litesWideList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Lites_High_S1__c}>
                            <lightning-combobox name="Lites_High_S1__c" class='Lites_High_S1__c' label="Lites High S1/S3" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={litesHighList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Hubs__c}>
                            <lightning-combobox name="Hubs__c" class='Hubs__c' label="Hubs" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange} value={value}
                            dropdown-alignment="auto" options={hubsList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- end first column -->

                    <!-- white space column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>

                    <!-- second column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Lites_Wide_S2__c}>
                            <lightning-combobox name="Lites_Wide_S2__c" class='Lites_Wide_S2__c' label="Lites Wide S2" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={litesWideList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Lites_High_S2__c}>
                            <lightning-combobox name="Lites_High_S2__c" class='Lites_High_S2__c' label="Lites High S2" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} options={litesHighList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Spokes__c}>
                            <lightning-combobox name="Spokes__c" class='Spokes__c' label="Spokes" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} options={spokesList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- end second column -->
                </lightning-layout>
                <!-- begin second row -->
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium" >
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='4'>
                        <div if:true={productFieldControl.Custom_Grille_Details_S1__c}>
                            <lightning-input name="Custom_Grille_Details_S1__c" class='Custom_Grille_Details_S1__c' label="Custom Grille Details S1" onchange={handleChange}></lightning-input>
                        </div>
                        <!-- <lightning-input name="Custom_Grille_Details_S3__c" label="Custom Grille Details S3" onchange={handleChange}></lightning-input> -->
                        <!-- <lightning-input name="Custom_Grille_Details_S2__c" label="Custom Grille Details S2" onchange={handleChange}></lightning-input> -->
                    </lightning-layout-item>
                </lightning-layout>
            </lightning-accordion-section>

            <!-- ************************************************************************************************************************** -->
            <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                    <div if:true={productFieldControl.Special_Options__c}>
                        <lightning-input name="Special_Options__c" class='Special_Options__c' type="checkbox" onchange={handleChange}
                            label="Enable Special Options"></lightning-input>
                    </div>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-accordion-section name="Special-Options" label="Special Options">
                <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

                    <!-- first column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Screen_Color__c}>
                            <lightning-combobox name="Screen_Color__c" class='Screen_Color__c' label="Screen Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={screenColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Hardware_Color__c}>
                            <lightning-combobox name="Hardware_Color__c" class='Hardware_Color__c' label="Hardware Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={hardwareColorList}></lightning-combobox>
                        </div>
                        <!-- <div if:true={productFieldControl.stuff}>
                            <lightning-input name="Window_Opening_Control_Device__c" type="checkbox" label="Window Opening Control Device"
                                onchange={handleChange}></lightning-input>
                        </div> -->
                        <div if:true={productFieldControl.Exterior_Grille_Color__c}>
                            <lightning-combobox name="Exterior_Grille_Color__c" class='Exterior_Grille_Color__c' label="Exterior Grille Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={exteriorGrilleColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Interior_Grille_Color__c}>
                            <lightning-combobox name="Interior_Grille_Color__c" class='Interior_Grille_Color__c' label="Interior Grille Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={interiorGrilleColorList}></lightning-combobox>
                        </div>
                        <!-- <div if:true={productFieldControl.stuff}>
                            <lightning-combobox name="Storm_Window_Color__c" label="Storm Window Color" onchange={handleChange}
                                placeholder="--Select--" value={value} options={stormWindowColorList}></lightning-combobox>
                        </div> -->
                        <div if:true={productFieldControl.Exterior_Trim_Color__c}>
                            <lightning-combobox name="Exterior_Trim_Color__c" class='Exterior_Trim_Color__c' label="Exterior Trim Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={exteriorTrimColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Glazing_S3__c}>
                            <lightning-combobox name="Glazing_S3__c" class='Glazing_S3__c' label="Glazing S3" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={glazingList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Glass_Pattern_S3__c}>
                            <lightning-combobox name="Glass_Pattern_S3__c" class='Glass_Pattern_S3__c' label="Glass Pattern S3" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={glazingPatternListS3}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Tempered_S3__c}>
                            <lightning-input name="Tempered_S3__c" class='Tempered_S3__c' disabled type="checkbox" label="Tempered S3" onchange={handleChange}></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!--end first column  -->
                    <!-- white space column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
                    <!-- second column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Jamb_Liner_Color__c}>
                            <lightning-combobox name="Jamb_Liner_Color__c" class='Jamb_Liner_Color__c' label="Jamb Liner Color" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" placeholder="--Select--" value={value} disabled options={jambLinerColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Interior_Sash_Color__c}>
                            <lightning-combobox name="Interior_Sash_Color__c" class="Interior_Sash_Color__c" label="Interior Sash Color" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} disabled options={interiorSashColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Astragal__c}>
                            <lightning-combobox name="Astragal__c" class='Astragal__c' label="Astragal" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} disabled options={astragalColorList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Install_Holes_Location__c}>
                            <lightning-input name="Install_Holes_Location__c" class='Install_Holes_Location__c' label="Install Holes Location" disabled onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Install_Track_Location__c}>
                            <!-- <lightning-input name="Install_Track_Location__c" class='Install_Track_Location__c' label="Install Track Location" onchange={handleChange}></lightning-input> -->
                            <lightning-combobox name="Install_Track_Location__c" class="Install_Track_Location__c" label="Install Track Location" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} disabled options={installTrackLocationList}></lightning-combobox>
                        </div>
                        
                       
                    </lightning-layout-item>
                    <!--end second column -->


                </lightning-layout>
            </lightning-accordion-section>

            <!-- ***************************************************************************************************************** -->
            <lightning-accordion-section name="Specialty-Window-Options" label="Specialty Window Options">
                <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">

                    <!-- first column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <!-- <lightning-input name="Interior_Trim__c" label="Interior Trim"></lightning-input> -->
                        <div if:true={productFieldControl.Interior_Trim__c}>
                            <lightning-combobox name="Interior_Trim__c" class='Interior_Trim__c' label="Interior Trim" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={interiorTrimList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.EJ_Thickness__c}>
                            <lightning-combobox name="EJ_Thickness__c" class='EJ_Thickness__c' label="EJ Thickness" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} options={ejThicknessList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.EJ_Wall_Depth__c}>
                            <lightning-combobox name="EJ_Wall_Depth__c" class='EJ_Wall_Depth__c' label="EJ Wall Depth" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={ejWallDepthList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.EJ_Species__c}>
                            <lightning-combobox name="EJ_Species__c" class='EJ_Species__c' label="EJ Species" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} options={ejSpeciesList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.EJ_Color__c}>
                            <lightning-combobox name="EJ_Color__c" class='EJ_Color__c' label="EJ Color" placeholder="--Select--" onfocus={handleFocus} onchange={handleChange}
                            dropdown-alignment="auto" value={value} options={ejColorList}></lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!--end first column -->
                    <!-- white space column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
                    <!-- second column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Casing_Profile__c}>
                            <lightning-combobox name="Casing_Profile__c" class='Casing_Profile__c' label="Casing Profile" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={casingProfileList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Casing_Species__c}>
                            <lightning-combobox name="Casing_Species__c" class='Casing_Species__c' label="Casing Species" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={casingSpeciesList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Casing_Location__c}>
                            <lightning-combobox name="Casing_Location__c" class='Casing_Location__c' label="Casing Location" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={casingLocationList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Brickmould_Applied__c}>
                            <lightning-input name="Brickmould_Applied__c" class='Brickmould_Applied__c' type="checkbox" onchange={handleChange}
                                label="Brickmould Applied"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Brickmould_Location__c}>
                            <lightning-combobox name="Brickmould_Location__c" class='Brickmould_Location__c' label="Brickmould Location" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={brickmouldLocationList}></lightning-combobox>
                        </div>
                        <div if:true={productFieldControl.Drip_Cap_Pieces__c}>
                            <lightning-combobox name="Drip_Cap_Pieces__c" class='Drip_Cap_Pieces__c' label="Drip Cap Pieces" placeholder="--Select--" onfocus={handleFocus}
                            dropdown-alignment="auto" onchange={handleChange} value={value} options={dripCapList}></lightning-combobox>
                        </div>
                    <!--end second column -->
                    </lightning-layout-item>

                </lightning-layout>
            </lightning-accordion-section>

            <lightning-accordion-section name="Order-Information" label="Order Information">
                <lightning-layout vertical-align="start" multiple-rows="true" pull-to-boundary="medium">


                    <!-- first column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <!-- <lightning-input name="Order" label="Order"></lightning-input> -->
                        <div if:true={productFieldControl.OrderId}>
                            <lightning-record-edit-form object-api-name="OrderItem"  onload={handleFormLoad}>>
                                <lightning-messages></lightning-messages>
                                <lightning-input-field field-name="OrderId" class="OrderId" onchange={handleChange}></lightning-input-field>
                            </lightning-record-edit-form>
                        </div>
                        <div if:false={inRop}>
                            <div if:true={productFieldControl.Purchase_Order__c}>
                                <lightning-record-edit-form object-api-name="OrderItem">
                                        <lightning-messages></lightning-messages>
                                    <lightning-input-field field-name="Purchase_Order__c" class='Purchase_Order__c' onchange={handleChange}></lightning-input-field>
                                </lightning-record-edit-form>
                            </div>
                        </div>
                        <div if:true={inRop}>
                            <div if:true={productFieldControl.Retail_Purchase_Order__c}>
                                <lightning-record-edit-form object-api-name="OrderItem">
                                        <lightning-messages></lightning-messages>
                                    <lightning-input-field field-name="Retail_Purchase_Order__c" class='Retail_Purchase_Order__c' onchange={handleChange}></lightning-input-field>
                                </lightning-record-edit-form>
                            </div>
                        </div>    
                        <div if:true={productFieldControl.Description}>
                                <lightning-input name="Description" class='Description' label="Line Description" onchange={handleChange}></lightning-input>
                            </div>                        
                        <div if:true={productFieldControl.UnitPrice}>
                            <lightning-input name="UnitPrice" class='UnitPrice' type="number" formatter="currency" value="0" step="0.01"
                                onchange={handleChange} label="Unit Price"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Variant_Number__c}>
                            <lightning-input name="Variant_Number__c" class='Variant_Number__c' label="Variant Number" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Entered_Price__c}>
                            <lightning-input name="Entered_Price__c" class='Entered_Price__c' type="number" formatter="currency" step="0.01" onchange={handleChange}
                                label="Entered Price"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Unit_Wholesale_Cost__c}>
                            <lightning-input name="Unit_Wholesale_Cost__c" class='Unit_Wholesale_Cost__c' type="number" formatter="currency" step="0.01"
                                onchange={handleChange} label="Whole Sale Cost"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Unit_of_Measure__c}>
                            <lightning-record-edit-form object-api-name="OrderItem">
                                <lightning-input-field field-name="Unit_of_Measure__c" class='Unit_of_Measure__c' onchange={handleChange}></lightning-input-field>
                            </lightning-record-edit-form>
                        </div>
                        <div if:true={productFieldControl.Total_Retail_Price__c}>
                            <lightning-input name="Total_Retail_Price__c" class='Total_Retail_Price__c' type="number" formatter="currency" step="0.01"
                                onchange={handleChange} label="Total Retail Price"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Tax__c}>
                            <lightning-input name="Tax__c" class='Tax__c' type="number" formatter="currency" step="0.01" onchange={handleChange}
                                label="Tax"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- end of first column -->
                    <!-- white space column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'></lightning-layout-item>
                    <!-- second column -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Part_of_Bay__c}>
                            <lightning-input name="Part_of_Bay__c" class='Part_of_Bay__c' type="checkbox" label="Part of Bay" onchange={handleChange}>
                            </lightning-input>
                        </div>
                        <div if:true={productFieldControl.Part_of_Bow__c}>
                            <lightning-input name="Part_of_Bow__c" class='Part_of_Bow__c' type="checkbox" label="Part of Bow" onchange={handleChange}>
                            </lightning-input>
                        </div>                        
                        <div if:true={productFieldControl.NSPR__c}>
                            <lightning-input name="NSPR__c" class='NSPR__c' type="checkbox" label="NSPR/SPR" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.NSPR_Number__c}>
                            <lightning-input name="NSPR_Number__c" class='NSPR_Number__c' label="NSPR Number" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Tax_Credit_Qualified__c}>
                            <lightning-input name="Tax_Credit_Qualified__c" class='Tax_Credit_Qualified__c' type="checkbox" onchange={handleChange}
                                label="Tax Credit Qualified"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Notes__c}>
                            <lightning-input name="Notes__c" class='Notes__c' label="Notes" onchange={handleChange}></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Responsible_Party__c}>
                            <lightning-record-edit-form object-api-name="OrderItem">
                                <lightning-input-field field-name="Responsible_Party__c" class='Responsible_Party__c' onchange={handleChange}></lightning-input-field>
                            </lightning-record-edit-form>
                        </div>
                        <div if:true={productFieldControl.Verify_Item_Configuration__c}>
                            <lightning-input name="Verify_Item_Configuration__c" class='Verify_Item_Configuration__c' type="checkbox" onchange={handleChange}
                                label="Verify Item Configuration"></lightning-input>
                        </div>
                        <div if:true={productFieldControl.Extended_Description__c}>
                            <lightning-input name="Extended_Description__c" class='Extended_Description__c' label="Extended Description" onchange={handleChange}>
                            </lightning-input>
                        </div>

                    </lightning-layout-item>
                    <!--end second column-->

                </lightning-layout>
            </lightning-accordion-section>

            <lightning-accordion-section name="Sales-Information" label="Sales Information">
                <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                    <!-- first row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='4'>
                        <div if:true={productFieldControl.Room__c}>
                            <lightning-input name="Room__c" class='Room__c' label="Room" onchange={handleChange}></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='8'></lightning-layout-item>                    
                    <!--end first row -->
                    <!-- second row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Sales_Width_Inches__c}>
                            <lightning-input name="Sales_Width_Inches__c" class='Sales_Width_Inches__c' type="number" step="1" onchange={handleChange}
                                label="Sales Width Inches"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- White Space row -->
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='6'>
                        <!-- <div if:true={productFieldControl.Sales_Width_Fraction__c}>
                            <lightning-combobox name="Sales_Width_Fraction__c" label="Sales Width Fraction" onchange={handleChange}
                                placeholder="--Select--" value={value} options={fractionList}>
                            </lightning-combobox>
                        </div> -->
                    </lightning-layout-item>
                    <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Sales_Height_Inches__c}>
                            <lightning-input name="Sales_Height_Inches__c" class='Sales_Height_Inches__c' type="number" step="1" onchange={handleChange}
                            label="Sales Height Inches"></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='3'>
                        <div if:true={productFieldControl.Sales_Height_Fraction__c}>
                            <lightning-combobox name="Sales_Height_Fraction__c" label="Sales Height Fraction" onchange={handleChange}
                                placeholder="--Select--" value={value} options={fractionList}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item> -->
                </lightning-layout>
            </lightning-accordion-section>
            <div if:true={editMode}>
                <lightning-accordion-section name="Change-History" label="Change History">
                    <lightning-layout horizontal-align="spread" multiple-rows="true" pull-to-boundary="medium">
                        <!-- first row -->
                        <lightning-layout-item flexibility="auto" padding="horizontal-medium" size='12'>
                            <c-change-history record-id={orderItemId}></c-change-history>
                        </lightning-layout-item>

                    </lightning-layout>
                </lightning-accordion-section>
            </div>
        </lightning-accordion>

        <div style="height: 180px;">
            <div class="slds-docked-form-footer">
                <template if:false={showMakabilitySpinner}>     
                    <lightning-button-group>
                        <lightning-button type="submit" variant="neutral" label="Save and View" icon-name="utility:save"
                        onclick={handleSaveAndView}></lightning-button>                        
                        <lightning-button type="submit" variant="neutral" label="Save and New" icon-name="utility:save"
                            onclick={handleSaveAndNew}></lightning-button>                    
                        <!-- adding save and clone to edit page as well. see RFBUILD 177 -->
                        <!-- <template if:false={editMode}> -->
                            <lightning-button type="submit" variant="neutral" label="Save and Clone" icon-name="utility:save"
                                onclick={handleSaveAndClone}></lightning-button>
                        <!-- </template>     -->
                        <lightning-button type="submit" variant="neutral" label="Save and Close" icon-name="utility:save"
                            onclick={handleSaveAndClose}></lightning-button>
                        <lightning-button type="submit" variant="neutral" label="Cancel" 
                            onclick={handleCancel}></lightning-button>
                    </lightning-button-group>               
                </template>
            </div>
        </div>
        <template if:true={showMakabilitySpinner}>
            <lightning-spinner alternative-text="Running Makability" size="large"></lightning-spinner>
        </template>

    </div>
 <!--Makability model -->
 <template if:true={makabilityModel} >
    <div class="demo-only" style="height: 250px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeMakabilityModel}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <center>
                        <p>Makability Errors Below : </p>
                        <template for:each={makabilityErrors} for:item='error'>
                            <p key={error.Id}>{error.errorMessage}</p>
                        </template>
                    </center>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>        
</template>