.button {
    float: right;
    color: white;
}

.innerButton {
    background-color:#4D5542;
    border: none;
    width: 160px;
    height: 30px;
    border-radius: 4px;
}

.page {
    width: 100%;
    padding-top: 10px;
}